In [3]:
#traitement pour ajout directors dans finish him

# link = "df_finish_him.xlsx"
# df_finish_him= pd.read_excel(link)

# df_finish_him

In [4]:
#traitement pour ajout directors dans finish him

# link = "name.basics.tsv"
# df_pj2_name_basics= pd.read_csv(link, sep = "\t")

# df_pj2_name_basics.head(20)

In [5]:
#traitement pour ajout directors dans finish him

# link = "title.crew.tsv"
# df_title_crew= pd.read_csv(link, sep = "\t")

# df_title_crew.head(20)

# merge_df_finish_him_crew = df_finish_him.merge(df_title_crew[['tconst','directors']], how='inner', left_on=['tconst'], right_on=['tconst'])

In [6]:
# #traitement pour ajout directors dans finish him

# merge_df_finish_him_crew.head()

# df_director_title = merge_df_finish_him_crew[['tconst','directors']]

# display(df_director_title)

# # df_director_title['directors'] = df_director_title['directors'].str.split(',')

# # df_director_title['directors'] = df_director_title['directors'].explode('directors')

# df_director_title

# #merge_director_name = df_director_title.merge(df_pj2_name_basics, how='inner', left='directors', right='nconst')

In [7]:
#traitement pour ajout directors dans finish him

# df_director_title['directors']

In [8]:
# #traitement pour ajout directors dans finish him

# df_pj2_name_basics = df_pj2_name_basics.set_index('nconst')

In [9]:
#traitement pour ajout directors dans finish him

# df_pj2_name_basics.loc['nm0078205']['primaryName']

In [10]:
#traitement pour ajout directors dans finish him (fonction amene les directors d'un autre data frame)

def process_dir(liste_dir):
    liste = []
    liste_dir = liste_dir.split(',') 
    for dir_id in liste_dir:
        try:
            liste.append(df_pj2_name_basics.loc[dir_id]['primaryName'])
        except Exception as e:
            print(e)
            pass
    return liste

In [11]:
#traitement pour ajout directors dans finish him

# df_director_title

In [12]:
#traitement pour ajout directors dans finish him

#df_director_title["directors"] = df_director_title["directors"].apply(process_dir)

# df_director_title

In [13]:
# #traitement pour ajout directors dans finish him

# #df_finish_him = df_finish_him.merge(df_director_title[['tconst',"directors"]], how='inner', left_on='tconst', right_on='tconst')
# #verifier film sans director si pourri d√©gage


# df_finish_him.to_excel('df_finish_him.xlsx', index=False)

In [14]:

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import QuantileTransformer

In [15]:
link = "df_finish_him.csv"
df_finish_him= pd.read_csv(link)

df_finish_him.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear',
       'runtimeMinutes', 'genres_x', 'averageRating', 'numVotes', 'bucket 10',
       'backdrop_path', 'original_language', 'overview', 'popularity',
       'poster_path', 'production_countries', 'spoken_languages',
       'vote_average', 'vote_count', 'production_companies_name', 'ecart vote',
       'title_y', 'region', 'category', 'primaryName', 'directors',
       'job_name'],
      dtype='object')

In [16]:
#transformation des string avec split sur genres_x:

# df_finish_him['genres_x'] = df_finish_him['genres_x'].str.split(',')

# df_finish_him

In [17]:
# transofrmation des string en liste avec eval :
df_finish_him['category'] = df_finish_him['category'].apply(eval)
df_finish_him['primaryName'] = df_finish_him['primaryName'].apply(eval)
df_finish_him['production_companies_name'] = df_finish_him['production_companies_name'].apply(eval)
df_finish_him['production_countries'] = df_finish_him['production_countries'].apply(eval)
df_finish_him['genres_x'] = df_finish_him['genres_x'].apply(eval)
df_finish_him['directors'] = df_finish_him['directors'].apply(eval)

In [18]:
# df_finish_him['job_name'] = [(job, name) for job, name in zip(df_finish_him['category'], df_finish_him['primaryName'])]


# df_finish_him = df_finish_him.drop(columns='job_name')

In [19]:
mlb = MultiLabelBinarizer()

genre_mlb = mlb.fit_transform(df_finish_him['genres_x'])

mlb.classes_

df_genre_before = pd.DataFrame(genre_mlb, columns=mlb.classes_)

df_genre_before


mlb = MultiLabelBinarizer()

prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

prod_country_mlb

df_prod_country = pd.DataFrame(prod_country_mlb, columns=mlb.classes_)

# mlb = MultiLabelBinarizer()

# prod_company_mlb = mlb.fit_transform(df_finish_him['production_companies_name'])

# prod_company_mlb

# df_prod_company= pd.DataFrame(prod_company_mlb, columns=mlb.classes_)



display(df_genre_before.head())

display(df_prod_country.head())

# display(df_prod_company.head())

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

,AE,AF,AL,AM,AR,AT,AU,AW,BA,BD,...,VE,VN,VU,XC,XG,XK,YU,ZA,ZM,ZW
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# pond√©ration genre :

df_genre = df_genre_before*2.5

df_genre[['Crime','Comedy','Adventure','Action','Horror','Mystery','Romance','Thriller']] = df_genre_before[['Crime','Comedy','Adventure','Action','Horror','Mystery','Romance','Thriller']] * 1.6

df_genre[['Sci-Fi','Biography','Animation','Family','Fantasy']] = df_genre_before[['Sci-Fi','Biography','Animation','Family','Fantasy']] *1.9

df_genre[['Film-Noir','Documentary','Music','History','Musical','Sport','War','Western']]= df_genre_before[['Film-Noir','Documentary','Music','History','Musical','Sport','War','Western']]  *2.2

In [21]:
df_genre_before.sum()

Action          4757
Adventure       3330
Animation        987
Biography       1360
Comedy          7513
Crime           4198
Documentary      614
Drama          13000
Family          1202
Fantasy         1518
Film-Noir        271
History          958
Horror          3166
Music            657
Musical          346
Mystery         2232
News               8
Romance         3979
Sci-Fi          1413
Sport            426
Thriller        3517
War              671
Western          371
dtype: int64

In [22]:
df_genre.sum()

Action          7611.2
Adventure       5328.0
Animation       1875.3
Biography       2584.0
Comedy         12020.8
Crime           6716.8
Documentary     1350.8
Drama          32500.0
Family          2283.8
Fantasy         2884.2
Film-Noir        596.2
History         2107.6
Horror          5065.6
Music           1445.4
Musical          761.2
Mystery         3571.2
News              20.0
Romance         6366.4
Sci-Fi          2684.7
Sport            937.2
Thriller        5627.2
War             1476.2
Western          816.2
dtype: float64

In [23]:
mlb = MultiLabelBinarizer()

directors_mlb = mlb.fit_transform(df_finish_him['directors'])

directors_mlb

# prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

# prod_country_mlb

df_directors=pd.DataFrame(directors_mlb, columns=mlb.classes_)

df_directors.head()

,A. Edward Sutherland,A. Todd Smith,A. Vinoth Kumar,A.L. Vijay,A.R. Murugadoss,A.T. White,A.V. Rockwell,Aakash Bhatia,Aamir Khan,Aanand L. Rai,...,√âtienne Chatiliez,√âva G√°rdos,√ìliver Laxe,√ìskar J√≥nasson,√ìskar Th√≥r Axelsson,√ñmer Faruk Sorak,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# 1. Initialiser le StandardScaler
# Nous cr√©ons une instance de StandardScaler qui va normaliser les donn√©es.
scaler = StandardScaler()

# 2. Ajuster et transformer les donn√©es
# 2.1. Ajuster le scaler sur les colonnes num√©riques s√©lectionn√©es ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les √©carts-types de ces colonnes.
scaler.fit(df_finish_him[['averageRating', 'bucket 10', 'vote_average']])

# 2.2. Transformer les donn√©es en utilisant le scaler ajust√© pour obtenir une nouvelle matrice normalis√©e X_scaled.
X_scaled_num = scaler.transform(df_finish_him[['averageRating', 'bucket 10', 'vote_average']])

# 3. Cr√©er un DataFrame √† partir des donn√©es normalis√©es
# Nous cr√©ons un nouveau DataFrame 'normalize_num' en utilisant les donn√©es normalis√©es (X_scaled_num) et en sp√©cifiant les noms des colonnes d'origine.
normalize_num = pd.DataFrame(X_scaled_num, columns=['averageRating', 'bucket 10', 'vote_average'])

# Afficher le DataFrame normalis√©
display(normalize_num.describe())

       averageRating     bucket 10  vote_average
count   2.277400e+04  2.277400e+04  2.277400e+04
mean   -6.689223e-16  4.392923e-15 -1.532531e-15
std     1.000022e+00  1.000022e+00  1.000022e+00
min    -5.021342e+00 -3.621992e+00 -6.175537e+00
25%    -5.747786e-01 -5.746963e-01 -4.500873e-01
50%     1.018724e-01  2.959595e-01  1.043957e-01
75%     6.818590e-01  7.312875e-01  6.219779e-01
max     2.808476e+00  1.166615e+00  3.535199e+00

In [25]:
# 1. Initialiser le StandardScaler
# Nous cr√©ons une instance de StandardScaler qui va normaliser les donn√©es.
qt = QuantileTransformer(n_quantiles=10, random_state=0)

# 2. Ajuster et transformer les donn√©es
# 2.1. Ajuster le scaler sur les colonnes num√©riques s√©lectionn√©es ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les √©carts-types de ces colonnes.
# 2.2. Transformer les donn√©es en utilisant le scaler ajust√© pour obtenir une nouvelle matrice normalis√©e X_scaled.
qt_norm_vote_pop = qt.fit_transform(df_finish_him[['numVotes', 'popularity','vote_count']])




# 3. Cr√©er un DataFrame √† partir des donn√©es normalis√©es
# Nous cr√©ons un nouveau DataFrame 'normalize_num' en utilisant les donn√©es normalis√©es (X_scaled_num) et en sp√©cifiant les noms des colonnes d'origine.
qt_vote_popularity = pd.DataFrame(qt_norm_vote_pop, columns=['numVotes', 'popularity','vote_count'])

# Afficher le DataFrame normalis√©
display(qt_vote_popularity)

       numVotes  popularity  vote_count
0      0.240248    0.216963    0.433333
1      0.092404    0.251183    0.252137
2      0.277223    0.267549    0.436111
3      0.251525    0.096277    0.230769
4      0.722439    0.712741    0.720930
...         ...         ...         ...
22769  0.793788    0.564531    0.320513
22770  0.344742    0.174217    0.286325
22771  0.675676    0.888264    0.522876
22772  0.213725    0.092757    0.095679
22773  0.403990    0.482507    0.615048

[22774 rows x 3 columns]

In [26]:
# ponderation matrice normalize_num:

#normalize_num[['numVotes','vote_count']] = normalize_num[['numVotes','vote_count']] *0.5

normalize_num['bucket 10'] = normalize_num['bucket 10']*0.3

normalize_num['averageRating'] = normalize_num['averageRating'] * 0.6

#normalize_num['popularity'] = normalize_num['popularity'] * 0.3 #quantile transformer

normalize_num['vote_average'] =normalize_num['vote_average'] * 0.5

In [27]:
normalize_num.describe()

       averageRating     bucket 10  vote_average
count   2.277400e+04  2.277400e+04  2.277400e+04
mean   -3.893727e-16  1.257973e-15 -7.662655e-16
std     6.000132e-01  3.000066e-01  5.000110e-01
min    -3.012805e+00 -1.086598e+00 -3.087768e+00
25%    -3.448671e-01 -1.724089e-01 -2.250436e-01
50%     6.112346e-02  8.878786e-02  5.219787e-02
75%     4.091154e-01  2.193862e-01  3.109890e-01
max     1.685086e+00  3.499846e-01  1.767599e+00

In [28]:
df_finish_him_concat = pd.concat([df_genre,df_prod_country,df_directors,normalize_num,qt_vote_popularity], axis = 1)

df_finish_him_concat_index = df_finish_him_concat.set_index(df_finish_him['title_y'])

df_finish_him_concat_index.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
L'Enfer,0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,1.9,...,0,0,0,0,0.351117,-1.086598,0.019667,0.240248,0.216963,0.433333
L'√©tudiant de Prague,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,1.9,...,0,0,0,0,0.003125,-1.086598,-0.197854,0.092404,0.251183,0.252137
Cabiria,0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0.409115,-1.086598,0.408096,0.277223,0.267549,0.436111
La Folle Aventure de Charlot et de Lolotte,0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-0.112873,-1.086598,-0.077440,0.251525,0.096277,0.230769
Naissance d'une nation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,-0.170871,-1.086598,-0.152213,0.722439,0.712741,0.720930

In [29]:
#liste film test:

liste_film = ["Il faut sauver le soldat Ryan","Inspecteur Gadget","Bienvenue chez les Ch'tis","Scream","Intouchables","Un indien dans la ville","Le Roi lion","Matrix","Le Flic de Beverly Hills","Rush Hour","Resident Evil","Harry Potter √† l'√©cole des sorciers","Jurassic World","Le Bon, la Brute et le Truand","Pearl Harbor"]

data_test = df_finish_him_concat_index.loc[liste_film]

In [30]:
#preparation du model :


# Initialiser le mod√®le NearestNeighbors pour trouver les 10 plus proches voisins
neigh = NearestNeighbors(n_neighbors=11)

# Ajuster le mod√®le sur les donn√©es du DataFrame df_final
neigh.fit(df_finish_him_concat)

dis, indice = neigh.kneighbors(data_test)

In [31]:
# Boucler sur chaque Pok√©mon champion pour afficher ses voisins les plus proches
for index, (d, i) in enumerate(zip(dis, indice)):
    # Afficher la ligne de df_pokemon_lengendary_champion correspondant au Pok√©mon champion en cours de traitement
    result = data_test.iloc[[index]]
    display(result)
    # S√©lectionner les Pok√©mon non-l√©gendaires les plus proches en utilisant les indices trouv√©s
    reco = df_finish_him.iloc[i]
    
    # Ajouter une colonne 'distance' au DataFrame reco pour inclure les distances calcul√©es
    reco['distance'] = d
    
    # Afficher les recommandations de Pok√©mon non-l√©gendaires avec leurs distances par rapport au Pok√©mon champion
    display(reco)

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Il faut sauver le soldat Ryan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.279095,-0.041811,0.897517,0.952314,0.890175,0.932666

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8641,tt0120815,movie,Saving Private Ryan,Saving Private Ryan,1998,169,"[Drama, War]",8.6,1529918,1990,...,14165,"[Paramount, Amblin Entertainment, Mutual Film ...",1515753,Il faut sauver le soldat Ryan,FR,"[actor, actor, actor, actor, actor, actor, act...","[Tom Hanks, Matt Damon, Tom Sizemore, Edward B...",[Steven Spielberg],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.000000
2151,tt0055031,movie,Judgment at Nuremberg,Judgment at Nuremberg,1961,179,"[Drama, War]",8.3,87623,1960,...,643,"[United Artists, Roxlom Films]",86980,Jugement √† Nuremberg,FR,"[actor, actor, actor, actress, actor, actress,...","[Spencer Tracy, Burt Lancaster, Richard Widmar...",[Stanley Kramer],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.497632
1790,tt0050825,movie,Paths of Glory,Paths of Glory,1957,88,"[Drama, War]",8.4,218506,1950,...,2450,"[United Artists, Bryna Productions]",216056,Les Sentiers de la gloire,FR,"[actor, actor, actor, actor, actor, actor, act...","[Kirk Douglas, Ralph Meeker, Adolphe Menjou, G...",[Stanley Kubrick],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.518520
3347,tt0067277,movie,Johnny Got His Gun,Johnny Got His Gun,1971,111,"[Drama, War]",7.8,18833,1970,...,321,[World Entertainment],18512,Johnny s'en va-t-en guerre,FR,"[actor, actress, actress, actor, actor, actor,...","[Timothy Bottoms, Kathy Fields, Marsha Hunt, J...",[Dalton Trumbo],"(['actor', 'actress', 'actress', 'actor', 'act...",1.633008
144,tt0020629,movie,All Quiet on the Western Front,All Quiet on the Western Front,1930,152,"[Drama, War]",8.1,68748,1930,...,653,[Universal Pictures],68095,√Ä l'Ouest rien de nouveau,FR,"[actor, actor, actor, actor, actor, actor, act...","[Lew Ayres, Louis Wolheim, John Wray, Arnold L...",[Lewis Milestone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.666200
18140,tt2396589,movie,Mudbound,Mudbound,2017,134,"[Drama, War]",7.4,55306,2010,...,1112,"[Zeal Media, Armory Films, Black Bear Pictures...",54194,Mudbound,FR,"[actor, actress, actor, actress, actor, actor,...","[Jason Mitchell, Carey Mulligan, Jason Clarke,...",[Dee Rees],"(['actor', 'actress', 'actor', 'actress', 'act...",1.695529
5813,tt0093058,movie,Full Metal Jacket,Full Metal Jacket,1987,116,"[Drama, War]",8.2,805637,1980,...,9364,"[Natant, Stanley Kubrick Productions, Warner B...",796273,Full Metal Jacket,FR,"[actor, actor, actor, actor, actor, actor, act...","[Matthew Modine, R. Lee Ermey, Vincent D'Onofr...",[Stanley Kubrick],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.753083
1459,tt0046816,movie,The Caine Mutiny,The Caine Mutiny,1954,124,"[Drama, War]",7.7,30759,1950,...,272,"[Stanley Kramer Productions, Columbia Pictures]",30487,Ouragan sur le Caine,FR,"[actor, actor, actor, actor, actor, actress, a...","[Humphrey Bogart, Jos√© Ferrer, Van Johnson, Fr...",[Edward Dmytryk],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.767878
782,tt0037017,movie,Lifeboat,Lifeboat,1944,97,"[Drama, War]",7.6,31950,1940,...,367,[20th Century Fox],31583,Canot de sauvetage,FR,"[actress, actor, actor, actor, actress, actor,...","[Tallulah Bankhead, John Hodiak, Walter Slezak...",[Alfred Hitchcock],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.772084
5678,tt0091763,movie,Platoon,Platoon,1986,120,"[Drama, War]",8.1,447013,1980,...,3927,"[Hemdale Film Corporation, Cinema 86, Cinema 8...",443086,Platoon,FR,"[actor, actor, actor, actor, actor, actor, act...","[Charlie Sheen, Tom Berenger, Willem Dafoe, Ke...",[Oliver Stone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.776236
4261,tt0077416,movie,The Deer Hunter,The Deer Hunter,1978,183,"[Drama, War]",8.1,368354,1970,...,3256,"[Universal Pictures, EMI Films]",365098,Voyage au bout de l'enfer,FR,"[actor, actor, actor, actor, actress, actor, a...","[Robert De Niro, Christopher Walken, John Caza...",[Michael Cimino],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.782253

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Inspecteur Gadget,1.6,1.6,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-1.272846,-0.041811,-0.928101,0.807388,0.728584,0.8324

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8879,tt0141369,movie,Inspector Gadget,Inspector Gadget,1999,78,"[Action, Adventure, Comedy]",4.2,51595,1990,...,1056,"[DiC Entertainment, Walt Disney Pictures, Cara...",50539,Inspecteur Gadget,FR,"[actor, actor, actor, actor, actress, actress,...","[Matthew Broderick, Matthew Broderick, Matthew...",[David Kellogg],"(['actor', 'actor', 'actor', 'actor', 'actress...",0.000000
19459,tt3899796,tvMovie,Sharknado 3: Oh Hell No!,Sharknado 3: Oh Hell No!,2015,93,"[Action, Adventure, Comedy]",4.0,14108,2010,...,447,"[Syfy, The Asylum]",13661,Sharknado 3: Oh Hell No!,FR,"[actor, actress, actress, actor, actress, acto...","[Ian Ziering, Tara Reid, Cassandra Scerbo, Fra...",[Anthony C. Ferrante],"(['actor', 'actress', 'actress', 'actor', 'act...",1.464189
10669,tt0338459,movie,Spy Kids 3: Game Over,Spy Kids 3: Game Over,2003,84,"[Action, Adventure, Comedy]",4.4,67628,2000,...,1959,[Dimension Films],65669,Spy Kids 3,FR,"[actor, actress, actor, actress, actor, actres...","[Daryl Sabara, Alexa PenaVega, Antonio Bandera...",[Robert Rodriguez],"(['actor', 'actress', 'actor', 'actress', 'act...",1.467613
7157,tt0106761,movie,Double Dragon,Double Dragon,1994,96,"[Action, Adventure, Comedy]",3.9,14096,1990,...,267,"[Gramercy Pictures, Imperial Entertainment]",13829,Double Dragon,FR,"[actor, actor, actor, actress, actress, actres...","[Robert Patrick, Mark Dacascos, Scott Wolf, Kr...",[James Yukich],"(['actor', 'actor', 'actor', 'actress', 'actre...",1.469346
16282,tt1608290,movie,Zoolander 2,Zoolander 2,2016,101,"[Action, Adventure, Comedy]",4.7,77401,2010,...,2023,"[Scott Rudin Productions, Red Hour]",75378,Zoolander No. 2,FR,"[actor, actor, actress, actor, actor, actor, a...","[Ben Stiller, Owen Wilson, Pen√©lope Cruz, Will...",[Ben Stiller],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.483725
11595,tt0424774,movie,The Adventures of Sharkboy and Lavagirl 3-D,The Adventures of Sharkboy and Lavagirl 3-D,2005,93,"[Action, Adventure, Comedy]",3.8,43456,2000,...,1310,[Troublemaker Studios],42146,Les aventures de Sharkboy et Lavagirl,FR,"[actor, actor, actor, actor, actress, actor, a...","[Cayden Boyd, George Lopez, George Lopez, Geor...",[Robert Rodriguez],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.485999
5739,tt0092534,movie,Allan Quatermain and the Lost City of Gold,Allan Quatermain and the Lost City of Gold,1986,99,"[Action, Adventure, Comedy]",4.6,10686,1980,...,214,"[Cannon Group, Golan-Globus Productions]",10472,Allan Quatermain et la Cit√© de l'or perdu,FR,"[actor, actress, actor, actor, actor, actor, a...","[Richard Chamberlain, Sharon Stone, James Earl...",[Gary Nelson],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.491331
15889,tt1517489,movie,The Survival of Humanity,Spy Kids 4: All the Time in the World,2011,89,"[Action, Adventure, Comedy]",3.6,29008,2010,...,867,[Dimension Films],28141,Spy Kids 4: Tout le temps du monde,FR,"[actress, actor, actor, actor, actor, actress,...","[Jessica Alba, Jeremy Piven, Jeremy Piven, Jer...",[Robert Rodriguez],"(['actress', 'actor', 'actor', 'actor', 'actor...",1.492627
20105,tt4831420,tvMovie,Sharknado 4: The 4th Awakens,Sharknado 4: The 4th Awakens,2016,95,"[Action, Adventure, Comedy]",3.9,9265,2010,...,336,"[The Asylum, Syfy]",8929,Sharknado 4 : Le 4·µâ r√©veil,FR,"[actor, actress, actress, actor, actress, actr...","[Ian Ziering, Tara Reid, Masiela Lusha, Cody L...",[Anthony C. Ferrante],"(['actor', 'actress', 'actress', 'actor', 'act...",1.498753
11147,tt0383060,movie,Zoom,Zoom,2006,83,"[Action, Adventure, Comedy]",4.4,23135,2000,...,545,"[Revolution Studios, Team Todd, Boxing Cat Fil...",22590,Zoom : L'Acad√©mie des super-h√©ros,FR,"[actor, actor, actress, actor, actor, actor, a...","[Tim Allen, Tim Allen, Courteney Cox, Chevy Ch...",[Peter Hewitt],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.504090
21073,tt6298780,tvMovie,Sharknado 5: Global Swarming,Sharknado 5: Global Swarming,2017,93,"[Action, Adventure, Comedy]",3.9,7128,2010,...,288,"[Syfy, The Asylum]",6840,Sharknado 5: Global Swarming,FR,"[actor, actress, actress, actor, actress, actr...","[Ian Ziering, Tara Reid, Cassandra Scerbo, Bil...",[Anthony C. Ferrante],"(['actor', 'actress', 'actress', 'actor', 'act...",1.516430

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Bienvenue chez les Ch'tis,0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.409115,0.088788,0.152704,0.795961,0.752678,0.891369

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
13521,tt1064932,movie,Welcome to the Sticks,Bienvenue chez les Ch'tis,2008,106,"[Comedy, Romance]",7.1,45681,2000,...,2227,"[TF1 Films Production, Path√© Renn Productions,...",43454,Bienvenue chez les Ch'tis,FR,"[actor, actor, actress, actor, actress, actor,...","[Kad Merad, Dany Boon, Zo√© F√©lix, Lorenzo Ausi...",[Dany Boon],"(['actor', 'actor', 'actress', 'actor', 'actre...",0.000000
12214,tt0482088,movie,Priceless,Hors de prix,2006,106,"[Comedy, Romance]",7.0,33409,2000,...,665,"[France 2 Cin√©ma, France 3 Cin√©ma, Atlan Films...",32744,Hors de prix,FR,"[actress, actor, actress, actor, actor, actres...","[Audrey Tautou, Gad Elmaleh, Marie-Christine A...",[Pierre Salvadori],"(['actress', 'actor', 'actress', 'actor', 'act...",1.444566
20629,tt5657028,movie,Alibi.com,Alibi.com,2016,89,"[Comedy, Romance]",6.5,10353,2010,...,1521,"[Fechner Films, TF1 Droits Audiovisuels, Studi...",8832,Alibi.com,FR,"[actor, actress, actor, actor, actor, actor, a...","[Philippe Lacheau, √âlodie Fontan, Julien Arrut...",[Philippe Lacheau],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.486463
19842,tt4466936,movie,Blind Date,"Un peu, beaucoup, aveugl√©ment!",2015,90,"[Comedy, Romance]",6.6,7222,2010,...,511,[Cine Nomin√©],6711,"Un peu, beaucoup, aveugl√©ment",FR,"[actress, actor, actress, actor, actor, actor,...","[M√©lanie Bernier, Clovis Cornillac, Lilou Fogl...",[Clovis Cornillac],"(['actress', 'actor', 'actress', 'actor', 'act...",1.514567
17709,tt2186812,movie,It Boy,20 ans d'√©cart,2013,92,"[Comedy, Romance]",6.3,12150,2010,...,1153,"[TF1, Echo Films, EuropaCorp, Cin√©+, Canal+, T...",10997,20 ans d'√©cart,FR,"[actress, actor, actor, actor, actress, actres...","[Virginie Efira, Pierre Niney, Charles Berling...",[David Moreau],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.526914
20019,tt4699388,movie,Up for Love,Un homme √† la hauteur,2016,98,"[Comedy, Romance]",6.3,9414,2010,...,736,"[Creative Andina, VVZ Productions, Gaumont]",8678,Un homme √† la hauteur,FR,"[actor, actress, actor, actress, actor, actres...","[Jean Dujardin, Virginie Efira, C√©dric Kahn, S...",[Laurent Tirard],"(['actor', 'actress', 'actor', 'actress', 'act...",1.554271
2940,tt0063005,movie,The Gendarme Gets Married,Le gendarme se marie,1968,92,"[Comedy, Romance]",6.8,8838,1960,...,491,"[Soci√©t√© Nouvelle de Cin√©matographie, Medusa P...",8347,Le Gendarme se marie,FR,"[actor, actor, actress, actor, actor, actor, a...","[Louis de Fun√®s, Jean Lefebvre, Genevi√®ve Grad...",[Jean Girault],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.564834
12180,tt0478724,movie,I Do: How to Get Married and Stay Single,Pr√™te-moi ta main,2006,90,"[Comedy, Romance]",6.7,6662,2000,...,273,"[Chez Wam, StudioCanal, Script Associ√©s, TF1 F...",6389,L'amour est un bouquet de violettes,FR,"[actor, actress, actress, actor, actor, actres...","[Alain Chabat, Charlotte Gainsbourg, Bernadett...",[√âric Lartigau],"(['actor', 'actress', 'actress', 'actor', 'act...",1.568334
14356,tt1194616,movie,LOL (Laughing Out Loud),LOL (Laughing Out Loud) ¬Æ,2008,103,"[Comedy, Romance]",6.2,9775,2000,...,1204,"[Poisson Rouge Pictures, Path√©, Bethsab√©e Much...",8571,Lol,FR,"[actress, actress, actor, actress, actress, ac...","[Sophie Marceau, Christa Th√©ret, J√©r√©my Kapone...",[Lisa Azuelos],"(['actress', 'actress', 'actor', 'actress', 'a...",1.570722
4242,tt0077276,movie,French Fried Vacation,Les bronz√©s,1978,105,"[Comedy, Romance]",6.7,7911,1970,...,786,"[CCFC, Trinacra Films]",7125,Les Bronz√©s,FR,"[actress, actor, actress, actor, actor, actor,...","[Josiane Balasko, Luis Rego, Marie-Anne Chazel...",[Patrice Leconte],"(['actress', 'actor', 'actress', 'actor', 'act...",1.588377
17058,tt1872880,movie,Happiness Never Comes Alone,Un bonheur n'arrive jamais seul,2012,110,"[Comedy, Romance]",6.5,5623,2010,...,395,"[Path√©, Eskwad]",5228,Un bonheur n'arrive jamais seul,FR,"[actor, actress, actor, actor, actor, actress,...","[Gad Elmaleh, Sophie Marceau, Maurice Barth√©l√©...",[James Huth],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.588961

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Scream,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.583111,-0.041811,0.498892,0.902608,0.89201,0.903933

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8123,tt0117571,movie,Scream,Scream,1996,111,"[Horror, Mystery]",7.4,404422,1990,...,5859,"[Dimension Films, Woods Entertainment]",398563,Scream,FR,"[actress, actress, actor, actor, actress, acto...","[Neve Campbell, Courteney Cox, David Arquette,...",[Wes Craven],"(['actress', 'actress', 'actor', 'actor', 'act...",0.000000
8456,tt0120082,movie,Scream 2,Scream 2,1997,120,"[Horror, Mystery]",6.3,216652,1990,...,3462,"[Konrad Pictures, Dimension Films, Craven-Madd...",213190,Scream 2,FR,"[actress, actress, actor, actress, actor, actr...","[Neve Campbell, Courteney Cox, David Arquette,...",[Wes Craven],"(['actress', 'actress', 'actor', 'actress', 'a...",0.779745
14692,tt1262416,movie,Scream 4,Scream 4,2011,111,"[Horror, Mystery]",6.2,175955,2010,...,3109,"[Dimension Films, The Weinstein Company, Outer...",172846,Hurlement 4,FR,"[actress, actress, actor, actress, actor, actr...","[Neve Campbell, Courteney Cox, David Arquette,...",[Wes Craven],"(['actress', 'actress', 'actor', 'actress', 'a...",0.875994
8816,tt0134084,movie,Scream 3,Scream 3,2000,116,"[Horror, Mystery]",5.7,169219,2000,...,2973,"[Craven-Maddalena Films, Dimension Films, Konr...",166246,Hurlement 3,FR,"[actor, actress, actress, actor, actress, acto...","[David Arquette, Neve Campbell, Courteney Cox,...",[Wes Craven],"(['actor', 'actress', 'actress', 'actor', 'act...",1.206419
4010,tt0074285,movie,Carrie,Carrie,1976,98,"[Horror, Mystery]",7.4,213878,1970,...,3267,[United Artists],210611,Carrie,FR,"[actress, actress, actress, actor, actor, actr...","[Sissy Spacek, Piper Laurie, Amy Irving, John ...",[Brian De Palma],"(['actress', 'actress', 'actress', 'actor', 'a...",1.439024
10285,tt0298130,movie,The Ring,The Ring,2002,115,"[Horror, Mystery]",7.1,383283,2000,...,5505,"[BenderSpink, Parkes+MacDonald Image Nation, D...",377778,Le Cercle,FR,"[actress, actor, actor, actor, actress, actres...","[Naomi Watts, Martin Henderson, Brian Cox, Dav...",[Gore Verbinski],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.475038
22692,tt9701942,movie,Fear Street: Part Three - 1666,Fear Street: 1666,2021,114,"[Horror, Mystery]",6.6,66757,2020,...,1405,[Chernin Entertainment],65352,"Fear Street, partie 3 : 1666",FR,"[actress, actress, actor, actor, actress, actr...","[Kiana Madeira, Kiana Madeira, Ashley Zukerman...",[Leigh Janiak],"(['actress', 'actress', 'actor', 'actor', 'act...",1.543859
11696,tt0432348,movie,Saw II,Saw II,2005,93,"[Horror, Mystery]",6.6,282731,2000,...,4610,"[Got Films, Twisted Pictures, Evolution Entert...",278121,Saw 2,FR,"[actor, actress, actor, actress, actor, actor,...","[Donnie Wahlberg, Beverley Mitchell, Franky G,...",[Darren Lynn Bousman],"(['actor', 'actress', 'actor', 'actress', 'act...",1.547641
2209,tt0055830,movie,Carnival of Souls,Carnival of Souls,1962,78,"[Horror, Mystery]",7.0,28963,1960,...,385,"[Harcourt Productions, Centron Corporation]",28578,Le Carnaval des √¢mes,FR,"[actress, actress, actor, actor, actor, actor,...","[Candace Hilligoss, Frances Feist, Sidney Berg...",[Herk Harvey],"(['actress', 'actress', 'actor', 'actor', 'act...",1.559919
19705,tt4267026,movie,Hell House LLC,Hell House LLC,2015,93,"[Horror, Mystery]",6.4,28242,2010,...,303,[Cognetti Films],27939,Hell House LLC,FR,"[actor, actress, actor, actor, actress, actor,...","[Gore Abrams, Alice Bahlke, Danny Bellini, The...",[Stephen Cognetti],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.643407
20079,tt4786282,movie,Lights Out,Lights Out,2016,81,"[Horror, Mystery]",6.3,145368,2010,...,3524,"[Warner Bros. Pictures, New Line Cinema, Atomi...",141844,Dans le noir,FR,"[actress, actor, actress, actor, actor, actres...","[Teresa Palmer, Gabriel Bateman, Maria Bello, ...",[David F. Sandberg],"(['actress', 'actor', 'actress', 'actor', 'act...",1.654929

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Scream,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-0.054874,0.349985,0.184264,0.892117,0.896185,0.891936

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
13898,tt11245972,movie,Scream,Scream,2022,114,"[Horror, Mystery, Thriller]",6.3,166869,2020,...,2391,"[Paramount, Project X Entertainment, Radio Sil...",164478,Scream,FR,"[actress, actress, actor, actress, actor, actr...","[Neve Campbell, Courteney Cox, David Arquette,...","[Matt Bettinelli-Olpin, Tyler Gillett]","(['actress', 'actress', 'actor', 'actress', 'a...",0.000000
16790,tt17663992,movie,Scream VI,Scream VI,2023,122,"[Horror, Mystery, Thriller]",6.4,129165,2020,...,1030,"[Radio Silence, Project X Entertainment, Spygl...",128135,Scream VI,FR,"[actress, actress, actress, actress, actor, ac...","[Courteney Cox, Melissa Barrera, Jenna Ortega,...","[Matt Bettinelli-Olpin, Tyler Gillett]","(['actress', 'actress', 'actress', 'actress', ...",0.309441
16050,tt15474916,movie,Smile,Smile,2022,115,"[Horror, Mystery, Thriller]",6.5,191993,2020,...,1983,"[Paramount Players, Temple Hill Entertainment,...",190010,Smile,FR,"[actress, actor, actor, actress, actress, acto...","[Sosie Bacon, Jessie T. Usher, Kyle Gallner, R...",[Parker Finn],"(['actress', 'actor', 'actor', 'actress', 'act...",1.735985
15187,tt13560574,movie,X,X,2022,105,"[Horror, Mystery, Thriller]",6.5,195658,2020,...,1918,"[A24, Little Lamb Productions]",193740,X,FR,"[actress, actress, actress, actress, actor, ac...","[Mia Goth, Mia Goth, Jenna Ortega, Brittany Sn...",[Ti West],"(['actress', 'actress', 'actress', 'actress', ...",1.736078
20318,tt5140878,movie,Annabelle: Creation,Annabelle: Creation,2017,109,"[Horror, Mystery, Thriller]",6.5,155339,2010,...,5102,"[Atomic Monster, New Line Cinema, The Safran C...",150237,Annabelle 2 : La Cr√©ation du mal,FR,"[actor, actress, actress, actor, actress, actr...","[Anthony LaPaglia, Samara Lee, Miranda Otto, B...",[David F. Sandberg],"(['actor', 'actress', 'actress', 'actor', 'act...",1.742181
17783,tt2226417,movie,Insidious: Chapter 2,Insidious: Chapter 2,2013,106,"[Horror, Mystery, Thriller]",6.6,192641,2010,...,3724,"[FilmDistrict, Blumhouse Productions, Stage 6 ...",188917,Insidious : Chapitre 2,FR,"[actor, actress, actress, actress, actor, acto...","[Patrick Wilson, Rose Byrne, Barbara Hershey, ...",[James Wan],"(['actor', 'actress', 'actress', 'actress', 'a...",1.746037
18120,tt2388715,movie,Oculus,Oculus,2013,104,"[Horror, Mystery, Thriller]",6.5,142642,2010,...,2642,"[MICA Entertainment, Intrepid Pictures, Blumho...",140000,The Mirror,FR,"[actress, actor, actress, actor, actress, acto...","[Karen Gillan, Brenton Thwaites, Katee Sackhof...",[Mike Flanagan],"(['actress', 'actor', 'actress', 'actor', 'act...",1.748771
19184,tt3567288,movie,The Visit,The Visit,2015,94,"[Horror, Mystery, Thriller]",6.3,159035,2010,...,4218,"[Blumhouse Productions, Blinding Edge Pictures]",154817,The Visit,FR,"[actress, actor, actress, actor, actress, actr...","[Olivia DeJonge, Ed Oxenbould, Deanna Dunagan,...",[M. Night Shyamalan],"(['actress', 'actor', 'actress', 'actor', 'act...",1.749496
19026,tt3387648,movie,The Taking of Deborah Logan,The Taking,2014,90,"[Horror, Mystery, Thriller]",6.0,42993,2010,...,997,"[Guerin-Adler-Scott Pictures, Bad Hat Harry Pr...",41996,L'Etrange cas Deborah Logan,FR,"[actress, actress, actress, actor, actor, acto...","[Jill Larson, Anne Ramsay, Michelle Ang, Brett...",[Adam Robitel],"(['actress', 'actress', 'actress', 'actor', 'a...",1.756711
22114,tt8350360,movie,Annabelle Comes Home,Annabelle Comes Home,2019,106,"[Horror, Mystery, Thriller]",5.9,90404,2010,...,3056,"[Atomic Monster, The Safran Company, New Line ...",87348,Annabelle : La Maison du mal,FR,"[actress, actor, actress, actress, actress, ac...","[Vera Farmiga, Patrick Wilson, Mckenna Grace, ...",[Gary Dauberman],"(['actress', 'actor', 'actress', 'actress', 'a...",1.758434
12286,tt0489270,movie,Saw III,Saw III,2006,108,"[Horror, Mystery, Thriller]",6.2,217282,2000,...,3855,"[Twisted Pictures, Evolution Entertainment, Li...",213427,Saw 3,FR,"[actor, actor, actress, actor, actress, actor,...","[Tobin Bell, Tobin Bell, Shawnee Smith, Angus ...",[Darren Lynn Bousman],"(['actor', 'actor', 'actress', 'actor', 'actre...",1.761168

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Intouchables,0.0,0.0,0.0,0.0,1.6,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.221097,0.219386,0.930048,0.926749,0.889839,0.937906

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
16521,tt1675434,movie,The Intouchables,Intouchables,2011,112,"[Comedy, Drama]",8.5,951050,2010,...,15680,"[Gaumont, Cin√©Cin√©ma, Quad Productions, Chaoco...",935370,Intouchables,FR,"[actor, actor, actress, actress, actress, actr...","[Fran√ßois Cluzet, Omar Sy, Anne Le Ny, Audrey ...","[Olivier Nakache, √âric Toledano]","(['actor', 'actor', 'actress', 'actress', 'act...",0.000000
22257,tt8655470,movie,The Specials,Hors normes,2019,114,"[Comedy, Drama]",7.4,11618,2010,...,775,"[Quad & Ten Cinema, Gaumont, TF1 Films Product...",10843,Hors normes,FR,"[actor, actor, actress, actor, actor, actor, a...","[Vincent Cassel, Reda Kateb, H√©l√®ne Vincent, B...","[Olivier Nakache, √âric Toledano]","(['actor', 'actor', 'actress', 'actor', 'actor...",0.846310
5623,tt0091288,movie,Jean de Florette,Jean de Florette,1986,120,"[Comedy, Drama]",8.1,27983,1980,...,467,"[DD Productions, Films A2, Renn Productions, A...",27516,Jean de Florette,FR,"[actor, actor, actor, actress, actress, actres...","[Yves Montand, G√©rard Depardieu, Daniel Auteui...",[Claude Berri],"(['actor', 'actor', 'actor', 'actress', 'actre...",1.854319
15573,tt1440232,movie,Little White Lies,Les petits mouchoirs,2010,154,"[Comedy, Drama]",7.1,27380,2010,...,1409,"[Les Productions du Tr√©sor, M6 Films, EuropaCorp]",25971,Les Petits Mouchoirs,FR,"[actor, actress, actor, actor, actor, actor, a...","[Fran√ßois Cluzet, Marion Cotillard, Beno√Æt Mag...",[Guillaume Canet],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.009613
20660,tt5699154,movie,C'est la vie!,Le sens de la f√™te,2017,117,"[Comedy, Drama, Romance]",6.9,12384,2010,...,1315,"[Gaumont, Quad Films]",11069,Le sens de la f√™te,FR,"[actor, actor, actor, actor, actress, actress,...","[Jean-Pierre Bacri, Jean-Paul Rouve, Gilles Le...","[Olivier Nakache, √âric Toledano]","(['actor', 'actor', 'actor', 'actor', 'actress...",2.021411
10589,tt0329388,movie,Monsieur Ibrahim,Monsieur Ibrahim et les fleurs du Coran,2003,95,"[Comedy, Drama]",7.3,11716,2000,...,125,"[ARP S√©lection, France 5]",11591,Monsieur Ibrahim et les fleurs du Coran,FR,"[actor, actor, actor, actress, actress, actres...","[Omar Sharif, Pierre Boulanger, Gilbert Melki,...",[Fran√ßois Dupeyron],"(['actor', 'actor', 'actor', 'actress', 'actre...",2.089784
8167,tt0118015,movie,Family Resemblances,Un air de famille,1996,110,"[Comedy, Drama]",7.4,5615,1990,...,242,"[T√©l√©ma Productions, Le Studio Canal+, France ...",5373,Un air de famille,FR,"[actor, actor, actress, actress, actress, acto...","[Jean-Pierre Bacri, Jean-Pierre Darroussin, Ca...",[C√©dric Klapisch],"(['actor', 'actor', 'actress', 'actress', 'act...",2.103089
8125,tt0117589,movie,Secrets & Lies,Secrets & Lies,1996,136,"[Comedy, Drama]",8.0,48281,1990,...,517,"[Channel Four Films, Thin Man Films, CiBy 2000]",47764,Secrets et Mensonges,FR,"[actor, actress, actress, actress, actress, ac...","[Timothy Spall, Brenda Blethyn, Phyllis Logan,...",[Mike Leigh],"(['actor', 'actress', 'actress', 'actress', 'a...",2.105527
513,tt0031885,movie,The Rules of the Game,La r√®gle du jeu,1939,110,"[Comedy, Drama]",7.9,31853,1930,...,478,[La Nouvelle Edition Francaise],31375,La r√®gle du jeu,FR,"[actor, actress, actress, actress, actress, ac...","[Marcel Dalio, Nora Gregor, Paulette Dubost, M...",[Jean Renoir],"(['actor', 'actress', 'actress', 'actress', 'a...",2.122598
2038,tt0053779,movie,La Dolce Vita,La dolce vita,1960,174,"[Comedy, Drama]",8.0,79653,1960,...,1630,"[Cinecitt√†, Path√© Consortium Cin√©ma, Riama Film]",78023,La douceur de vivre,FR,"[actor, actress, actress, actress, actress, ac...","[Marcello Mastroianni, Anita Ekberg, Anouk Aim...",[Federico Fellini],"(['actor', 'actress', 'actress', 'actress', 'a...",2.128411
3993,tt0074152,movie,Small Change,L'argent de poche,1976,104,"[Comedy, Drama]",7.6,6518,1970,...,117,"[Les Productions Artistes Associ√©s, Les Films ...",6401,L'argent de poche,FR,"[actor, actor, actress, actress, actor, actres...","[Georges Desmouceaux, Philippe Goldmann, Nicol...",[Fran√ßois Truffaut],"(['actor', 'actor', 'actress', 'actress', 'act...",2.142766

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Un indien dans la ville,0.0,1.6,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-0.402866,-0.041811,-0.188143,0.339175,0.344513,0.744924

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
7605,tt0111543,movie,"Little Indian, Big City",Un indien dans la ville,1994,90,"[Adventure, Comedy, Romance]",5.7,4760,1990,...,528,"[Ice Films, PROCIREP, Touchstone Pictures, Can...",4232,Un indien dans la ville,FR,"[actor, actor, actor, actress, actress, actor,...","[Thierry Lhermitte, Ludwig Briand, Patrick Tim...",[Herv√© Palud],"(['actor', 'actor', 'actor', 'actress', 'actre...",0.000000
10352,tt0305568,movie,Fanfan,Fanfan la Tulipe,2003,97,"[Adventure, Comedy, Romance]",5.7,5639,2000,...,198,"[EuropaCorp, Open Art, CNC, Canal+, TF1 Films ...",5441,Fanfan la Tulipe,FR,"[actor, actress, actor, actress, actor, actor,...","[Vincent Perez, Pen√©lope Cruz, Didier Bourdon,...",[G√©rard Krawczyk],"(['actor', 'actress', 'actor', 'actress', 'act...",1.461688
17292,tt1986843,movie,A Perfect Plan,Un plan parfait,2012,104,"[Adventure, Comedy, Romance]",6.3,10054,2010,...,558,"[Quad Productions, TF1 Films Production]",9496,Un plan parfait,FR,"[actress, actor, actress, actor, actor, actres...","[Diane Kruger, Dany Boon, Alice Pol, Robert Pl...",[Pascal Chaumeil],"(['actress', 'actor', 'actress', 'actor', 'act...",1.503923
18885,tt3204144,movie,Love at First Fight,Les combattants,2014,98,"[Adventure, Comedy, Romance]",6.6,6328,2010,...,399,"[Appaloosa Films, Nord-Ouest Productions]",5929,Les combattants,FR,"[actress, actor, actor, actress, actor, actor,...","[Ad√®le Haenel, K√©vin Aza√Øs, Antoine Laurent, B...",[Thomas Cailley],"(['actress', 'actor', 'actor', 'actress', 'act...",1.551458
13762,tt11013434,movie,"My Donkey, My Lover & I",Antoinette dans les C√©vennes,2020,96,"[Adventure, Comedy, Romance]",6.5,4010,2020,...,278,"[Chapka Films, France 3 Cin√©ma, Belga Producti...",3732,Antoinette dans les C√©vennes,FR,"[actress, actor, actress, actor, actor, actres...","[Laure Calamy, Benjamin Lavernhe, Olivia C√¥te,...",[Caroline Vignal],"(['actress', 'actor', 'actress', 'actor', 'act...",1.871889
2657,tt0059956,movie,Viva Maria!,Viva Maria!,1965,119,"[Adventure, Comedy, Romance]",6.3,4075,1960,...,68,"[Nouvelles √âditions de Films (NEF), Les Produc...",4007,Viva Maria!,FR,"[actress, actress, actor, actress, actor, acto...","[Brigitte Bardot, Jeanne Moreau, George Hamilt...",[Louis Malle],"(['actress', 'actress', 'actor', 'actress', 'a...",1.872756
11647,tt0428446,movie,The Darwin Awards,The Darwin Awards,2006,94,"[Adventure, Comedy, Romance]",5.9,10526,2000,...,142,"[3 Ring Circus Films, Blumhouse Productions]",10384,Darwin Awards,FR,"[actor, actress, actor, actor, actor, actor, a...","[Joseph Fiennes, Winona Ryder, David Arquette,...",[Finn Taylor],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.054289
6183,tt0096378,movie,Vibes,Vibes,1988,99,"[Adventure, Comedy, Romance]",5.7,5330,1980,...,60,"[Imagine Entertainment, Columbia Pictures]",5270,Enqu√™te en t√™te,FR,"[actress, actor, actor, actor, actor, actor, a...","[Cyndi Lauper, Jeff Goldblum, Ramon Bieri, Mic...",[Ken Kwapis],"(['actress', 'actor', 'actor', 'actor', 'actor...",2.070427
1319,tt0044602,movie,Fanfan la Tulipe,Fanfan la Tulipe,1952,102,"[Adventure, Comedy, Romance]",7.2,3499,1950,...,86,"[Amato Produzione, Filmsonor, Les Films Ariane...",3413,Fanfan la Tulipe,FR,"[actor, actress, actor, actor, actor, actor, a...","[G√©rard Philipe, Gina Lollobrigida, Marcel Her...",[Christian-Jaque],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.088679
5996,tt0094744,movie,Big Top Pee-wee,Big Top Pee-wee,1988,86,"[Adventure, Comedy, Romance]",5.1,10321,1980,...,110,[Paramount],10211,Big Top Pee-wee,FR,"[actor, actress, actor, actress, actor, actres...","[Paul Reubens, Penelope Ann Miller, Kris Krist...",[Randal Kleiser],"(['actor', 'actress', 'actor', 'actress', 'act...",2.126586
2430,tt0057919,movie,Carry on Jack,Carry on Jack,1964,91,"[Adventure, Comedy, Romance]",5.9,2645,1960,...,50,[Peter Rogers Productions],2595,Les R√©volt√©s du V√©nus,FR,"[actor, actor, actor, actress, actor, actor, a...","[Kenneth Williams, Charles Hawtrey, Bernard Cr...",[Gerald Thomas],"(['actor', 'actor', 'actor', 'actress', 'actor...",2.126768

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Le Roi lion,0.0,1.6,1.9,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.221097,-0.041811,0.921794,0.936411,0.891827,0.940722

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
7489,tt0110357,movie,The Lion King,The Lion King,1994,88,"[Adventure, Animation, Drama]",8.5,1169832,1990,...,16494,"[Walt Disney Pictures, Walt Disney Feature Ani...",1153338,Le Roi lion,FR,"[actor, actor, actor, actress, actor, actress,...","[Matthew Broderick, Jeremy Irons, James Earl J...","[Roger Allers, Rob Minkoff]","(['actor', 'actor', 'actor', 'actress', 'actor...",0.000000
4940,tt0084649,movie,The Secret of NIMH,The Secret of NIMH,1982,82,"[Adventure, Animation, Drama]",7.5,46425,1980,...,688,"[United Artists, Aurora, Mrs. Brisby Ltd., Sul...",45737,Brisby et le secret de NIMH,FR,"[actress, actor, actor, actor, actress, actres...","[Elizabeth Hartman, Derek Jacobi, Dom DeLuise,...",[Don Bluth],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.901638
6083,tt0095489,movie,The Land Before Time,The Land Before Time,1988,69,"[Adventure, Animation, Drama]",7.4,101038,1980,...,2275,"[Sullivan Bluth Studios, Lucasfilm Animation, ...",98763,Le petit dinosaure et la vall√©e des merveilles,FR,"[actor, actor, actor, actress, actor, actress,...","[Pat Hingle, Pat Hingle, Gabriel Damon, Helen ...",[Don Bluth],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.936482
7645,tt0112453,movie,Balto,Balto,1995,78,"[Adventure, Animation, Drama]",7.1,48974,1990,...,1839,"[Amblin Entertainment, Amblimation, Universal ...",47135,"Balto chien-loup, h√©ros des neiges",FR,"[actor, actor, actress, actor, actor, actor, a...","[Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim ...",[Simon Wells],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.976300
20937,tt6105098,movie,The Lion King,The Lion King,2019,118,"[Adventure, Animation, Drama]",6.8,272594,2010,...,9090,"[Walt Disney Pictures, Fairview Entertainment]",263504,Le Roi Lion,FR,"[actor, actress, actor, actor, actor, actor, a...","[Donald Glover, Beyonc√©, Seth Rogen, Chiwetel ...",[Jon Favreau],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.084009
15783,tt1488589,movie,Guillermo del Toro's Pinocchio,Guillermo del Toro's Pinocchio,2022,117,"[Adventure, Animation, Drama]",7.6,116899,2020,...,2239,"[The Jim Henson Company, ShadowMachine, Double...",114660,Guillermo del Toro's Pinocchio,FR,"[actor, actor, actor, actor, actor, actor, act...","[Ewan McGregor, David Bradley, Gregory Mann, G...","[Guillermo del Toro, Mark Gustafson]","(['actor', 'actor', 'actor', 'actor', 'actor',...",2.104948
9131,tt0166813,movie,Spirit: Stallion of the Cimarron,Spirit: Stallion of the Cimarron,2002,83,"[Adventure, Animation, Drama]",7.2,87735,2000,...,4135,"[DreamWorks Animation, DreamWorks Pictures]",83600,Spirit: L'√©talon des plaines,FR,"[actor, actor, actor, actor, actor, actor, act...","[Matt Damon, James Cromwell, Daniel Studi, Cho...","[Kelly Asbury, Lorna Cook]","(['actor', 'actor', 'actor', 'actor', 'actor',...",2.159695
8208,tt0118617,movie,Anastasia,Anastasia,1997,94,"[Adventure, Animation, Drama]",7.1,138701,1990,...,4846,"[Fox Animation Studios, Fox Family Films, The ...",133855,Anastasia,FR,"[actress, actor, actor, actor, actor, actress,...","[Meg Ryan, John Cusack, Christopher Lloyd, Kel...","[Don Bluth, Gary Goldman]","(['actress', 'actor', 'actor', 'actor', 'actor...",2.182133
18096,tt2380307,movie,Coco,Coco,2017,105,"[Adventure, Animation, Drama]",8.4,619120,2010,...,17159,"[Pixar, Walt Disney Pictures]",601961,Coco,FR,"[actor, actor, actor, actress, actress, actor,...","[Anthony Gonzalez, Gael Garc√≠a Bernal, Benjami...","[Lee Unkrich, Adrian Molina]","(['actor', 'actor', 'actor', 'actress', 'actre...",2.252208
21921,tt7978758,movie,Apollo 10¬Ω: A Space Age Childhood,Apollo 10 1/2: A Space Age Adventure,2022,97,"[Adventure, Animation, Drama]",7.2,12398,2020,...,195,"[Detour Filmproduction, Submarine]",12203,Apollo 10 1/2: Les fus√©es de mon enfance,FR,"[actor, actor, actress, actor, actress, actor,...","[Milo Coy, Jack Black, Lee Eddy, Bill Wise, Na...",[Richard Linklater],"(['actor', 'actor', 'actress', 'actor', 'actre...",2.306641
16143,tt1568921,movie,The Secret World of Arrietty,Karigurashi no Arietti,2010,94,"[Adventure, Animation, Drama]",7.6,107841,2010,...,2447,"[Studio Ghibli, Hakuhodo DY Media Partners, Mi...",105394,Arrietty : Le Petit Monde des Chapardeurs,FR,"[actress, actress, actress, actress, actor, ac...","[Bridgit Mendler, Bridgit Mendler, Amy Poehler...",[Hiromasa Yonebayashi],"(['actress', 'actress', 'actress', 'actress', ...",2.331750

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Matrix,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1.337094,-0.041811,0.893633,0.977536,0.89027,0.963719

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8802,tt0133093,movie,The Matrix,The Matrix,1999,136,"[Action, Sci-Fi]",8.7,2101020,1990,...,23142,"[Village Roadshow Pictures, Groucho II Film Pa...",2077878,Matrix,FR,"[actor, actor, actress, actor, actress, actor,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...",0.000000
9646,tt0234215,movie,The Matrix Reloaded,The Matrix Reloaded,2003,138,"[Action, Sci-Fi]",7.2,641493,2000,...,9813,"[Village Roadshow Pictures, Silver Pictures, N...",631680,Matrix Reloaded,FR,"[actor, actor, actress, actor, actor, actress,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actor...",1.048625
9717,tt0242653,movie,The Matrix Revolutions,The Matrix Revolutions,2003,129,"[Action, Sci-Fi]",6.7,552174,2000,...,8829,"[Village Roadshow Pictures, NPV Entertainment,...",543345,Matrix Revolutions,FR,"[actor, actor, actress, actor, actress, actres...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...",1.377180
12728,tt0848228,movie,The Avengers,The Avengers,2012,143,"[Action, Sci-Fi]",8.0,1482318,2010,...,28541,[Marvel Studios],1453777,Avengers,FR,"[actor, actor, actor, actor, actress, actress,...","[Robert Downey Jr., Robert Downey Jr., Chris E...",[Joss Whedon],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.814237
14724,tt1270798,movie,X-Men: First Class,X: First Class,2011,131,"[Action, Sci-Fi]",7.7,737300,2010,...,11705,"[The Donners' Company, Bad Hat Harry Productio...",725595,X-Men : Le Commencement,FR,"[actor, actor, actress, actress, actor, actor,...","[James McAvoy, Michael Fassbender, Jennifer La...",[Matthew Vaughn],"(['actor', 'actor', 'actress', 'actress', 'act...",2.074822
19119,tt3498820,movie,Captain America: Civil War,Captain America: Civil War,2016,147,"[Action, Sci-Fi]",7.8,869362,2010,...,21061,[Marvel Studios],848301,Captain America: Civil War,FR,"[actor, actor, actor, actor, actress, actress,...","[Chris Evans, Chris Evans, Robert Downey Jr., ...","[Anthony Russo, Joe Russo]","(['actor', 'actor', 'actor', 'actor', 'actress...",2.116656
14515,tt1228705,movie,Iron Man 2,Iron Man 2,2010,124,"[Action, Sci-Fi]",6.9,885144,2010,...,19239,[Marvel Studios],865905,Iron Man 2,FR,"[actor, actor, actress, actor, actress, actres...","[Robert Downey Jr., Mickey Rourke, Gwyneth Pal...",[Jon Favreau],"(['actor', 'actor', 'actress', 'actor', 'actre...",2.150172
15513,tt1430132,movie,The Wolverine,The Wolverine,2013,126,"[Action, Sci-Fi]",6.7,504361,2010,...,8748,"[The Donners' Company, 20th Century Fox]",495613,Wolverine : Le Combat de l'immortel,FR,"[actor, actor, actress, actress, actor, actres...","[Hugh Jackman, Will Yun Lee, Tao Okamoto, Rila...",[James Mangold],"(['actor', 'actor', 'actress', 'actress', 'act...",2.309513
5543,tt0090605,movie,Aliens,Aliens,1986,137,"[Action, Adventure, Sci-Fi]",8.4,789663,1980,...,8423,"[Brandywine Productions, SLM Production Group,...",781240,"Aliens, le retour",FR,"[actress, actor, actress, actor, actor, actor,...","[Sigourney Weaver, Michael Biehn, Carrie Henn,...",[James Cameron],"(['actress', 'actor', 'actress', 'actor', 'act...",2.373133
7214,tt0107290,movie,Jurassic Park,Jurassic Park,1993,127,"[Action, Adventure, Sci-Fi]",8.2,1091672,1990,...,14678,"[Universal Pictures, Amblin Entertainment]",1076994,Jurassic Park,FR,"[actor, actress, actor, actor, actor, actor, a...","[Sam Neill, Laura Dern, Jeff Goldblum, Richard...",[Steven Spielberg],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.379924
10993,tt0371746,movie,Iron Man,Iron Man,2008,126,"[Action, Adventure, Sci-Fi]",7.9,1148283,2000,...,24293,[Marvel Studios],1123990,Iron Man,FR,"[actor, actress, actor, actor, actress, actor,...","[Robert Downey Jr., Gwyneth Paltrow, Terrence ...",[Jon Favreau],"(['actor', 'actress', 'actor', 'actor', 'actre...",2.422792

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Le Flic de Beverly Hills,1.6,0.0,0.0,0.0,1.6,1.6,0.0,0.0,0.0,0.0,...,0,0,0,0,0.583111,-0.172409,0.400813,0.894452,0.837545,0.895828

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
5158,tt0086960,movie,Beverly Hills Cop,Beverly Hills Cop,1984,105,"[Action, Comedy, Crime]",7.4,219742,1980,...,3516,"[Paramount, Eddie Murphy Productions, Don Simp...",216226,Le Flic de Beverly Hills,FR,"[actor, actor, actor, actress, actor, actor, a...","[Eddie Murphy, Judge Reinhold, John Ashton, Li...",[Martin Brest],"(['actor', 'actor', 'actor', 'actress', 'actor...",0.000000
6096,tt0095631,movie,Midnight Run,Midnight Run,1988,126,"[Action, Comedy, Crime]",7.5,97014,1980,...,906,"[City Light Films, Universal Pictures]",96108,Midnight Run,FR,"[actor, actor, actor, actor, actor, actor, act...","[Robert De Niro, Charles Grodin, Yaphet Kotto,...",[Martin Brest],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.135812
8639,tt0120812,movie,Rush Hour,Rush Hour,1998,98,"[Action, Comedy, Crime]",7.0,302592,1990,...,4165,"[Roger Birnbaum Productions, New Line Cinema, ...",298427,Rush Hour,FR,"[actor, actor, actor, actor, actor, actor, act...","[Jackie Chan, Chris Tucker, Ken Leung, Tom Wil...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.442826
6753,tt0102266,movie,The Last Boy Scout,The Last Boy Scout,1991,105,"[Action, Comedy, Crime]",7.0,114292,1990,...,1600,"[Geffen Pictures, Silver Pictures, Warner Bros...",112692,Le Dernier Samaritain,FR,"[actor, actor, actress, actor, actor, actress,...","[Bruce Willis, Damon Wayans, Chelsea Field, No...",[Tony Scott],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.453956
7504,tt0110475,movie,The Mask,The Mask,1994,101,"[Action, Comedy, Crime]",6.9,433420,1990,...,9089,"[Dark Horse Entertainment, New Line Cinema]",424331,The Mask,FR,"[actor, actor, actress, actor, actor, actress,...","[Jim Carrey, Jim Carrey, Cameron Diaz, Peter R...",[Chuck Russell],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.456065
8321,tt0119229,movie,Grosse Pointe Blank,Grosse Pointe Blank,1997,107,"[Action, Comedy, Crime]",7.3,101226,1990,...,755,"[Caravan Pictures, Roger Birnbaum Productions,...",100471,Tueurs √† gages,FR,"[actor, actress, actor, actress, actor, actor,...","[John Cusack, Minnie Driver, Dan Aykroyd, Joan...",[George Armitage],"(['actor', 'actress', 'actor', 'actress', 'act...",1.457676
4832,tt0083511,movie,48 Hrs.,48 Hrs.,1982,96,"[Action, Comedy, Crime]",6.9,87562,1980,...,1253,[Paramount],86309,48 Heures,FR,"[actor, actor, actress, actor, actor, actor, a...","[Nick Nolte, Eddie Murphy, Annette O'Toole, Fr...",[Walter Hill],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.465774
19382,tt3799694,movie,The Nice Guys,The Nice Guys,2016,116,"[Action, Comedy, Crime]",7.4,383703,2010,...,6995,"[Silver Pictures, Waypoint Entertainment, Bloo...",376708,The Nice Guys,FR,"[actor, actor, actress, actor, actress, actres...","[Russell Crowe, Ryan Gosling, Angourie Rice, M...",[Shane Black],"(['actor', 'actor', 'actress', 'actor', 'actre...",1.468173
7641,tt0112442,movie,Bad Boys,Bad Boys,1995,119,"[Action, Comedy, Crime]",6.8,299326,1990,...,5592,"[Columbia Pictures, Don Simpson/Jerry Bruckhei...",293734,Bad Boys : Flics de choc,FR,"[actor, actor, actress, actor, actor, actor, a...","[Will Smith, Martin Lawrence, Lisa Boyle, Mich...",[Michael Bay],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.476071
3841,tt0072288,movie,Thunderbolt and Lightfoot,Thunderbolt and Lightfoot,1974,115,"[Action, Comedy, Crime]",7.0,29469,1970,...,430,"[Malpaso Productions, United Artists]",29039,Le Canardeur,FR,"[actor, actor, actor, actor, actress, actor, a...","[Clint Eastwood, Jeff Bridges, George Kennedy,...",[Michael Cimino],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.481942
12882,tt0910936,movie,Pineapple Express,Pineapple Express,2008,111,"[Action, Comedy, Crime]",6.9,361599,2000,...,3348,"[Columbia Pictures, Apatow Productions, Relati...",358251,D√©lire Express,FR,"[actor, actor, actor, actor, actor, actor, act...","[Seth Rogen, James Franco, Gary Cole, Danny Mc...",[David Gordon Green],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.492821

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Rush Hour,1.6,0.0,0.0,0.0,1.6,1.6,0.0,0.0,0.0,0.0,...,0,0,0,0,0.351117,-0.041811,0.310503,0.898111,0.889459,0.898073

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8639,tt0120812,movie,Rush Hour,Rush Hour,1998,98,"[Action, Comedy, Crime]",7.0,302592,1990,...,4165,"[Roger Birnbaum Productions, New Line Cinema, ...",298427,Rush Hour,FR,"[actor, actor, actor, actor, actor, actor, act...","[Jackie Chan, Chris Tucker, Ken Leung, Tom Wil...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.000000
9968,tt0266915,movie,Rush Hour 2,Rush Hour 2,2001,90,"[Action, Comedy, Crime]",6.7,244439,2000,...,3526,"[New Line Cinema, Roger Birnbaum Productions]",240913,Rush Hour 2,FR,"[actor, actor, actor, actress, actress, actor,...","[Jackie Chan, Chris Tucker, John Lone, Ziyi Zh...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actress', 'actre...",0.262109
10249,tt0293564,movie,Rush Hour 3,Rush Hour 3,2007,91,"[Action, Comedy, Crime]",6.2,187220,2000,...,2778,"[New Line Cinema, Roger Birnbaum Productions, ...",184442,Rush Hour 3,FR,"[actor, actor, actor, actor, actor, actress, a...","[Jackie Chan, Chris Tucker, Max von Sydow, Hir...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.558053
10942,tt0367479,movie,After the Sunset,After the Sunset,2004,97,"[Action, Comedy, Crime]",6.2,50367,2000,...,664,"[New Line Cinema, Contrafilm, Firm Films, Rat ...",49703,Coup d'√©clat,FR,"[actor, actress, actor, actor, actress, actor,...","[Pierce Brosnan, Salma Hayek, Woody Harrelson,...",[Brett Ratner],"(['actor', 'actress', 'actor', 'actor', 'actre...",0.652101
12104,tt0471042,movie,Tower Heist,Tower Heist,2011,104,"[Action, Comedy, Crime]",6.2,152741,2010,...,2636,"[Universal Pictures, Image Entertainment, Rela...",150105,Le Casse de Central Park,FR,"[actor, actor, actor, actor, actor, actor, act...","[Eddie Murphy, Ben Stiller, Casey Affleck, Ala...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.701347
8394,tt0119695,movie,Money Talks,Money Talks,1997,97,"[Action, Comedy, Crime]",6.2,31730,1990,...,312,"[New Line Cinema, Juno Pix]",31418,Argent comptant,FR,"[actor, actor, actress, actress, actor, actor,...","[Charlie Sheen, Chris Tucker, Heather Locklear...",[Brett Ratner],"(['actor', 'actor', 'actress', 'actress', 'act...",0.775376
7504,tt0110475,movie,The Mask,The Mask,1994,101,"[Action, Comedy, Crime]",6.9,433420,1990,...,9089,"[Dark Horse Entertainment, New Line Cinema]",424331,The Mask,FR,"[actor, actor, actress, actor, actor, actress,...","[Jim Carrey, Jim Carrey, Cameron Diaz, Peter R...",[Chuck Russell],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.415960
6753,tt0102266,movie,The Last Boy Scout,The Last Boy Scout,1991,105,"[Action, Comedy, Crime]",7.0,114292,1990,...,1600,"[Geffen Pictures, Silver Pictures, Warner Bros...",112692,Le Dernier Samaritain,FR,"[actor, actor, actress, actor, actor, actress,...","[Bruce Willis, Damon Wayans, Chelsea Field, No...",[Tony Scott],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.418592
7641,tt0112442,movie,Bad Boys,Bad Boys,1995,119,"[Action, Comedy, Crime]",6.8,299326,1990,...,5592,"[Columbia Pictures, Don Simpson/Jerry Bruckhei...",293734,Bad Boys : Flics de choc,FR,"[actor, actor, actress, actor, actor, actor, a...","[Will Smith, Martin Lawrence, Lisa Boyle, Mich...",[Michael Bay],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.422806
4832,tt0083511,movie,48 Hrs.,48 Hrs.,1982,96,"[Action, Comedy, Crime]",6.9,87562,1980,...,1253,[Paramount],86309,48 Heures,FR,"[actor, actor, actress, actor, actor, actor, a...","[Nick Nolte, Eddie Murphy, Annette O'Toole, Fr...",[Walter Hill],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.432324
12882,tt0910936,movie,Pineapple Express,Pineapple Express,2008,111,"[Action, Comedy, Crime]",6.9,361599,2000,...,3348,"[Columbia Pictures, Apatow Productions, Relati...",358251,D√©lire Express,FR,"[actor, actor, actor, actor, actor, actor, act...","[Seth Rogen, James Franco, Gary Cole, Danny Mc...",[David Gordon Green],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.436524

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Resident Evil,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.119122,0.088788,0.119202,0.897747,0.868631,0.903127

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8638,tt0120804,movie,Resident Evil,Resident Evil,2002,100,"[Action, Horror, Sci-Fi]",6.6,294342,2000,...,5626,"[Impact Pictures, Davis Films, New Legacy Film...",288716,Resident Evil,FR,"[actress, actress, actor, actor, actress, actr...","[Milla Jovovich, Michelle Rodriguez, Ryan McCl...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actor', 'act...",8.429370e-08
18379,tt2592614,movie,Resident Evil: The Final Chapter,Resident Evil: The Final Chapter,2016,107,"[Action, Horror, Sci-Fi]",5.5,102952,2010,...,2773,"[Screen Gems, Constantin Film, Impact Pictures...",100179,Resident Evil : Chapitre final,FR,"[actress, actress, actor, actress, actor, acto...","[Milla Jovovich, Milla Jovovich, Iain Glen, Al...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actress', 'a...",1.781666e+00
14468,tt1220634,movie,Resident Evil: Afterlife,Resident Evil: Afterlife,2010,96,"[Action, Horror, Sci-Fi]",5.8,181395,2010,...,3425,"[Screen Gems, Constantin Film, Davis Films/Imp...",177970,Resident Evil: Afterlife,FR,"[actress, actress, actor, actor, actor, actor,...","[Milla Jovovich, Ali Larter, Wentworth Miller,...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actor', 'act...",2.004374e+00
17018,tt1855325,movie,Resident Evil: Retribution,Resident Evil: Retribution,2012,95,"[Action, Horror, Sci-Fi]",5.3,152385,2010,...,3570,"[Davis Films/Impact Pictures, Constantin Film,...",148815,Resident Evil: Retribution,FR,"[actress, actress, actress, actress, actress, ...","[Milla Jovovich, Sienna Guillory, Michelle Rod...",[Paul W.S. Anderson],"(['actress', 'actress', 'actress', 'actress', ...",2.053248e+00
11689,tt0432021,movie,Resident Evil: Extinction,Resident Evil: Extinction,2007,94,"[Action, Horror, Sci-Fi]",6.2,208226,2000,...,3672,"[Screen Gems, Impact Pictures, Davis Films, Co...",204554,Resident Evil: Extinction,FR,"[actress, actress, actor, actor, actress, acto...","[Milla Jovovich, Ali Larter, Oded Fehr, Iain G...",[Russell Mulcahy],"(['actress', 'actress', 'actor', 'actor', 'act...",2.074243e+00
21421,tt6920084,movie,Resident Evil: Welcome to Raccoon City,Resident Evil: Welcome to Raccoon City,2021,107,"[Action, Horror, Sci-Fi]",5.2,66376,2020,...,2045,"[Constantin Film, Davis Films, Screen Gems, CA...",64331,Resident Evil : Bienvenue √† Raccoon City,FR,"[actress, actor, actress, actor, actor, actor,...","[Kaya Scodelario, Robbie Amell, Hannah John-Ka...",[Johannes Roberts],"(['actress', 'actor', 'actress', 'actor', 'act...",2.190894e+00
10485,tt0318627,movie,Resident Evil: Apocalypse,Resident Evil: Apocalypse,2004,94,"[Action, Horror, Sci-Fi]",6.1,213005,2000,...,3822,"[Davis Films/Impact Pictures, Screen Gems, Con...",209183,Resident Evil: Apocalypse,FR,"[actress, actress, archive_footage, actor, act...","[Milla Jovovich, Sienna Guillory, Eric Mabius,...",[Alexander Witt],"(['actress', 'actress', 'archive_footage', 'ac...",2.258721e+00
12839,tt0892899,movie,Outpost,Outpost,2008,90,"[Action, Horror, Sci-Fi]",5.8,18058,2000,...,206,"[Black Camel Pictures, Regent Capital]",17852,Outpost,FR,"[actor, actor, actor, actor, actor, actor, act...","[Ray Stevenson, Julian Wadham, Richard Brake, ...",[Steve Barker],"(['actor', 'actor', 'actor', 'actor', 'actor',...",2.371319e+00
18439,tt2667380,movie,Kill Command,Kill Command,2016,99,"[Action, Horror, Sci-Fi]",5.7,15247,2010,...,508,"[Bandito, Vertigo Films]",14739,Identify,FR,"[actor, actress, actor, actor, actor, actor, a...","[Thure Lindhardt, Vanessa Kirby, David Ajala, ...",[Steven Gomez],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.379983e+00
14136,tt1160996,movie,The Colony,The Colony,2013,95,"[Action, Horror, Sci-Fi]",5.3,47677,2010,...,1020,"[RLJ Entertainment, Alcina Pictures, 120dB Fil...",46657,The Colony,FR,"[actor, actor, actor, actress, actor, actor, a...","[Kevin Zegers, Laurence Fishburne, Bill Paxton...",[Jeff Renfroe],"(['actor', 'actor', 'actor', 'actress', 'actor...",2.440331e+00
19879,tt4530422,movie,Overlord,Overlord,2018,110,"[Action, Horror, Sci-Fi]",6.6,109090,2010,...,2536,"[Bad Robot, Paramount]",106554,Overlord,FR,"[actor, actor, actress, actor, actor, actor, a...","[Jovan Adepo, Wyatt Russell, Mathilde Ollivier...",[Julius Avery],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.453465e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Harry Potter √† l'√©cole des sorciers,0.0,1.6,0.0,0.0,0.0,0.0,0.0,0.0,1.9,1.9,...,0,0,0,0,0.699109,0.088788,0.755255,0.923514,0.893788,0.96913

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
9706,tt0241527,movie,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,2001,152,"[Adventure, Family, Fantasy]",7.6,877801,2000,...,24706,"[Warner Bros. Pictures, Heyday Films, 1492 Pic...",853095,Harry Potter √† l'√©cole des sorciers,FR,"[actor, actor, actress, actor, actress, actor,...","[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",[Chris Columbus],"(['actor', 'actor', 'actress', 'actor', 'actre...",0.000000
10262,tt0295297,movie,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,2002,161,"[Adventure, Family, Fantasy]",7.4,708845,2000,...,19836,"[Warner Bros. Pictures, Heyday Films, 1492 Pic...",689009,Harry Potter et la Chambre des secrets,FR,"[actor, actor, actress, actor, actor, actress,...","[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",[Chris Columbus],"(['actor', 'actor', 'actress', 'actor', 'actor...",0.149655
10604,tt0330373,movie,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,2005,157,"[Adventure, Family, Fantasy]",7.7,697546,2000,...,18752,"[Warner Bros. Pictures, Heyday Films, Patalex ...",678794,Harry Potter et la Coupe de feu,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[Mike Newell],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.416374
12907,tt0926084,movie,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows - Part 1,2010,146,"[Adventure, Family, Fantasy]",7.7,613777,2010,...,17312,"[Warner Bros. Pictures, Heyday Films]",596465,Harry Potter et les Reliques de la Mort : part...,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.423484
10342,tt0304141,movie,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,2004,142,"[Adventure, Family, Fantasy]",7.9,708900,2000,...,19460,"[Warner Bros. Pictures, 1492 Pictures, Heyday ...",689440,Harry Potter et le Prisonnier d'Azkaban,FR,"[actor, actress, actor, actor, actress, actres...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[Alfonso Cuar√≥n],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.425959
14393,tt1201607,movie,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows - Part 2,2011,130,"[Adventure, Family, Fantasy]",8.1,970189,2010,...,18680,"[Warner Bros. Pictures, Heyday Films]",951509,Harry Potter et les Reliques de la Mort : part...,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.452843
18868,tt3183660,movie,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,2016,132,"[Adventure, Family, Fantasy]",7.2,515915,2010,...,17592,"[Heyday Films, Warner Bros. Pictures]",498323,Les Animaux fantastiques,FR,"[actor, actress, actress, actor, actor, actor,...","[Eddie Redmayne, Katherine Waterston, Alison S...",[David Yates],"(['actor', 'actress', 'actress', 'actor', 'act...",1.466463
5632,tt0091369,movie,Labyrinth,Labyrinth,1986,101,"[Adventure, Family, Fantasy]",7.3,153732,1980,...,2091,"[Henson Associates, Inc., Lucasfilm Ltd., The ...",151641,Labyrinthe,FR,"[actor, actress, actor, actress, actor, actres...","[David Bowie, Jennifer Connelly, Toby Froud, S...",[Jim Henson],"(['actor', 'actress', 'actor', 'actress', 'act...",1.488536
10879,tt0363771,movie,"The Chronicles of Narnia: The Lion, the Witch ...","The Chronicles of Narnia: The Lion, the Witch ...",2005,143,"[Adventure, Family, Fantasy]",6.9,435168,2000,...,9511,"[Walt Disney Pictures, Walden Media, C.S. Lewi...",425657,"Le Monde de Narnia : Le Lion, la Sorci√®re blan...",FR,"[actress, actress, actor, actor, actress, acto...","[Tilda Swinton, Georgie Henley, William Mosele...",[Andrew Adamson],"(['actress', 'actress', 'actor', 'actor', 'act...",1.522160
19597,tt4123430,movie,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,2018,134,"[Adventure, Family, Fantasy]",6.5,314785,2010,...,9978,"[Warner Bros. Pictures, Heyday Films]",304807,Les Animaux fantastiques : Les Crimes de Grind...,FR,"[actor, actress, actor, actor, actor, actress,...","[Eddie Redmayne, Katherine Waterston, Dan Fogl...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.636134
12609,tt0814255,movie,Percy Jackson & the Olympians: The Lightning T...,Percy Jackson & the Olympians: The Lightning T...,2010,118,"[Adventure, Family, Fantasy]",5.9,206310,2010,...,6795,"[1492 Pictures, Sunswept Entertainment, Dune E...",199515,Percy Jackson : Le Voleur de foudre,FR,"[actor, actor, actor, actor, actress, actor, a...","[Logan Lerman, Kevin McKidd, Steve Coogan, Bra...",[Chris Columbus],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.638318

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Jurassic World,1.6,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.293118,0.219386,0.155617,0.915231,0.890469,0.949498

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
10977,tt0369610,movie,Jurassic World,Jurassic World,2015,124,"[Action, Adventure, Sci-Fi]",6.9,690253,2010,...,19031,"[Amblin Entertainment, Universal Pictures]",671222,Jurassic World,FR,"[actor, actress, actor, actress, actor, actor,...","[Chris Pratt, Bryce Dallas Howard, Ty Simpkins...",[Colin Trevorrow],"(['actor', 'actress', 'actor', 'actress', 'act...",0.000000
21960,tt8041270,movie,Jurassic World Dominion,Jurassic World Dominion,2022,147,"[Action, Adventure, Sci-Fi]",5.6,214927,2020,...,4780,"[Amblin Entertainment, Universal Pictures]",210147,Jurassic World: Le Monde d'apr√®s,FR,"[actor, actress, actress, actor, actor, actres...","[Chris Pratt, Bryce Dallas Howard, Laura Dern,...",[Colin Trevorrow],"(['actor', 'actress', 'actress', 'actor', 'act...",0.771968
12943,tt0948470,movie,The Amazing Spider-Man,The Amazing Spider-Man,2012,136,"[Action, Adventure, Sci-Fi]",6.9,717415,2010,...,15947,"[Marvel Entertainment, Laura Ziskin Production...",701468,The Amazing Spider-Man,FR,"[actor, actor, actress, actor, actor, actor, a...","[Andrew Garfield, Andrew Garfield, Emma Stone,...",[Marc Webb],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.414257
19365,tt3778644,movie,Solo: A Star Wars Story,Solo: A Star Wars Story,2018,135,"[Action, Adventure, Sci-Fi]",6.9,387212,2010,...,7674,"[Lucasfilm Ltd., Walt Disney Pictures, Allison...",379538,Solo: A Star Wars Story,FR,"[actor, actor, actress, actor, actor, actress,...","[Alden Ehrenreich, Woody Harrelson, Emilia Cla...",[Ron Howard],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.415356
15758,tt1483013,movie,Oblivion,Oblivion,2013,124,"[Action, Adventure, Sci-Fi]",7.0,561281,2010,...,9799,"[Universal Pictures, Relativity Media, Monolit...",551482,Oblivion,FR,"[actor, actor, actress, actress, actor, actres...","[Tom Cruise, Morgan Freeman, Andrea Riseboroug...",[Joseph Kosinski],"(['actor', 'actor', 'actress', 'actress', 'act...",1.416171
18436,tt2660888,movie,Star Trek Beyond,Star Trek Beyond,2016,122,"[Action, Adventure, Sci-Fi]",7.0,261794,2010,...,6065,"[Skydance Media, Paramount, Bad Robot, Perfect...",255729,Star Trek : Sans limites,FR,"[actor, actor, actor, actress, actor, actor, a...","[Chris Pine, Zachary Quinto, Karl Urban, Zoe S...",[Justin Lin],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.417038
16488,tt1663662,movie,Pacific Rim,Pacific Rim,2013,131,"[Action, Adventure, Sci-Fi]",6.9,538346,2010,...,11277,"[Double Dare You Productions, Legendary Pictures]",527069,Pacific Rim,FR,"[actor, actor, actress, actor, actor, actor, a...","[Idris Elba, Charlie Hunnam, Rinko Kikuchi, Ch...",[Guillermo del Toro],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.417364
19021,tt3385516,movie,X-Men: Apocalypse,X-Men: Apocalypse,2016,144,"[Action, Adventure, Sci-Fi]",6.8,471841,2010,...,11947,"[The Donners' Company, Bad Hat Harry Productio...",459894,X-Men: Apocalypse,FR,"[actor, actor, actor, actress, actress, actor,...","[James McAvoy, Michael Fassbender, Michael Fas...",[Bryan Singer],"(['actor', 'actor', 'actor', 'actress', 'actre...",1.417913
20020,tt4701182,movie,Bumblebee,Bumblebee,2018,114,"[Action, Adventure, Sci-Fi]",6.7,193559,2010,...,5401,"[Paramount, Allspark Pictures, Bay Films, di B...",188158,Bumblebee,FR,"[actress, actor, actor, actor, actress, actor,...","[Hailee Steinfeld, Jorge Lendeborg Jr., John C...",[Travis Knight],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.420006
13775,tt1104001,movie,Tron: Legacy,Tron: Legacy,2010,125,"[Action, Adventure, Sci-Fi]",6.8,360617,2010,...,6447,"[Walt Disney Pictures, Sean Bailey Productions]",354170,Tron : L'H√©ritage,FR,"[actor, actor, actor, actress, actor, actor, a...","[Jeff Bridges, Jeff Bridges, Garrett Hedlund, ...",[Joseph Kosinski],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.420814
11985,tt0458339,movie,Captain America: The First Avenger,Captain America: The First Avenger,2011,124,"[Action, Adventure, Sci-Fi]",6.9,913445,2010,...,19799,[Marvel Studios],893646,Captain America: First Avenger,FR,"[actor, actor, actor, actor, actor, actress, a...","[Chris Evans, Chris Evans, Hugo Weaving, Hugo ...",[Joe Johnston],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.422238

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
"Le Bon, la Brute et le Truand",0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.395093,-0.433606,1.03104,0.921367,0.889951,0.909164

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
2674,tt0060196,movie,"The Good, the Bad and the Ugly","Il buono, il brutto, il cattivo",1966,178,"[Adventure, Drama, Western]",8.8,829173,1960,...,7371,"[United Artists, PEA, Arturo Gonz√°lez Producci...",821802,"Le Bon, la Brute et le Truand",FR,"[actor, actor, actor, actor, actor, actor, act...","[Clint Eastwood, Eli Wallach, Lee Van Cleef, L...",[Sergio Leone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.000000
2615,tt0059578,movie,For a Few Dollars More,Per qualche dollaro in pi√π,1965,132,"[Drama, Western]",8.2,280984,1960,...,3412,"[PEA, Constantin Film, Arturo Gonz√°lez Producc...",277572,...et pour quelques dollars de plus,FR,"[actor, actor, actor, actress, actor, actor, a...","[Clint Eastwood, Lee Van Cleef, Gian Maria Vol...",[Sergio Leone],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.932386
3036,tt0064116,movie,Once Upon a Time in the West,C'era una volta il West,1968,166,"[Drama, Western]",8.5,355643,1960,...,3755,"[Paramount, Rafran Cinematografica, San Marco]",351888,Il √©tait une fois dans l'Ouest,FR,"[actor, actor, actress, actor, actor, actor, a...","[Henry Fonda, Charles Bronson, Claudia Cardina...",[Sergio Leone],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.144575
1068,tt0040897,movie,The Treasure of the Sierra Madre,The Treasure of the Sierra Madre,1948,126,"[Adventure, Drama, Western]",8.2,134451,1940,...,1007,[Warner Bros. Pictures],133444,Le Tr√©sor de la Sierra Madre,FR,"[actor, actor, actor, actor, actor, actor, act...","[Humphrey Bogart, Walter Huston, Tim Holt, Bru...",[John Huston],"(['actor', 'actor', 'actor', 'actor', 'actor',...",2.294349
1698,tt0049730,movie,The Searchers,The Searchers,1956,119,"[Adventure, Drama, Western]",7.8,98175,1950,...,1173,"[C.V. Whitney Pictures, Warner Bros. Pictures]",97002,La prisonni√®re du d√©sert,FR,"[actor, actor, actress, actor, actress, actor,...","[John Wayne, Jeffrey Hunter, Vera Miles, Ward ...",[John Ford],"(['actor', 'actor', 'actress', 'actor', 'actre...",2.342085
516,tt0031971,movie,Stagecoach,Stagecoach,1939,96,"[Adventure, Drama, Western]",7.8,55130,1930,...,940,"[Walter Wanger Productions, United Artists]",54190,La Chevauch√©e fantastique,FR,"[actor, actress, actor, actor, actor, actress,...","[John Wayne, Claire Trevor, Andy Devine, John ...",[John Ford],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.381573
3509,tt0068762,movie,Jeremiah Johnson,Jeremiah Johnson,1972,108,"[Adventure, Drama, Western]",7.6,35861,1970,...,504,"[Sanford Productions (III), Warner Bros. Pictu...",35357,Jeremiah Johnson,FR,"[actor, actor, actress, actor, actor, actress,...","[Robert Redford, Will Geer, Delle Bolton, Josh...",[Sydney Pollack],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.421897
3134,tt0065126,movie,True Grit,True Grit,1969,128,"[Adventure, Drama, Western]",7.4,52351,1960,...,655,[Wallis-Hazen Inc.],51696,100 Dollars pour un sh√©rif,FR,"[actor, actress, actor, actor, actor, actor, a...","[John Wayne, Kim Darby, Glen Campbell, Jeremy ...",[Henry Hathaway],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.440064
3474,tt0068421,movie,The Cowboys,The Cowboys,1972,134,"[Adventure, Drama, Western]",7.4,16293,1970,...,196,"[Sanford Productions (III), Warner Bros. Pictu...",16097,John Wayne et les cow-boys,FR,"[actor, actor, actor, actor, actress, actor, a...","[John Wayne, Roscoe Lee Browne, Bruce Dern, Br...",[Mark Rydell],"(['actor', 'actor', 'actor', 'actor', 'actress...",2.499822
6457,tt0099348,movie,Dances with Wolves,Dances with Wolves,1990,181,"[Adventure, Drama, Western]",8.0,296378,1990,...,3692,"[Tig Productions, Majestic Films International...",292686,Danse avec les loups,FR,"[actor, actress, actor, actor, actor, actress,...","[Kevin Costner, Mary McDonnell, Graham Greene,...",[Kevin Costner],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.542199
2502,tt0058461,movie,A Fistful of Dollars,Per un pugno di dollari,1964,99,"[Action, Drama, Western]",7.9,238366,1960,...,3638,"[Jolly Film, Ocean Films, United Artists, Cons...",234728,Pour une poign√©e de dollars,FR,"[actor, actor, actress, actor, actor, actor, a...","[Clint Eastwood, Gian Maria Volont√®, Marianne ...",[Sergio Leone],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.547010

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,√ñzcan Alper,√ñzer Feyzioglu,√ñzer Kiziltan,√ñzg√ºr Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Pearl Harbor,1.6,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,-0.112873,0.088788,0.281857,0.900498,0.889662,0.903553

C:\Users\remim\AppData\Local\Temp\ipykernel_22876\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
9523,tt0213149,movie,Pearl Harbor,Pearl Harbor,2001,183,"[Action, Drama, Romance]",6.2,356649,2000,...,5749,"[Jerry Bruckheimer Films, Touchstone Pictures]",350900,Pearl Harbor,FR,"[actor, actress, actor, actor, actor, actor, a...","[Ben Affleck, Kate Beckinsale, Josh Hartnett, ...",[Michael Bay],"(['actor', 'actress', 'actor', 'actor', 'actor...",0.000000
7257,tt0107711,movie,Nowhere to Run,Nowhere to Run,1993,94,"[Action, Drama, Romance]",5.7,26646,1990,...,582,"[Columbia Pictures, Adelson-Baumgarten Product...",26064,Cavale sans issue,FR,"[actor, actress, actor, actor, actress, actor,...","[Jean-Claude Van Damme, Rosanna Arquette, Kier...",[Robert Harmon],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.502088
6323,tt0097889,movie,Miracle Mile,Miracle Mile,1988,87,"[Action, Drama, Romance]",7.0,12790,1980,...,196,"[Miracle Mile Productions Inc., Hemdale Film]",12594,Appel d'urgence,FR,"[actor, actress, actor, actress, actor, actres...","[Anthony Edwards, Mare Winningham, John Agar, ...",[Steve De Jarnatt],"(['actor', 'actress', 'actor', 'actress', 'act...",1.597433
5004,tt0085276,movie,Breathless,Breathless,1983,100,"[Action, Drama, Romance]",6.0,10962,1980,...,207,"[Orion Pictures, Breathless Associates, Miko P...",10755,"√Ä bout de souffle, Made in USA",FR,"[actor, actress, actor, actor, actor, actor, a...","[Richard Gere, Val√©rie Kaprisky, Art Metrano, ...",[Jim McBride],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.637135
7272,tt0107889,movie,The Program,The Program,1993,112,"[Action, Drama, Romance]",6.5,11793,1990,...,76,[Touchstone Pictures],11717,Le program,FR,"[actor, actress, actor, actor, actress, actor,...","[James Caan, Halle Berry, Omar Epps, Craig She...",[David S. Ward],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.668914
14605,tt1242599,movie,Bellflower,Bellflower,2011,106,"[Action, Drama, Romance]",6.3,8138,2010,...,124,[Coatwolf Productions],8014,Bellflower,FR,"[actor, actor, actress, actress, actor, actor,...","[Evan Glodell, Tyler Dawson, Jessie Wiseman, R...",[Evan Glodell],"(['actor', 'actor', 'actress', 'actress', 'act...",1.732673
7820,tt0114214,movie,The Quick and the Dead,The Quick and the Dead,1995,108,"[Action, Drama, Romance]",6.5,105442,1990,...,1482,"[TriStar Pictures, IndieProd Company Productions]",103960,Mort ou vif,FR,"[actress, actor, actor, actor, actor, actor, a...","[Sharon Stone, Gene Hackman, Russell Crowe, Le...",[Sam Raimi],"(['actress', 'actor', 'actor', 'actor', 'actor...",1.759823
5714,tt0092085,movie,Thrashin',Thrashin',1986,93,"[Action, Drama, Romance]",6.5,5190,1980,...,47,[Winters Hollywood Entertainment Holdings Corp...,5143,Skate Gang,FR,"[actor, actor, actress, actor, actor, actor, a...","[Josh Brolin, Robert Rusler, Pamela Gidley, Br...",[David Winters],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.767310
19229,tt3640424,movie,Allied,Allied,2016,124,"[Action, Drama, Romance]",7.1,172949,2010,...,4164,"[Paramount, GK Films, ImageMovers, Huahua Media]",168785,Alli√©s,FR,"[actor, actress, actor, actor, actor, actress,...","[Brad Pitt, Marion Cotillard, Jared Harris, Vi...",[Robert Zemeckis],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.815775
1128,tt0041841,movie,Sands of Iwo Jima,Sands of Iwo Jima,1949,100,"[Action, Drama, Romance]",7.0,11637,1940,...,110,[Republic Pictures],11527,Iwo Jima,FR,"[actor, actor, actress, actor, actor, actor, a...","[John Wayne, John Agar, Adele Mara, Forrest Tu...",[Allan Dwan],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.876312
10452,tt0316356,movie,Open Range,Open Range,2003,139,"[Action, Drama, Romance]",7.4,80097,2000,...,904,"[Tig Productions, Touchstone Pictures, Cobalt ...",79193,Open Range,FR,"[actor, actor, actor, actor, actress, actor, a...","[Kevin Costner, Robert Duvall, Diego Luna, Abr...",[Kevin Costner],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.876650

In [32]:
# Trouver les 10 plus proches voisins pour chaque point de df_finish_him_concat 

distances, indices = neigh.kneighbors(df_finish_him_concat) 


# Exclure le premier r√©sultat (le film d'origine) et garder les 10 suivants 

distances = distances[:, 1:] 
indices = indices[:, 1:]

# Cr√©er une liste des titres des films correspondants aux indices des voisins

reco = [] 

for idx in indices: 
    reco.append(df_finish_him['title_y'].iloc[idx].tolist())

# Cr√©er un DataFrame pour afficher les r√©sultats 

recommendations = pd.DataFrame({ 'tconst': df_finish_him['tconst'],'Distances': list(distances), 'Titres_voisins': reco })

In [33]:
df_final_reco = df_finish_him.merge(recommendations, how='inner', left_on='tconst', right_on='tconst')

In [ ]:
# # Cha√Æne de caract√®res √† chercher
# string_a_chercher = 'Matrix'

# # M√©thode pour trouver les lignes contenant la cha√Æne de caract√®res
# resultat = df_final_reco[df_final_reco.apply(lambda row: row.astype(str).str.contains(string_a_chercher).any(), axis=1)]

# display(resultat)

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,Distances,Titres_voisins
4272,tt0077533,movie,Faces of Death,Faces of Death,1978,105,"[Documentary, Horror]",4.2,8301,1970,...,[F.O.D. Productions],8165,Face √† la mort,FR,"[actor, actor, self, self, archive_footage, se...","[Michael Carr, Samuel Berkowitz, Mary Ellen Br...",[John Alan Schwartz],"(['actor', 'actor', 'self', 'self', 'archive_f...","[1.8812034581513661, 2.3924609891578896, 2.447...","[The Nightmare, 8 jours & 8 nuits √† Cancun, Af..."
4579,tt0080813,movie,The Great Rock 'n' Roll Swindle,The Great Rock 'n' Roll Swindle,1980,103,"[Comedy, Fantasy, Music]",6.4,2453,1980,...,"[Boyd's Company, Kendon Films Ltd., Matrixbest...",2416,La Grande Escroquerie du rock'n'roll,FR,"[actor, actor, actor, actor, actor, actor, act...","[Malcolm McLaren, Sid Vicious, Steve Jones, Pa...",[Julien Temple],"(['actor', 'actor', 'actor', 'actor', 'actor',...","[1.9639772086472647, 2.123866632191034, 2.1568...","[Yesterday, Jean-Philippe, Les Feebles, La fl√ª..."
4769,tt0082677,movie,Looker,Looker,1981,93,"[Drama, Sci-Fi, Thriller]",6.1,6374,1980,...,"[The Ladd Company, Warner Bros. Pictures]",6281,Vid√©o crime,FR,"[actor, actor, actress, actress, actor, actor,...","[Albert Finney, James Coburn, Susan Dey, Leigh...",[Michael Crichton],"(['actor', 'actor', 'actress', 'actress', 'act...","[1.4604342594376194, 1.4695212661276056, 1.476...","[Contact mortel, Le jour du dauphin, Los Angel..."
5353,tt0088944,movie,Commando,Commando,1985,90,"[Action, Adventure, Thriller]",6.7,178257,1980,...,"[SLM Production Group, Silver Pictures, 20th C...",175845,Commando,FR,"[actor, actress, actor, actor, actor, actor, a...","[Arnold Schwarzenegger, Rae Dawn Chong, Dan He...",[Mark L. Lester],"(['actor', 'actress', 'actor', 'actor', 'actor...","[1.4275244439703296, 1.4424308471904415, 1.444...","[Twister, Ultime d√©cision, M:i:III, Space Cowb..."
5718,tt0092106,movie,The Transformers: The Movie,The Transformers: The Movie,1986,84,"[Action, Adventure, Animation]",7.2,42861,1980,...,"[Hasbro, Marvel Productions, Sunbow Production...",42439,La Guerre des robots: Transformers,FR,"[actor, actor, actor, actor, actor, actor, act...","[Orson Welles, Robert Stack, Leonard Nimoy, No...",[Nelson Shin],"(['actor', 'actor', 'actor', 'actor', 'actor',...","[1.4895393526989857, 1.4916337397739312, 1.510...","[Dragon Ball Z: Battle of Gods, Dragon Ball Z ..."
8247,tt0118818,movie,Career Girls,Career Girls,1997,83,"[Comedy, Drama]",7.1,6363,1990,...,"[Matrix Films, Thin Man Films, Channel Four Fi...",6304,Deux filles d'aujourd'hui,FR,"[actress, actress, actress, actor, actor, acto...","[Katrin Cartlidge, Lynda Steadman, Kate Byers,...",[Mike Leigh],"(['actress', 'actress', 'actress', 'actor', 'a...","[0.9666109366987368, 1.042938480583457, 1.0531...","[Secrets et Mensonges, High Hopes, Life Is Swe..."
8802,tt0133093,movie,The Matrix,The Matrix,1999,136,"[Action, Sci-Fi]",8.7,2101020,1990,...,"[Village Roadshow Pictures, Groucho II Film Pa...",2077878,Matrix,FR,"[actor, actor, actress, actor, actress, actor,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...","[1.048624845203247, 1.3771796076944671, 1.8142...","[Matrix Reloaded, Matrix Revolutions, Avengers..."
9248,tt0181852,movie,Terminator 3: Rise of the Machines,Terminator 3: Rise of the Machines,2003,109,"[Action, Sci-Fi]",6.3,423751,2000,...,"[Columbia Pictures, Intermedia Films, C-2 Pict...",417877,Terminator 3 : Le Soul√®vement des machines,FR,"[actor, actor, actress, actress, actor, actor,...","[Arnold Schwarzenegger, Nick Stahl, Kristanna ...",[Jonathan Mostow],"(['actor', 'actor', 'actress', 'actress', 'act...","[2.0115467834639076, 2.0484065574828, 2.050825...","[Universal Soldier, Les √âvad√©s de la plan√®te d..."
9646,tt0234215,movie,The Matrix Reloaded,The Matrix Reloaded,2003,138,"[Action, Sci-Fi]",7.2,641493,2000,...,"[Village Roadshow Pictures, Silver Pictures, N...",631680,Matrix Reloaded,FR,"[actor, actor, actress, actor, actor, actress,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actor...","[0.3315898848056565, 1.048624845203247, 1.7497...","[Matrix Revolutions, Matrix, Iron Man 2, Wolve..."
9717,tt0242653,movie,The Matrix Revolutions,The Matrix Revolutions,2003,129,"[Action, Sci-Fi]",6.7,552174,2000,...,"[Village Roadshow Pictures, NPV Entertainment,...",543345,Matrix Revolutions,FR,"[actor, actor, actress, actor, actress, actres...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...","[0.3315898848056565, 1.3771796076944671, 1.741...","[Matrix Reloaded, Matrix, Iron Man 2, Wolverin..."
10477,tt0318081,movie,A Sound of Thunder,A Sound of Thunder,2005,110,"[Action, Adventure, Horror]",4.2,20755,2000,...,"[Franchise Pictures, Crusader Entertainment, A...",20419,Un coup de tonnerre,FR,"[actor, actor, actress, actor, actress, actres...","[Edward Burns, Ben Kingsley, Catherine McCorma...",[Peter Hyams],"(['actor', 'actor', 'actress', 'actor', 'actre...","[1.8409857390330455, 2.295237738216953, 2.3012...","[Alien vs. Predator, Cell Phone, Doom: Annihil..."
10841,tt0360916,movie,The Real Cancun,The Real Cancun,2003,96,[Documentary],2.9,3955,2000,...,"[New Line Cinema, Warner Bros. Pictures, FilmE...",3934,8 jours & 8 nuits √† Cancun,FR,"[self, self, self, self, self, self, self, sel...","[Benjamin Fletcher, Nicole Frilot, Roxanne Fri...",[Rick de Oliveira],"(['self', 'self', 'self', 'self', 'self', 'sel...","[2.0669737933300807, 2.3492236802091777, 2.369...","[A Glitch in the Matrix, After Porn Ends 2, Ab..."
11094,tt0379306,movie,A Good Woman,A Good Woman,2004,93,"[Comedy, Drama, Romance]",6.4,14309,2000,...,"[Beyond Films, Kanzaman Productions, Matrix Fi...",14172,La s√©ductrice,FR,"[actress, actress, actor, actress, actor, acto...","[Helen Hunt, Scarlett Johansson, Tom Wilkinson...",[Mike Barker],"(['actress', 'actress', 'actor', 'actress', 'a...","[2.255484168140195, 2.265692757577139, 2.27117...","[Question √† 10 points, Conversation(s) avec un..."
11230,tt0388838,movie,Clean,Clean,2004,90,"[Drama, Music, Romance]",6.8,4966,2000,...,"[Rectangle Productions, Haystack Productions, ...",4913,Clean,FR,"[actress, actor, actress, actress, actor, actr...","[Maggie Cheung, Nick Nolte, B√©atrice Dalle, Je...",[Olivier Assayas],"(['actress', 'actor', 'actress', 'actress', 'a...","[1.879166504520116, 2.045653504251711, 2.07732...","[The man who cried - Les larmes d'un homme, Qu..."
12728,tt0848228,movie,The Avengers,The Avengers,2012,143,"[Action, Sci-Fi]",8.0,1482318,2010,...,[Marvel Studios],1453777,Avengers,FR,"[actor, actor, actor, actor, actress, actress,...","[Robert Downey Jr., Robert Downey Jr., Chris E...",[Joss Whedon],"(['actor', 'actor', 'actor', 'actor', 'actress...","[1.613287916176752, 1.6212512472246625, 1.6640...","[Iron Man 2, Serenity - L'ultime r√©bellion, Av..."
13657,tt10838180,movie,The Matrix Resurrections,The Matrix Resurrections,2021,148,"[Action, Sci-Fi]",5.6,286999,2020,...,"[Warner Bros. Pictures, Village Roadshow Pictu...",282280,Matrix Resurrections,FR,"[actor, actor, actress, actress, actor, actor,...","[Keanu Reeves, Keanu Reeves, Carrie-Anne Moss,...",[Lana Wachowski],"(['actor', 'actor', 'actress', 'actress', 'act...","[1.866251819333601, 1.9976301271129426, 2.0652...","[Matrix Revolutions, Matrix Reloaded, Universa..."
14724,tt1270798,movie,X-Men: First Class,X: First Class,2011,131,"[Action, Sci-Fi]",7.7,737300,2010,...,"[The Donners' Company, Bad Hat Harry Productio...",725595,X-Men : Le Commencement,FR,"[actor, actor, actress, actress, actor, actor,...","[James McAvoy, Michael Fassbender, Jennifer La...",[Matthew Vaughn],"(['actor', 'actor', 'actress', 'actress', 'act...","[1.6553030551626806, 1.6679752638424223, 1.668...","[Wolverine : Le Combat de l'immortel, Avengers..."
17090,tt18924506,movie,2000 Mules,2000 Mules,2022,89,[Documentary],5.1,10359,2020,...,"[D'Souza Media, Salem Media Group]",10333,2000 Mules,FR,"[self, self, self, self, self, self, self, sel...","[Dinesh D'Souza, Catherine Engelbrecht, Gregg ...","[Debbie D'Souza, Dinesh D'Souza, Bruce Schooley]","(['self', 'self', 'self', 'self', 'self', 'sel...","[2.0943303934946185, 2.107124754737106, 2.1093...","[Bob Lazar: Zone 51 et soucoupes volantes, The..."
17107,tt19034522,movie,White Hot: The Rise & Fall of Abercrombie & Fitch,White Hot: The Rise & Fall of Abercrombie & Fitch,2022,88,[Documentary],5.8,5342,2020,...,"[Second Nature, Aliklay Productions, Cinetic M...",5272,Abercrombie & Fitch: Une marque sur le fil,FR,"[self, self, self, self, self, self, self, sel...","[Benjamin O'Keefe, Bobby Blanski, Ryan Daharsh...",[Alison Klayman],"(['self', 'self', 'self', 'self', 'self', 'sel...","[1.1551110141044862, 1.4493087550716388, 1.466...","[Ai Weiwei: Never Sorry, The Minimalists: Less..."
17473,tt2085910,movie,Room 237,Room 237,2012,102,[Documentary],6.2,23355,2010,...,[Highland Park Classics],22905,Room 237,FR,"[self, self, self, self, self, actor, actor, a...","[Bill Blakemore, Geoffrey Cocks, Juli Kearns, ...",[Rodney Ascher],"(['self', 'self', 'self', 'self', 'self', 'act...","[1.1941325817819992, 1.4500393672443217, 1.502...","[A Glitch in the Matrix, Minimalism: A Documen..."
17657,tt21688772,movie,To Kill a Tiger,To Kill a Tiger,2022,128,[Documentary],7.6,2574,2020,...,"[ONF | NFB, AC Films, Notice Pictures Inc.]",2574,To Kill a Tiger,FR,"[director, writer, producer, producer, produce...","[Nisha Pahuja, Nisha Pahuja, David Oppenheim, ...",[Nisha Pahuja],"(['director', 'writer', 'producer', 'producer'...","[2.0078247405963037, 2.466770793868748, 2.6657...","[La m√©moire √©ternelle, Smoke Sauna Sisterhood,..."
18047,tt23640230,movie,Smoke Sauna Sisterhood,Savvusanna s√µsarad,2023,89,[Documentary],7.1,2446,2020,...,"[Alexandra Film, Kepler 22 Productions, Ursus ...",2446,Smoke Sauna Sisterhood,FR,"[self, self, self, self, self, self, self, sel...","[Kadi Kivilo, Maria Meresaar, Elsa Saks, Maria...",[Anna Hints],"(['self', 'self', 'self', 'self', 'self', 'sel...","[2.46044850895638, 2.466770793868748, 2.889835...","[La m√©moire √©ternelle, To Kill a Tiger, Come O..."
18192,tt24082488,movie,The Eternal Memory,La memoria infinita,2023,85,[Documentary],7.4,3595,2020,...,"[Micromundo, Fabula, Chicken & Egg Pictures, I...",3595,La m√©moire √©ternelle,FR,"[self, self, archive_footage, archive_footage,...","[Augusto G√≥ngora, Paulina Urrutia, Gustavo Cer...",[Maite Alberdi],"(['self', 'self', 'archive_footage', 'archive_...","[2.0078247405963037, 2.46044850895638, 2.60494...","[To Kill a Tiger, Smoke Sauna Sisterhood, Come..."
18446,tt26739529,movie,Money Shot: The Pornhub Story,Money Shot: The Pornhub Story,2023,94,[Documentary],5.4,5202,2020,...,[Jigsaw Productions],5011,Pornhub: Gros plan sur le g√©ant du sexe,FR,"[self, self, self, self, self, self, self, sel...","[Noelle Perdue, Michael Stabile, Wolf Hudson, ...",[Suzanne Hillinger],"(['self', 'self', 'self', 'self', 'self', 'sel...","[1.4378156578068084, 1.4506070815188046, 1.477...","[After Porn Ends, After Porn Ends 2, Bob Lazar..."
18456,tt26880702,movie,Finding Michael,Finding Michael,2023,100,[Documentary],5.9,2104,2020,...,"[Shine TV, Banijay UK, The Natural Studios]",2098,Finding Michael,FR,"[self, self, actor, self, self, director, comp...","[Bear Grylls, Spencer Matthews, Dhuru Patel, N...",[Tom Beard],"(['self', 'self', 'actor', 'self', 'self', 'di...","[1.7872369126791299, 1.9003128895296626, 2.073...","[Cow, La l√©gende de Cocaine Island, A Glitch i..."
18463,tt27002406,movie,Come Out in Jesus Name,Come Out in Jesus Name,2023,90,[Documentary],5.1,2943,2020,...,"[Locke Media, Big Studio Group, Neon World Media]",2943,Come Out in Jesus Name,FR,"[self, self, self, self, self, self, self, sel...","[Greg Locke, Alexander Pagani, Isaiah Saldivar...","[Ed Lamberg, Tim Romero]","(['self', 'self', 'self', 'self', 'self', 'sel...","[2.6049412301491506, 2.6657036230270172, 2.764...","[La m√©moire √©ternelle, To Kill a Tiger, Victim..."
18973,tt3317522,movie,The Nightmare,The Nightmare,2015,91,"[Documentary, Horror]",5.7,7300,2010,...,"[Campfire Studios, Zipper Bros Films]",7048,The Nightmare,FR,"[actress, actress, actor, actor, actress, actr...","[Estrella Cristina, Nicole Bosworth, Siegfried...",[Rodney Ascher],"(['actress', 'actress', 'actor', 'actor', 'act...","[1.6791987640598305, 1.773604123654956, 1.8812...","[Room 237, A Glitch in the Matrix, Face √† la m..."
19119,tt3498820,movie,Captain America: Civil War,Captain America: Civil War,2016,147,"[Action, Sci-Fi]",7.8,869362,2010,...,[Marvel Studios],848301,Captain America: Civil War,FR,"[actor, actor, actor, actor, actress, actress,...","[Chris Evans, Chris Evans, Robert Downey Jr., ...","[Anthony Russo, Joe Russo]","(['actor', 'actor', 'actor', 'actor', 'actress...","[1.6061138663581083, 1.6857819534565233, 1.741...","[Captain America : Le Soldat de l'hiver, Aveng..."
20345,tt5168832,movie,After Porn Ends 2,After Porn Ends 2,2017,90,[Documentary],5.5,2834,2010,...,"[Karbonshark, WeBros Entertainment]",2623,After Porn Ends 2,FR,"[self, self, self, self, self, self, self, sel...","[Lisa Ann, Georgina Spelvin, Darren James, Gin...",[Bryce Wagoner],"(['self', 'self', 'self', 'self', 'self', 'sel...","[0.39671052882491187, 1.4506070815188046, 1.53...","[After Porn Ends, Pornhub: Gros plan sur le g√©..."
22749,tt9847360,movie,A Glitch in the Matrix,A Glitch in the Matrix,2021,108,[Documentary],5.3,2242,2020,...,[Campfire Studios],2214,A Glitch in the Matrix,FR,"[self, self, self, archive_footage, self, self...","[Nick Bostrom, Joshua Cooke, Erik Davis, Phili...",[Rodney Ascher],"(['self', 'self', 'self', 'archive_footage', '...","[1.1941325817819992, 1.5380198612132845, 1.636...","[Room 237, Abercrombie & Fitch: Une marque sur..."

In [35]:
"https://image.tmdb.org/t/p/w200/14q24aBfJPrjumuWjKKA6Bwml2A.jpg"

df_final_reco['url_poster_path'] = df_final_reco['poster_path'].apply(lambda row: f"https://image.tmdb.org/t/p/w500{row}")

In [44]:
df_final_reco.set_index('title_y').to_csv("df_final.csv")