In [20]:
#traitement pour ajout directors dans finish him (fonction amene les directors d'un autre data frame)

def process_dir(liste_dir):
    liste = []
    liste_dir = liste_dir.split(',') 
    for dir_id in liste_dir:
        try:
            liste.append(df_pj2_name_basics.loc[dir_id]['primaryName'])
        except Exception as e:
            print(e)
            pass
    return liste

In [25]:
#traitement pour ajout directors dans finish him

df_director_title["directors"] = df_director_title["directors"].apply(process_dir)

df_director_title

'\\N'
'\\N'

C:\Users\remim\AppData\Local\Temp\ipykernel_11640\4113650929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_director_title["directors"] = df_director_title["directors"].apply(process_dir)

          tconst                                          directors
0      tt0002130  [Francesco Bertolini, Adolfo Padovan, Giuseppe...
1      tt0003419                   [Hanns Heinz Ewers, Stellan Rye]
2      tt0003740                                [Giovanni Pastrone]
3      tt0004707                    [Mack Sennett, Charles Bennett]
4      tt0004972                                    [D.W. Griffith]
...          ...                                                ...
22769  tt9900782                                 [Lokesh Kanagaraj]
22770  tt9902160                                   [Phyllida Lloyd]
22771  tt9907782                                       [Sean Ellis]
22772  tt9911196                                  [Johan Nijenhuis]
22773  tt9916362                                     [Pablo Agüero]

[22774 rows x 2 columns]

In [27]:
# #traitement pour ajout directors dans finish him

df_finish_him = df_finish_him.merge(df_director_title[['tconst',"directors"]], how='inner', left_on='tconst', right_on='tconst')
# #verifier film sans director si pourri dégage

#df_finish_him.to_excel('df_finish_him.xlsx', index=False)


df_finish_him.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22774 entries, 0 to 22773
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22774 non-null  object
 1   titleType                  22774 non-null  object
 2   primaryTitle               22774 non-null  object
 3   originalTitle              22774 non-null  object
 4   isAdult                    22774 non-null  int64
 5   startYear                  22774 non-null  int64
 6   runtimeMinutes             22774 non-null  int64
 7   genres_x                   22774 non-null  object
 8   averageRating              22774 non-null  float64
 9   numVotes                   22774 non-null  int64
 10  bucket 10                  22774 non-null  int64
 11  backdrop_path              22774 non-null  object
 12  id                         22774 non-null  int64
 13  original_language          22774 non-null  object
 14  overview                   22774 non-null  object
 15  popularity                 22774 non-null  float64
 16  poster_path                22774 non-null  object
 17  production_countries       22774 non-null  object
 18  spoken_languages           22774 non-null  object
 19  vote_average               22774 non-null  float64
 20  vote_count                 22774 non-null  int64
 21  production_companies_name  22774 non-null  object
 22  ecart note                 22774 non-null  float64
 23  ecart vote                 22774 non-null  int64
 24  title_y                    22774 non-null  object
 25  region                     22774 non-null  object
 26  category                   22774 non-null  object
 27  primaryName                22774 non-null  object
 28  directors_x                22774 non-null  object
 29  directors_y                22774 non-null  object
dtypes: float64(4), int64(8), object(18)
memory usage: 5.2+ MB

In [43]:

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.feature_extraction.text import CountVectorizer
import re 
from nltk.corpus import stopwords
import nltk
from tqdm import tqdm
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem import PorterStemmer

In [44]:
link = "df_finish_him.csv"
df_finish_him= pd.read_csv(link)

df_finish_him=df_finish_him.drop(columns='Unnamed: 0')

In [45]:
# nlp = spacy.load('en_core_web_sm')
liste_tabou = nltk.corpus.stopwords.words("english")

In [46]:
#2 text cleaning
def text_cleaning(texte:str)->str:
    return re.sub(r"[^a-zA-Z\s]", " ", texte).lower().replace("\n", " ")

In [47]:
#3 tokenize
def tokenize(texte:str)->list:
    return nltk.word_tokenize(texte)

In [49]:
#4 stopwords
def stopw(liste_token:list)->list:
    liste_tabou = nltk.corpus.stopwords.words("english")
    liste_token_new = []
    for token in liste_token:
        if token not in liste_tabou:
            liste_token_new.append(token)
    return liste_token_new

In [50]:
def stemming(liste_token: list) -> list: 
    stemmer = PorterStemmer() 
    return [stemmer.stem(token) for token in liste_token]

In [51]:
def preprocessing_text(copie:str)->list:
    copie = text_cleaning(copie)
    copie = tokenize(copie)
    copie = stopw(copie)
    copie = stemming(copie)
    copie = " ".join(copie)
    return copie

In [52]:
# clean text in statement and create columns clean_word:

tqdm.pandas()
df_finish_him['clean_overview']=df_finish_him['overview'].progress_apply(preprocessing_text)
df_finish_him['clean_title_y']=df_finish_him['title_y'].progress_apply(preprocessing_text)

100%|██████████| 22764/22764 [00:09<00:00, 2323.50it/s]

In [22]:
df_finish_him.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22764 entries, 0 to 22763
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22764 non-null  object
 1   titleType                  22764 non-null  object
 2   primaryTitle               22764 non-null  object
 3   originalTitle              22764 non-null  object
 4   startYear                  22764 non-null  int64
 5   runtimeMinutes             22764 non-null  int64
 6   genres_x                   22764 non-null  object
 7   averageRating              22764 non-null  float64
 8   numVotes                   22764 non-null  int64
 9   bucket 10                  22764 non-null  int64
 10  backdrop_path              22764 non-null  object
 11  original_language          22764 non-null  object
 12  overview                   22764 non-null  object
 13  popularity                 22764 non-null  float64
 14  poster_path                22764 non-null  object
 15  production_countries       22764 non-null  object
 16  spoken_languages           22764 non-null  object
 17  vote_average               22764 non-null  float64
 18  vote_count                 22764 non-null  int64
 19  production_companies_name  22764 non-null  object
 20  ecart vote                 22764 non-null  int64
 21  title_y                    22764 non-null  object
 22  region                     22764 non-null  object
 23  category                   22764 non-null  object
 24  primaryName                22764 non-null  object
 25  directors                  22764 non-null  object
 26  job_name                   22764 non-null  object
 27  clean_title_y              22764 non-null  object
dtypes: float64(3), int64(6), object(19)
memory usage: 4.9+ MB

In [12]:
# Initialiser le vecteur 


vect = CountVectorizer() # Vectoriser les données textuelles 
Tfid_vectorizer = TfidfVectorizer()

X = vect.fit_transform(df_finish_him['clean_title_y']) 
# X2 = Tfid_vectorizer.fit_transform(df_finish_him['clean_title_y'])

# Pour CountVectorizer 

df_countvect_title = pd.DataFrame(X.toarray(), columns=vect.get_feature_names_out()) 

# Pour TfidfVectorizer 

# df_TfidfVect_title = pd.DataFrame(X2.toarray(), columns=Tfid_vectorizer.get_feature_names_out())

,aaahh,aadhi,aag,aaj,aalavandhan,aaltra,aamis,aankhen,aarambam,aaron,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# transofrmation des string en liste avec eval :
df_finish_him['category'] = df_finish_him['category'].apply(eval)
df_finish_him['primaryName'] = df_finish_him['primaryName'].apply(eval)
df_finish_him['production_companies_name'] = df_finish_him['production_companies_name'].apply(eval)
df_finish_him['production_countries'] = df_finish_him['production_countries'].apply(eval)
df_finish_him['genres_x'] = df_finish_him['genres_x'].apply(eval)
df_finish_him['directors'] = df_finish_him['directors'].apply(eval)

In [14]:
# df_finish_him['job_name'] = [(job, name) for job, name in zip(df_finish_him['category'], df_finish_him['primaryName'])]

df_finish_him = df_finish_him.drop_duplicates(subset='title_y')
# df_finish_him = df_finish_him.drop(columns='job_name')

In [15]:
mlb = MultiLabelBinarizer()

genre_mlb = mlb.fit_transform(df_finish_him['genres_x'])

mlb.classes_

df_genre_before = pd.DataFrame(genre_mlb, columns=mlb.classes_)

df_genre_before


mlb = MultiLabelBinarizer()

prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

prod_country_mlb

df_prod_country = pd.DataFrame(prod_country_mlb, columns=mlb.classes_)

# mlb = MultiLabelBinarizer()

# prod_company_mlb = mlb.fit_transform(df_finish_him['production_companies_name'])

# prod_company_mlb

# df_prod_company= pd.DataFrame(prod_company_mlb, columns=mlb.classes_)



display(df_genre_before.head())

display(df_prod_country.head())

# display(df_prod_company.head())

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

,AE,AF,AL,AM,AR,AT,AU,AW,BA,BD,...,VE,VN,VU,XC,XG,XK,YU,ZA,ZM,ZW
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# pondération genre :

df_genre = df_genre_before*2.5

df_genre[['Crime','Comedy','Adventure','Action','Horror','Mystery','Romance','Thriller']] = df_genre_before[['Crime','Comedy','Adventure','Action','Horror','Mystery','Romance','Thriller']] * 1.6

df_genre[['Sci-Fi','Biography','Animation','Family','Fantasy']] = df_genre_before[['Sci-Fi','Biography','Animation','Family','Fantasy']] *1.9

df_genre[['Film-Noir','Documentary','Music','History','Musical','Sport','War','Western']]= df_genre_before[['Film-Noir','Documentary','Music','History','Musical','Sport','War','Western']]  *2.2

In [17]:
df_genre_before.sum()

Action          4753
Adventure       3328
Animation        987
Biography       1360
Comedy          7510
Crime           4198
Documentary      614
Drama          12994
Family          1202
Fantasy         1518
Film-Noir        271
History          958
Horror          3164
Music            656
Musical          346
Mystery         2230
News               8
Romance         3977
Sci-Fi          1413
Sport            426
Thriller        3513
War              670
Western          371
dtype: int64

In [18]:
df_genre.sum()

Action          7604.8
Adventure       5324.8
Animation       1875.3
Biography       2584.0
Comedy         12016.0
Crime           6716.8
Documentary     1350.8
Drama          32485.0
Family          2283.8
Fantasy         2884.2
Film-Noir        596.2
History         2107.6
Horror          5062.4
Music           1443.2
Musical          761.2
Mystery         3568.0
News              20.0
Romance         6363.2
Sci-Fi          2684.7
Sport            937.2
Thriller        5620.8
War             1474.0
Western          816.2
dtype: float64

In [19]:
mlb = MultiLabelBinarizer()

directors_mlb = mlb.fit_transform(df_finish_him['directors'])

directors_mlb

# prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

# prod_country_mlb

df_directors=pd.DataFrame(directors_mlb, columns=mlb.classes_)

df_directors.head()

,A. Edward Sutherland,A. Todd Smith,A. Vinoth Kumar,A.L. Vijay,A.R. Murugadoss,A.T. White,A.V. Rockwell,Aakash Bhatia,Aamir Khan,Aanand L. Rai,...,Étienne Chatiliez,Éva Gárdos,Óliver Laxe,Óskar Jónasson,Óskar Thór Axelsson,Ömer Faruk Sorak,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# 1. Initialiser le StandardScaler
# Nous créons une instance de StandardScaler qui va normaliser les données.
scaler = StandardScaler()

# 2. Ajuster et transformer les données
# 2.1. Ajuster le scaler sur les colonnes numériques sélectionnées ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les écarts-types de ces colonnes.
scaler.fit(df_finish_him[['averageRating', 'bucket 10', 'vote_average']])

# 2.2. Transformer les données en utilisant le scaler ajusté pour obtenir une nouvelle matrice normalisée X_scaled.
X_scaled_num = scaler.transform(df_finish_him[['averageRating', 'bucket 10', 'vote_average']])

# 3. Créer un DataFrame à partir des données normalisées
# Nous créons un nouveau DataFrame 'normalize_num' en utilisant les données normalisées (X_scaled_num) et en spécifiant les noms des colonnes d'origine.
normalize_num = pd.DataFrame(X_scaled_num, columns=['averageRating', 'bucket 10', 'vote_average'])

# Afficher le DataFrame normalisé
display(normalize_num.describe())

       averageRating     bucket 10  vote_average
count   2.276400e+04  2.276400e+04  2.276400e+04
mean   -5.992980e-16 -4.394852e-16 -1.747953e-16
std     1.000022e+00  1.000022e+00  1.000022e+00
min    -5.021099e+00 -3.621487e+00 -6.174561e+00
25%    -5.748540e-01 -5.742816e-01 -4.501191e-01
50%     1.017485e-01  2.963485e-01  1.045325e-01
75%     6.816936e-01  7.316636e-01  6.220456e-01
max     2.808159e+00  1.166979e+00  3.534877e+00

In [21]:
# 1. Initialiser le StandardScaler
# Nous créons une instance de StandardScaler qui va normaliser les données.
qt = QuantileTransformer(n_quantiles=10, random_state=0)

# 2. Ajuster et transformer les données
# 2.1. Ajuster le scaler sur les colonnes numériques sélectionnées ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les écarts-types de ces colonnes.
# 2.2. Transformer les données en utilisant le scaler ajusté pour obtenir une nouvelle matrice normalisée X_scaled.
qt_norm_vote_pop = qt.fit_transform(df_finish_him[['numVotes', 'popularity','vote_count']])




# 3. Créer un DataFrame à partir des données normalisées
# Nous créons un nouveau DataFrame 'normalize_num' en utilisant les données normalisées (X_scaled_num) et en spécifiant les noms des colonnes d'origine.
qt_vote_popularity = pd.DataFrame(qt_norm_vote_pop, columns=['numVotes', 'popularity','vote_count'])

# Afficher le DataFrame normalisé
display(qt_vote_popularity)

       numVotes  popularity  vote_count
0      0.240056    0.221447    0.435897
1      0.093037    0.254729    0.252137
2      0.277404    0.270481    0.438746
3      0.251447    0.096706    0.230769
4      0.718408    0.708829    0.717204
...         ...         ...         ...
22759  0.790907    0.562838    0.320513
22760  0.345224    0.177359    0.286325
22761  0.673496    0.886569    0.522222
22762  0.213293    0.093171    0.095679
22763  0.404679    0.482332    0.611953

[22764 rows x 3 columns]

In [22]:
# ponderation matrice normalize_num:

#normalize_num[['numVotes','vote_count']] = normalize_num[['numVotes','vote_count']] *0.5

normalize_num['bucket 10'] = normalize_num['bucket 10']*0.3

normalize_num['averageRating'] = normalize_num['averageRating'] * 0.6

#normalize_num['popularity'] = normalize_num['popularity'] * 0.3 #quantile transformer

normalize_num['vote_average'] =normalize_num['vote_average'] * 0.5

In [23]:
normalize_num.describe()

       averageRating     bucket 10  vote_average
count   2.276400e+04  2.276400e+04  2.276400e+04
mean   -3.495905e-16 -1.398362e-16 -8.739763e-17
std     6.000132e-01  3.000066e-01  5.000110e-01
min    -3.012659e+00 -1.086446e+00 -3.087281e+00
25%    -3.449124e-01 -1.722845e-01 -2.250596e-01
50%     6.104912e-02  8.890456e-02  5.226626e-02
75%     4.090161e-01  2.194991e-01  3.110228e-01
max     1.684895e+00  3.500936e-01  1.767438e+00

In [24]:
df_finish_him_concat = pd.concat([df_genre,df_prod_country,df_directors,normalize_num,qt_vote_popularity,df_countvect_title], axis = 1)

df_finish_him_concat_index = df_finish_him_concat.set_index(df_finish_him['title_y'])

df_finish_him_concat_index.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
L'Enfer (1911),0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,1.9,...,0,0,0,0,0,0,0,0,0,0
L'étudiant de Prague (1913),0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,1.9,...,0,0,0,0,0,0,0,0,0,0
Cabiria (1914),0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
La Folle Aventure de Charlot et de Lolotte (1914),0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
Naissance d'une nation (1915),0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
#liste film test:

liste_film = ["Il faut sauver le soldat Ryan (1998)","Inspecteur Gadget (1999)","Bienvenue chez les Ch'tis (2008)","Scream (2022)","Intouchables (2011)",
              "Un indien dans la ville (1994)","Le Roi lion (1994)","Matrix (1999)","Le Flic de Beverly Hills (1984)","Rush Hour (1998)","Resident Evil (2002)","Harry Potter à l'école des sorciers (2001)","Jurassic World (2015)","Le Bon, la Brute et le Truand (1966)","Pearl Harbor (2001)"]

data_test = df_finish_him_concat_index.loc[liste_film]

In [26]:
#preparation du model :


# Initialiser le modèle NearestNeighbors pour trouver les 10 plus proches voisins
neigh = NearestNeighbors(n_neighbors=11)

# Ajuster le modèle sur les données du DataFrame df_final
neigh.fit(df_finish_him_concat)

dis, indice = neigh.kneighbors(data_test)

In [27]:
# Boucler sur chaque Pokémon champion pour afficher ses voisins les plus proches
for index, (d, i) in enumerate(zip(dis, indice)):
    # Afficher la ligne de df_pokemon_lengendary_champion correspondant au Pokémon champion en cours de traitement
    result = data_test.iloc[[index]]
    display(result)
    # Sélectionner les Pokémon non-légendaires les plus proches en utilisant les indices trouvés
    reco = df_finish_him.iloc[i]
    
    # Ajouter une colonne 'distance' au DataFrame reco pour inclure les distances calculées
    reco['distance'] = d
    
    # Afficher les recommandations de Pokémon non-légendaires avec leurs distances par rapport au Pokémon champion
    display(reco)

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Il faut sauver le soldat Ryan (1998),0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
8641,tt0120815,movie,Saving Private Ryan,Saving Private Ryan,1998,169,"[Drama, War]",8.6,1529918,1990,...,"[Paramount, Amblin Entertainment, Mutual Film ...",1515753,Il faut sauver le soldat Ryan (1998),FR,"[actor, actor, actor, actor, actor, actor, act...","[Tom Hanks, Matt Damon, Tom Sizemore, Edward B...",[Steven Spielberg],"(['actor', 'actor', 'actor', 'actor', 'actor',...",il faut sauver le soldat ryan,0.000000
18136,tt2396589,movie,Mudbound,Mudbound,2017,134,"[Drama, War]",7.4,55306,2010,...,"[Zeal Media, Armory Films, Black Bear Pictures...",54194,Mudbound (2017),FR,"[actor, actress, actor, actress, actor, actor,...","[Jason Mitchell, Carey Mulligan, Jason Clarke,...",[Dee Rees],"(['actor', 'actress', 'actor', 'actress', 'act...",mudbound,3.142465
4686,tt0082096,movie,Das Boot,Das Boot,1981,149,"[Drama, War]",8.4,269208,1980,...,"[Radiant Film GmbH, Süddeutscher Rundfunk, Bav...",267315,Le Bateau (1981),FR,"[actor, actor, actor, actor, actor, actor, act...","[Jürgen Prochnow, Herbert Grönemeyer, Klaus We...",[Wolfgang Petersen],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le bateau,3.168563
5678,tt0091763,movie,Platoon,Platoon,1986,120,"[Drama, War]",8.1,447013,1980,...,"[Hemdale Film Corporation, Cinema 86, Cinema 8...",443086,Platoon (1986),FR,"[actor, actor, actor, actor, actor, actor, act...","[Charlie Sheen, Tom Berenger, Willem Dafoe, Ke...",[Oliver Stone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",platoon,3.186612
5160,tt0086969,movie,Birdy,Birdy,1984,120,"[Drama, War]",7.2,25523,1980,...,[TriStar Pictures],25091,Birdy (1984),FR,"[actor, actor, actor, actor, actress, actor, a...","[Matthew Modine, Nicolas Cage, John Harkins, S...",[Alan Parker],"(['actor', 'actor', 'actor', 'actor', 'actress...",birdi,3.193558
2151,tt0055031,movie,Judgment at Nuremberg,Judgment at Nuremberg,1961,179,"[Drama, War]",8.3,87623,1960,...,"[United Artists, Roxlom Films]",86980,Jugement à Nuremberg (1961),FR,"[actor, actor, actor, actress, actor, actress,...","[Spencer Tracy, Burt Lancaster, Richard Widmar...",[Stanley Kramer],"(['actor', 'actor', 'actor', 'actress', 'actor...",jugement nuremberg,3.200730
8454,tt0120070,movie,Savior,Savior,1998,103,"[Drama, War]",7.2,11686,1990,...,[Initial Entertainment Group],11544,Savior (1998),FR,"[actor, actor, actress, actor, actor, actor, a...","[Dennis Quaid, Dennis Quaid, Nastassja Kinski,...",[Predrag Antonijevic],"(['actor', 'actor', 'actress', 'actor', 'actor...",savior,3.225394
18710,tt2994190,movie,Camp X-Ray,Camp X-Ray,2014,117,"[Drama, War]",6.9,43322,2010,...,"[Young Gang, Gotham Group, Upload Films, GNK P...",42399,The Guard (2014),FR,"[actress, actor, actor, actress, actress, acto...","[Kristen Stewart, Payman Maadi, Lane Garrison,...",[Peter Sattler],"(['actress', 'actor', 'actor', 'actress', 'act...",guard,3.251931
19893,tt4555426,movie,Darkest Hour,Darkest Hour,2017,125,"[Drama, War]",7.4,225406,2010,...,"[Perfect World Pictures, Working Title Films, ...",220767,Les Heures sombres (2017),FR,"[actor, actress, actress, actor, actor, actor,...","[Gary Oldman, Lily James, Kristin Scott Thomas...",[Joe Wright],"(['actor', 'actress', 'actress', 'actor', 'act...",le heur sombr,3.276267
2079,tt0054177,movie,The Little Soldier,Le petit soldat,1963,88,"[Drama, War]",7.1,8296,1960,...,"[Les Productions Georges de Beauregard, Sociét...",8160,Le Petit Soldat (1963),FR,"[actress, actor, actor, actor, actor, actor, a...","[Anna Karina, Michel Subor, Henri-Jacques Huet...",[Jean-Luc Godard],"(['actress', 'actor', 'actor', 'actor', 'actor...",le petit soldat,3.302517
549,tt0032553,movie,The Great Dictator,The Great Dictator,1940,125,"[Comedy, Drama, War]",8.4,241866,1940,...,"[Roy Export Company Establishment, United Arti...",238951,Le dictateur (1940),FR,"[actor, actor, actress, actor, actor, actor, a...","[Charles Chaplin, Charles Chaplin, Paulette Go...",[Charles Chaplin],"(['actor', 'actor', 'actress', 'actor', 'actor...",le dictateur,3.320797

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Inspecteur Gadget (1999),1.6,1.6,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
8879,tt0141369,movie,Inspector Gadget,Inspector Gadget,1999,78,"[Action, Adventure, Comedy]",4.2,51595,1990,...,"[DiC Entertainment, Walt Disney Pictures, Cara...",50539,Inspecteur Gadget (1999),FR,"[actor, actor, actor, actor, actress, actress,...","[Matthew Broderick, Matthew Broderick, Matthew...",[David Kellogg],"(['actor', 'actor', 'actor', 'actor', 'actress...",inspecteur gadget,0.000000
20062,tt4769836,movie,The Do-Over,The Do-Over,2016,108,"[Action, Adventure, Comedy]",5.7,52663,2010,...,"[Instinctual VFX, Happy Madison Productions]",51309,The Do-Over (2016),FR,"[actor, actor, actress, actress, actor, actor,...","[Adam Sandler, David Spade, Paula Patton, Kath...",[Steven Brill],"(['actor', 'actor', 'actress', 'actress', 'act...",,2.278968
16279,tt1608290,movie,Zoolander 2,Zoolander 2,2016,101,"[Action, Adventure, Comedy]",4.7,77401,2010,...,"[Scott Rudin Productions, Red Hour]",75378,Zoolander No. 2 (2016),FR,"[actor, actor, actress, actor, actor, actor, a...","[Ben Stiller, Owen Wilson, Penélope Cruz, Will...",[Ben Stiller],"(['actor', 'actor', 'actress', 'actor', 'actor...",zooland,2.280705
5848,tt0093278,movie,Ishtar,Ishtar,1987,107,"[Action, Adventure, Comedy]",4.7,12298,1980,...,[Columbia Pictures],12174,Ishtar (1987),FR,"[actor, actor, actress, actor, actor, actress,...","[Warren Beatty, Dustin Hoffman, Isabelle Adjan...",[Elaine May],"(['actor', 'actor', 'actress', 'actor', 'actor...",ishtar,2.308012
18264,tt2479478,movie,The Ridiculous 6,The Ridiculous 6,2015,119,"[Action, Adventure, Comedy]",4.9,54734,2010,...,[Happy Madison Productions],53483,The Ridiculous 6 (2015),FR,"[actor, actor, actor, actor, actor, actor, act...","[Adam Sandler, Terry Crews, Jorge Garcia, Tayl...",[Frank Coraci],"(['actor', 'actor', 'actor', 'actor', 'actor',...",ridicul,2.319339
20008,tt4694544,movie,Once Upon a Time in Venice,Once Upon a Time in Venice,2017,94,"[Action, Adventure, Comedy]",5.3,21268,2010,...,[Voltage Pictures],20714,L.A. Rush (2017),FR,"[actor, actor, actor, actress, actress, actor,...","[Bruce Willis, John Goodman, Jason Momoa, Emil...",[Mark Cullen],"(['actor', 'actor', 'actor', 'actress', 'actre...",l rush,2.371779
16984,tt1843303,movie,The VelociPastor,The VelociPastor,2018,75,"[Action, Adventure, Comedy]",5.1,9377,2010,...,"[WildEye Releasing, Hollow Tree Productions]",9244,The VelociPastor (2018),FR,"[actor, actor, actress, actor, actress, actor,...","[Gregory James Cohan, George Schewnzer, Janice...",[Brendan Steere],"(['actor', 'actor', 'actress', 'actor', 'actre...",velocipastor,2.373754
16464,tt1659216,movie,Spiders,Spiders 3D,2013,89,"[Action, Adventure, Comedy]",3.4,4817,2010,...,"[Millennium Films, Nu Image]",4683,Spiders (2013),FR,"[actor, actress, actor, actor, actress, actor,...","[William Hope, Shelly Varod, Brian Hankey, Jes...",[Tibor Takács],"(['actor', 'actress', 'actor', 'actor', 'actre...",spider,2.380212
7043,tt0105402,movie,Sidekicks,Sidekicks,1992,101,"[Action, Adventure, Comedy]",5.2,10014,1990,...,"[Vision PDG, Gallery Films]",9873,Sidekicks (1992),FR,"[actor, actor, actor, actor, actress, actor, a...","[Chuck Norris, Beau Bridges, Jonathan Brandis,...",[Aaron Norris],"(['actor', 'actor', 'actor', 'actor', 'actress...",sidekick,2.383448
19548,tt4060576,tvMovie,Lavalantula,Lavalantula,2015,83,"[Action, Adventure, Comedy]",4.6,3644,2010,...,"[Syfy, CineTel Films]",3517,Lavalantula (2015),FR,"[actor, actress, actor, actor, actor, actress,...","[Steve Guttenberg, Nia Peeples, Patrick Renna,...",[Mike Mendez],"(['actor', 'actress', 'actor', 'actor', 'actor...",lavalantula,2.396034
20452,tt5340882,movie,Zoombies,Zoombies,2016,87,"[Action, Adventure, Comedy]",3.4,3008,2010,...,[The Asylum],2846,Zoombies (2016),FR,"[actress, actor, actress, actress, actor, actr...","[Ione Butler, Andrew Asper, LaLa Nestor, Kim N...",[Glenn Miller],"(['actress', 'actor', 'actress', 'actress', 'a...",zoombi,2.434320

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Bienvenue chez les Ch'tis (2008),0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
13521,tt1064932,movie,Welcome to the Sticks,Bienvenue chez les Ch'tis,2008,106,"[Comedy, Romance]",7.1,45681,2000,...,"[TF1 Films Production, Pathé Renn Productions,...",43454,Bienvenue chez les Ch'tis (2008),FR,"[actor, actor, actress, actor, actress, actor,...","[Kad Merad, Dany Boon, Zoé Félix, Lorenzo Ausi...",[Dany Boon],"(['actor', 'actor', 'actress', 'actor', 'actre...",bienvenu chez le ch ti,0.000000
4242,tt0077276,movie,French Fried Vacation,Les bronzés,1978,105,"[Comedy, Romance]",6.7,7911,1970,...,"[CCFC, Trinacra Films]",7125,Les Bronzés (1978),FR,"[actress, actor, actress, actor, actor, actor,...","[Josiane Balasko, Luis Rego, Marie-Anne Chazel...",[Patrice Leconte],"(['actress', 'actor', 'actress', 'actor', 'act...",le bronz,2.741395
14356,tt1194616,movie,LOL (Laughing Out Loud),LOL (Laughing Out Loud) ®,2008,103,"[Comedy, Romance]",6.2,9775,2000,...,"[Poisson Rouge Pictures, Pathé, Bethsabée Much...",8571,Lol (2008),FR,"[actress, actress, actor, actress, actress, ac...","[Sophie Marceau, Christa Théret, Jérémy Kapone...",[Lisa Azuelos],"(['actress', 'actress', 'actor', 'actress', 'a...",lol,2.908967
8439,tt0119981,movie,Hikers,Les randonneurs,1997,95,"[Comedy, Romance]",5.9,2098,1990,...,[],1919,Les randonneurs (1997),FR,"[actor, actress, actress, actor, actor, actres...","[Benoît Poelvoorde, Karin Viard, Géraldine Pai...",[Philippe Harel],"(['actor', 'actress', 'actress', 'actor', 'act...",le randonneur,2.960712
15707,tt14700948,movie,Friendzone,Friendzone,2021,88,"[Comedy, Romance]",5.9,4528,2020,...,"[Telfrance, Nabi Pictures]",4287,Friendzone (2021),FR,"[actor, actress, actress, actress, actress, ac...","[Mickaël Lumière, Manon Azem, Fadily Camara, E...",[Charles Van Tieghem],"(['actor', 'actress', 'actress', 'actress', 'a...",friendzon,2.996555
7778,tt0113749,movie,Mallrats,Mallrats,1995,94,"[Comedy, Romance]",7.0,130298,1990,...,"[Universal Pictures, Gramercy Pictures, Alphav...",129228,Les Glandeurs (1995),FR,"[actress, actor, actor, actress, actor, actres...","[Shannen Doherty, Jeremy London, Jason Lee, Cl...",[Kevin Smith],"(['actress', 'actor', 'actor', 'actress', 'act...",le glandeur,3.006406
15690,tt1465487,movie,Heartbreaker,L'arnacoeur,2010,105,"[Comedy, Romance]",6.7,27860,2010,...,"[Focus Features, Quad Productions, Chaocorp, O...",26641,L'arnacoeur (2010),FR,"[actor, actress, actress, actor, actress, acto...","[Romain Duris, Vanessa Paradis, Julie Ferrier,...",[Pascal Chaumeil],"(['actor', 'actress', 'actress', 'actor', 'act...",l arnacoeur,3.024434
7726,tt0113228,movie,Grumpier Old Men,Grumpier Old Men,1995,101,"[Comedy, Romance]",6.7,30127,1990,...,"[Lancaster Gate, Warner Bros. Pictures]",29802,Les grincheux 2 (1995),FR,"[actor, actor, actress, actress, actor, actres...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],"(['actor', 'actor', 'actress', 'actress', 'act...",le grincheux,3.025136
7533,tt0110737,movie,Only You,Only You,1994,109,"[Comedy, Romance]",6.5,26527,1990,...,[TriStar Pictures],26085,Only You (1994),FR,"[actress, actor, actress, actor, actor, actor,...","[Marisa Tomei, Robert Downey Jr., Bonnie Hunt,...",[Norman Jewison],"(['actress', 'actor', 'actress', 'actor', 'act...",,3.030627
16122,tt1565958,movie,Romantics Anonymous,Les émotifs anonymes,2010,80,"[Comedy, Romance]",6.9,12150,2010,...,"[Pan-Européenne, StudioCanal, France 3 Cinéma,...",11675,Les émotifs anonymes (2010),FR,"[actor, actress, actress, actress, actor, acto...","[Benoît Poelvoorde, Isabelle Carré, Lorella Cr...",[Jean-Pierre Améris],"(['actor', 'actress', 'actress', 'actress', 'a...",le motif anonym,3.032962
20624,tt5657028,movie,Alibi.com,Alibi.com,2016,89,"[Comedy, Romance]",6.5,10353,2010,...,"[Fechner Films, TF1 Droits Audiovisuels, Studi...",8832,Alibi.com (2016),FR,"[actor, actress, actor, actor, actor, actor, a...","[Philippe Lacheau, Élodie Fontan, Julien Arrut...",[Philippe Lacheau],"(['actor', 'actress', 'actor', 'actor', 'actor...",alibi com,3.034502

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Scream (2022),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
13898,tt11245972,movie,Scream,Scream,2022,114,"[Horror, Mystery, Thriller]",6.3,166869,2020,...,"[Paramount, Project X Entertainment, Radio Sil...",164478,Scream (2022),FR,"[actress, actress, actor, actress, actor, actr...","[Neve Campbell, Courteney Cox, David Arquette,...","[Matt Bettinelli-Olpin, Tyler Gillett]","(['actress', 'actress', 'actor', 'actress', 'a...",scream,0.000000
16787,tt17663992,movie,Scream VI,Scream VI,2023,122,"[Horror, Mystery, Thriller]",6.4,129165,2020,...,"[Radio Silence, Project X Entertainment, Spygl...",128135,Scream VI (2023),FR,"[actress, actress, actress, actress, actor, ac...","[Courteney Cox, Melissa Barrera, Jenna Ortega,...","[Matt Bettinelli-Olpin, Tyler Gillett]","(['actress', 'actress', 'actress', 'actress', ...",scream vi,1.045960
15185,tt13560574,movie,X,X,2022,105,"[Horror, Mystery, Thriller]",6.5,195658,2020,...,"[A24, Little Lamb Productions]",193740,X (2022),FR,"[actress, actress, actress, actress, actor, ac...","[Mia Goth, Mia Goth, Jenna Ortega, Brittany Sn...",[Ti West],"(['actress', 'actress', 'actress', 'actress', ...",x,2.003487
21906,tt7958736,movie,Ma,Ma,2019,99,"[Horror, Mystery, Thriller]",5.6,61073,2010,...,"[Universal Pictures, Blumhouse Productions, Wy...",59109,Ma (2019),FR,"[actress, actress, actress, actress, actor, ac...","[Octavia Spencer, Diana Silvers, Juliette Lewi...",[Tate Taylor],"(['actress', 'actress', 'actress', 'actress', ...",,2.098598
16047,tt15474916,movie,Smile,Smile,2022,115,"[Horror, Mystery, Thriller]",6.5,191993,2020,...,"[Paramount Players, Temple Hill Entertainment,...",190010,Smile (2022),FR,"[actress, actor, actor, actress, actress, acto...","[Sosie Bacon, Jessie T. Usher, Kyle Gallner, R...",[Parker Finn],"(['actress', 'actor', 'actor', 'actress', 'act...",smile,2.239116
18116,tt2388715,movie,Oculus,Oculus,2013,104,"[Horror, Mystery, Thriller]",6.5,142642,2010,...,"[MICA Entertainment, Intrepid Pictures, Blumho...",140000,The Mirror (2013),FR,"[actress, actor, actress, actor, actress, acto...","[Karen Gillan, Brenton Thwaites, Katee Sackhof...",[Mike Flanagan],"(['actress', 'actor', 'actress', 'actor', 'act...",mirror,2.249039
19179,tt3567288,movie,The Visit,The Visit,2015,94,"[Horror, Mystery, Thriller]",6.3,159035,2010,...,"[Blumhouse Productions, Blinding Edge Pictures]",154817,The Visit (2015),FR,"[actress, actor, actress, actor, actress, actr...","[Olivia DeJonge, Ed Oxenbould, Deanna Dunagan,...",[M. Night Shyamalan],"(['actress', 'actor', 'actress', 'actor', 'act...",visit,2.249600
12286,tt0489270,movie,Saw III,Saw III,2006,108,"[Horror, Mystery, Thriller]",6.2,217282,2000,...,"[Twisted Pictures, Evolution Entertainment, Li...",213427,Saw 3 (2006),FR,"[actor, actor, actress, actor, actress, actor,...","[Tobin Bell, Tobin Bell, Shawnee Smith, Angus ...",[Darren Lynn Bousman],"(['actor', 'actor', 'actress', 'actor', 'actre...",saw,2.258689
18902,tt3235888,movie,It Follows,It Follows,2014,100,"[Horror, Mystery, Thriller]",6.8,279580,2010,...,"[Two Flints, Northern Lights Films, Animal Kin...",273852,It Follows (2014),FR,"[actress, actor, actress, actress, actress, ac...","[Maika Monroe, Keir Gilchrist, Olivia Luccardi...",[David Robert Mitchell],"(['actress', 'actor', 'actress', 'actress', 'a...",follow,2.260281
21372,tt6857112,movie,Us,Us,2019,116,"[Horror, Mystery, Thriller]",6.8,354304,2010,...,"[Monkeypaw Productions, Universal Pictures, QC...",347747,Us (2019),FR,"[actress, actress, actor, actor, actress, actr...","[Lupita Nyong'o, Lupita Nyong'o, Winston Duke,...",[Jordan Peele],"(['actress', 'actress', 'actor', 'actor', 'act...",us,2.261587
12816,tt0887261,movie,Hellraiser,Hellraiser,2022,121,"[Horror, Mystery, Thriller]",5.9,50739,2020,...,"[Phantom Four, Spyglass Media Group]",50239,Hellraiser (2022),FR,"[actress, actress, actor, actor, actor, actres...","[Odessa A'zion, Jamie Clayton, Adam Faison, Dr...",[David Bruckner],"(['actress', 'actress', 'actor', 'actor', 'act...",hellrais,2.262305

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Intouchables (2011),0.0,0.0,0.0,0.0,1.6,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
16518,tt1675434,movie,The Intouchables,Intouchables,2011,112,"[Comedy, Drama]",8.5,951050,2010,...,"[Gaumont, CinéCinéma, Quad Productions, Chaoco...",935370,Intouchables (2011),FR,"[actor, actor, actress, actress, actress, actr...","[François Cluzet, Omar Sy, Anne Le Ny, Audrey ...","[Olivier Nakache, Éric Toledano]","(['actor', 'actor', 'actress', 'actress', 'act...",intouch,0.000000
22250,tt8655470,movie,The Specials,Hors normes,2019,114,"[Comedy, Drama]",7.4,11618,2010,...,"[Quad & Ten Cinema, Gaumont, TF1 Films Product...",10843,Hors normes (2019),FR,"[actor, actor, actress, actor, actor, actor, a...","[Vincent Cassel, Reda Kateb, Hélène Vincent, B...","[Olivier Nakache, Éric Toledano]","(['actor', 'actor', 'actress', 'actor', 'actor...",hor norm,1.927467
20587,tt5613484,movie,Mid90s,Mid90s,2018,85,"[Comedy, Drama]",7.4,80567,2010,...,"[Waypoint Entertainment, A24, Scott Rudin Prod...",79216,90's (2018),FR,"[actor, actress, actor, actor, actor, actor, a...","[Sunny Suljic, Katherine Waterston, Lucas Hedg...",[Jonah Hill],"(['actor', 'actress', 'actor', 'actor', 'actor...",,2.563596
11323,tt0401085,movie,C.R.A.Z.Y.,C.R.A.Z.Y.,2005,129,"[Comedy, Drama]",7.8,34380,2000,...,"[Téléfilm Canada, Cirrus Communications, Crazy...",33972,C.R.A.Z.Y. (2005),FR,"[actor, actor, actress, actor, actor, actor, a...","[Michel Côté, Marc-André Grondin, Danielle Pro...",[Jean-Marc Vallée],"(['actor', 'actor', 'actress', 'actor', 'actor...",c r z,2.568078
19031,tt3399024,movie,Samba,Samba,2014,118,"[Comedy, Drama, Romance]",6.7,17470,2010,...,"[Ten Films, Gaumont, Quad Productions]",16592,Samba (2014),FR,"[actor, actress, actor, actress, actor, actres...","[Omar Sy, Charlotte Gainsbourg, Tahar Rahim, I...","[Olivier Nakache, Éric Toledano]","(['actor', 'actress', 'actor', 'actress', 'act...",samba,2.608290
20392,tt5247704,movie,Back to Burgundy,Ce qui nous lie,2017,113,"[Comedy, Drama]",6.8,5709,2010,...,[Ce qui me meut],5267,30 printemps (2017),FR,"[actor, actress, actor, actor, actress, actres...","[Pio Marmaï, Ana Girardot, François Civil, Jea...",[Cédric Klapisch],"(['actor', 'actress', 'actor', 'actor', 'actre...",printemp,2.620585
7914,tt0115658,movie,Bernie,Bernie,1996,87,"[Comedy, Drama]",7.1,4095,1990,...,"[Contre Prod., Kasso Productions, Ulysse Films...",3883,Bernie (1996),FR,"[actress, actor, actor, actress, actor, actor,...","[Claude Perron, Albert Dupontel, Roland Blanch...",[Albert Dupontel],"(['actress', 'actor', 'actor', 'actress', 'act...",berni,2.646781
10428,tt0314067,movie,Philanthropy,Filantropica,2002,110,"[Comedy, Drama]",8.4,14016,2000,...,"[Domino Film, MACT Productions, Media Pro Pict...",13926,Philanthropique (2002),FR,"[actor, actor, actress, actress, actor, actor,...","[Mircea Diaconu, Gheorghe Dinica, Mara Nicoles...",[Nae Caranfil],"(['actor', 'actor', 'actress', 'actress', 'act...",philanthropiqu,2.649845
14304,tt1187043,movie,3 Idiots,3 Idiots,2009,170,"[Comedy, Drama]",8.4,445753,2000,...,"[Vidhu Vinod Chopra Productions, Vinod Chopra ...",443686,3 Idiots (2009),FR,"[actor, actor, actress, actor, actress, actor,...","[Aamir Khan, Madhavan, Mona Singh, Sharman Jos...",[Rajkumar Hirani],"(['actor', 'actor', 'actress', 'actor', 'actre...",idiot,2.653461
19747,tt4357368,movie,Macadam Stories,Asphalte,2015,100,"[Comedy, Drama]",7.0,3667,2010,...,"[La Caméra Deluxe, Maje Productions, A Single ...",3514,Asphalte (2015),FR,"[actress, actor, actress, actress, actor, acto...","[Isabelle Huppert, Gustave Kervern, Valeria Br...",[Samuel Benchetrit],"(['actress', 'actor', 'actress', 'actress', 'a...",asphalt,2.671918
7514,tt0110598,movie,Muriel's Wedding,Muriel's Wedding,1994,106,"[Comedy, Drama]",7.2,42877,1990,...,"[CiBy 2000, Film Victoria, House & Moorhouse F...",42500,Muriel (1994),FR,"[actress, actress, actor, actress, actress, ac...","[Toni Collette, Rachel Griffiths, Bill Hunter,...",[P.J. Hogan],"(['actress', 'actress', 'actor', 'actress', 'a...",muriel,2.689361

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Un indien dans la ville (1994),0.0,1.6,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
7605,tt0111543,movie,"Little Indian, Big City",Un indien dans la ville,1994,90,"[Adventure, Comedy, Romance]",5.7,4760,1990,...,"[Ice Films, PROCIREP, Touchstone Pictures, Can...",4232,Un indien dans la ville (1994),FR,"[actor, actor, actor, actress, actress, actor,...","[Thierry Lhermitte, Ludwig Briand, Patrick Tim...",[Hervé Palud],"(['actor', 'actor', 'actor', 'actress', 'actre...",un indien dan la vill,5.960464e-08
10352,tt0305568,movie,Fanfan,Fanfan la Tulipe,2003,97,"[Adventure, Comedy, Romance]",5.7,5639,2000,...,"[EuropaCorp, Open Art, CNC, Canal+, TF1 Films ...",5441,Fanfan la Tulipe (2003),FR,"[actor, actress, actor, actress, actor, actor,...","[Vincent Perez, Penélope Cruz, Didier Bourdon,...",[Gérard Krawczyk],"(['actor', 'actress', 'actor', 'actress', 'act...",fanfan la tulip,2.852239e+00
17288,tt1986843,movie,A Perfect Plan,Un plan parfait,2012,104,"[Adventure, Comedy, Romance]",6.3,10054,2010,...,"[Quad Productions, TF1 Films Production]",9496,Un plan parfait (2012),FR,"[actress, actor, actress, actor, actor, actres...","[Diane Kruger, Dany Boon, Alice Pol, Robert Pl...",[Pascal Chaumeil],"(['actress', 'actor', 'actress', 'actor', 'act...",un plan parfait,2.874241e+00
18880,tt3204144,movie,Love at First Fight,Les combattants,2014,98,"[Adventure, Comedy, Romance]",6.6,6328,2010,...,"[Appaloosa Films, Nord-Ouest Productions]",5929,Les combattants (2014),FR,"[actress, actor, actor, actress, actor, actor,...","[Adèle Haenel, Kévin Azaïs, Antoine Laurent, B...",[Thomas Cailley],"(['actress', 'actor', 'actor', 'actress', 'act...",le combatt,3.067065e+00
20014,tt4699388,movie,Up for Love,Un homme à la hauteur,2016,98,"[Comedy, Romance]",6.3,9414,2010,...,"[Creative Andina, VVZ Productions, Gaumont]",8678,Un homme à la hauteur (2016),FR,"[actor, actress, actor, actress, actor, actres...","[Jean Dujardin, Virginie Efira, Cédric Kahn, S...",[Laurent Tirard],"(['actor', 'actress', 'actor', 'actress', 'act...",un homm la hauteur,3.148506e+00
1319,tt0044602,movie,Fanfan la Tulipe,Fanfan la Tulipe,1952,102,"[Adventure, Comedy, Romance]",7.2,3499,1950,...,"[Amato Produzione, Filmsonor, Les Films Ariane...",3413,Fanfan la Tulipe (1952),FR,"[actor, actress, actor, actor, actor, actor, a...","[Gérard Philipe, Gina Lollobrigida, Marcel Her...",[Christian-Jaque],"(['actor', 'actress', 'actor', 'actor', 'actor...",fanfan la tulip,3.218510e+00
13762,tt11013434,movie,"My Donkey, My Lover & I",Antoinette dans les Cévennes,2020,96,"[Adventure, Comedy, Romance]",6.5,4010,2020,...,"[Chapka Films, France 3 Cinéma, Belga Producti...",3732,Antoinette dans les Cévennes (2020),FR,"[actress, actor, actress, actor, actor, actres...","[Laure Calamy, Benjamin Lavernhe, Olivia Côte,...",[Caroline Vignal],"(['actress', 'actor', 'actress', 'actor', 'act...",antoinett dan le c venn,3.240714e+00
2657,tt0059956,movie,Viva Maria!,Viva Maria!,1965,119,"[Adventure, Comedy, Romance]",6.3,4075,1960,...,"[Nouvelles Éditions de Films (NEF), Les Produc...",4007,Viva Maria! (1965),FR,"[actress, actress, actor, actress, actor, acto...","[Brigitte Bardot, Jeanne Moreau, George Hamilt...",[Louis Malle],"(['actress', 'actress', 'actor', 'actress', 'a...",viva maria,3.240856e+00
11401,tt0409011,movie,Lovewrecked,Love Wrecked,2005,87,"[Adventure, Comedy, Romance]",4.8,15699,2000,...,"[Media 8 Entertainment, Santo Domingo Film & M...",15251,L'amour à la dérive (2005),FR,"[actress, actor, actor, actress, actress, acto...","[Amanda Bynes, Chris Carmack, Jonathan Bennett...",[Randal Kleiser],"(['actress', 'actor', 'actor', 'actress', 'act...",l amour la rive,3.256583e+00
14356,tt1194616,movie,LOL (Laughing Out Loud),LOL (Laughing Out Loud) ®,2008,103,"[Comedy, Romance]",6.2,9775,2000,...,"[Poisson Rouge Pictures, Pathé, Bethsabée Much...",8571,Lol (2008),FR,"[actress, actress, actor, actress, actress, ac...","[Sophie Marceau, Christa Théret, Jérémy Kapone...",[Lisa Azuelos],"(['actress', 'actress', 'actor', 'actress', 'a...",lol,3.284729e+00
15707,tt14700948,movie,Friendzone,Friendzone,2021,88,"[Comedy, Romance]",5.9,4528,2020,...,"[Telfrance, Nabi Pictures]",4287,Friendzone (2021),FR,"[actor, actress, actress, actress, actress, ac...","[Mickaël Lumière, Manon Azem, Fadily Camara, E...",[Charles Van Tieghem],"(['actor', 'actress', 'actress', 'actress', 'a...",friendzon,3.295495e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Le Roi lion (1994),0.0,1.6,1.9,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
7489,tt0110357,movie,The Lion King,The Lion King,1994,88,"[Adventure, Animation, Drama]",8.5,1169832,1990,...,"[Walt Disney Pictures, Walt Disney Feature Ani...",1153338,Le Roi lion (1994),FR,"[actor, actor, actor, actress, actor, actress,...","[Matthew Broderick, Jeremy Irons, James Earl J...","[Roger Allers, Rob Minkoff]","(['actor', 'actor', 'actor', 'actress', 'actor...",le roi lion,0.000000
20932,tt6105098,movie,The Lion King,The Lion King,2019,118,"[Adventure, Animation, Drama]",6.8,272594,2010,...,"[Walt Disney Pictures, Fairview Entertainment]",263504,Le Roi Lion (2019),FR,"[actor, actress, actor, actor, actor, actor, a...","[Donald Glover, Beyoncé, Seth Rogen, Chiwetel ...",[Jon Favreau],"(['actor', 'actress', 'actor', 'actor', 'actor...",le roi lion,2.083874
8208,tt0118617,movie,Anastasia,Anastasia,1997,94,"[Adventure, Animation, Drama]",7.1,138701,1990,...,"[Fox Animation Studios, Fox Family Films, The ...",133855,Anastasia (1997),FR,"[actress, actor, actor, actor, actor, actress,...","[Meg Ryan, John Cusack, Christopher Lloyd, Kel...","[Don Bluth, Gary Goldman]","(['actress', 'actor', 'actor', 'actor', 'actor...",anastasia,2.959921
18092,tt2380307,movie,Coco,Coco,2017,105,"[Adventure, Animation, Drama]",8.4,619120,2010,...,"[Pixar, Walt Disney Pictures]",601961,Coco (2017),FR,"[actor, actor, actor, actress, actress, actor,...","[Anthony Gonzalez, Gael García Bernal, Benjami...","[Lee Unkrich, Adrian Molina]","(['actor', 'actor', 'actor', 'actress', 'actre...",coco,3.012027
16756,tt1754656,movie,The Little Prince,Le petit prince,2015,108,"[Adventure, Animation, Drama]",7.6,67706,2010,...,"[Orange Studio, ON Animation Studios, Canal+, ...",65169,Le petit prince (2015),FR,"[actor, actress, actress, actress, actor, acto...","[Jeff Bridges, Mackenzie Foy, Rachel McAdams, ...",[Mark Osborne],"(['actor', 'actress', 'actress', 'actress', 'a...",le petit princ,3.074281
7817,tt0114148,movie,Pocahontas,Pocahontas,1995,81,"[Adventure, Animation, Drama]",6.7,206813,1990,...,"[Walt Disney Pictures, Walt Disney Feature Ani...",201650,Pocahontas (1995),FR,"[actor, actress, actor, actor, actress, actor,...","[Mel Gibson, Linda Hunt, Christian Bale, Joe B...","[Mike Gabriel, Eric Goldberg]","(['actor', 'actress', 'actor', 'actor', 'actre...",pocahonta,3.083255
8633,tt0120794,movie,The Prince of Egypt,The Prince of Egypt,1998,99,"[Adventure, Animation, Drama]",7.2,150295,1990,...,"[DreamWorks Animation, DreamWorks Pictures]",146770,Le Prince d'Égypte (1998),FR,"[actor, actor, actor, actress, actress, actor,...","[Val Kilmer, Val Kilmer, Ralph Fiennes, Michel...","[Brenda Chapman, Steve Hickner, Simon Wells]","(['actor', 'actor', 'actor', 'actress', 'actre...",le princ gypt,3.136213
10246,tt0293416,movie,Metropolis,Metoroporisu,2001,108,"[Adventure, Animation, Drama]",7.2,23002,2000,...,"[Bandai Visual, Destination Films, TOHO, dents...",22615,Metropolis (2001),FR,"[actor, actor, actor, actress, actor, actor, a...","[Toshio Furukawa, Scott Weinger, Scott Weinger...",[Rintarô],"(['actor', 'actor', 'actor', 'actress', 'actor...",metropoli,3.169440
8784,tt0130623,movie,Dinosaur,Dinosaur,2000,82,"[Adventure, Animation, Drama]",6.4,68647,2000,...,"[Walt Disney Pictures, Walt Disney Feature Ani...",66426,Dinosaure (2000),FR,"[actor, actress, actor, actress, actor, actor,...","[D.B. Sweeney, Julianna Margulies, Samuel E. W...","[Eric Leighton, Ralph Zondag]","(['actor', 'actress', 'actor', 'actress', 'act...",dinosaur,3.196579
4940,tt0084649,movie,The Secret of NIMH,The Secret of NIMH,1982,82,"[Adventure, Animation, Drama]",7.5,46425,1980,...,"[United Artists, Aurora, Mrs. Brisby Ltd., Sul...",45737,Brisby et le secret de NIMH (1982),FR,"[actress, actor, actor, actor, actress, actres...","[Elizabeth Hartman, Derek Jacobi, Dom DeLuise,...",[Don Bluth],"(['actress', 'actor', 'actor', 'actor', 'actre...",brisbi et le secret de nimh,3.258461
17084,tt1891769,movie,The Painting,Le tableau,2011,80,"[Adventure, Animation, Drama]",7.3,4576,2010,...,"[Blue Spirit, Be-FILMS, uFilm, Rezo Production...",4449,Le tableau (2011),FR,"[actor, actress, actor, actor, actor, actor, a...","[Jean Barney, Chloé Berthier, JB Blanc, JB Bla...",[Jean-François Laguionie],"(['actor', 'actress', 'actor', 'actor', 'actor...",le tableau,3.284487

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Matrix (1999),1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
8802,tt0133093,movie,The Matrix,The Matrix,1999,136,"[Action, Sci-Fi]",8.7,2101020,1990,...,"[Village Roadshow Pictures, Groucho II Film Pa...",2077878,Matrix (1999),FR,"[actor, actor, actress, actor, actress, actor,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...",matrix,0.000000
9646,tt0234215,movie,The Matrix Reloaded,The Matrix Reloaded,2003,138,"[Action, Sci-Fi]",7.2,641493,2000,...,"[Village Roadshow Pictures, Silver Pictures, N...",631680,Matrix Reloaded (2003),FR,"[actor, actor, actress, actor, actor, actress,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actor...",matrix reload,1.448629
9717,tt0242653,movie,The Matrix Revolutions,The Matrix Revolutions,2003,129,"[Action, Sci-Fi]",6.7,552174,2000,...,"[Village Roadshow Pictures, NPV Entertainment,...",543345,Matrix Revolutions (2003),FR,"[actor, actor, actress, actor, actress, actres...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...",matrix revolut,1.701553
12728,tt0848228,movie,The Avengers,The Avengers,2012,143,"[Action, Sci-Fi]",8.0,1482318,2010,...,[Marvel Studios],1453777,Avengers (2012),FR,"[actor, actor, actor, actor, actress, actress,...","[Robert Downey Jr., Robert Downey Jr., Chris E...",[Joss Whedon],"(['actor', 'actor', 'actor', 'actor', 'actress...",aveng,2.300271
14515,tt1228705,movie,Iron Man 2,Iron Man 2,2010,124,"[Action, Sci-Fi]",6.9,885144,2010,...,[Marvel Studios],865905,Iron Man 2 (2010),FR,"[actor, actor, actress, actor, actress, actres...","[Robert Downey Jr., Mickey Rourke, Gwyneth Pal...",[Jon Favreau],"(['actor', 'actor', 'actress', 'actor', 'actre...",iron man,2.760857
13657,tt10838180,movie,The Matrix Resurrections,The Matrix Resurrections,2021,148,"[Action, Sci-Fi]",5.6,286999,2020,...,"[Warner Bros. Pictures, Village Roadshow Pictu...",282280,Matrix Resurrections (2021),FR,"[actor, actor, actress, actress, actor, actor,...","[Keanu Reeves, Keanu Reeves, Carrie-Anne Moss,...",[Lana Wachowski],"(['actor', 'actor', 'actress', 'actress', 'act...",matrix resurrect,2.837758
13495,tt1060277,movie,Cloverfield,Cloverfield,2008,85,"[Action, Horror, Sci-Fi]",7.0,427618,2000,...,[Bad Robot],421279,06-02-08 (2008),FR,"[actor, actress, actress, actor, actor, actres...","[Mike Vogel, Jessica Lucas, Lizzy Caplan, T.J....",[Matt Reeves],"(['actor', 'actress', 'actress', 'actor', 'act...",,2.848168
5919,tt0093870,movie,RoboCop,RoboCop,1987,102,"[Action, Crime, Sci-Fi]",7.6,289991,1980,...,"[Orion Pictures, Metro-Goldwyn-Mayer]",285612,RoboCop (1987),FR,"[actor, actor, actress, actor, actor, actor, a...","[Peter Weller, Peter Weller, Nancy Allen, Dan ...",[Paul Verhoeven],"(['actor', 'actor', 'actress', 'actor', 'actor...",robocop,2.861769
14724,tt1270798,movie,X-Men: First Class,X: First Class,2011,131,"[Action, Sci-Fi]",7.7,737300,2010,...,"[The Donners' Company, Bad Hat Harry Productio...",725595,X-Men : Le Commencement (2011),FR,"[actor, actor, actress, actress, actor, actor,...","[James McAvoy, Michael Fassbender, Jennifer La...",[Matthew Vaughn],"(['actor', 'actor', 'actress', 'actress', 'act...",x men le commenc,2.881479
15264,tt1375666,movie,Inception,Inception,2010,148,"[Action, Adventure, Sci-Fi]",8.8,2609684,2010,...,"[Legendary Pictures, Syncopy, Warner Bros. Pic...",2576054,Inception (2010),FR,"[actor, actor, actor, actor, actor, actor, act...","[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...",[Christopher Nolan],"(['actor', 'actor', 'actor', 'actor', 'actor',...",incept,2.939300
7214,tt0107290,movie,Jurassic Park,Jurassic Park,1993,127,"[Action, Adventure, Sci-Fi]",8.2,1091672,1990,...,"[Universal Pictures, Amblin Entertainment]",1076994,Jurassic Park (1993),FR,"[actor, actress, actor, actor, actor, actor, a...","[Sam Neill, Laura Dern, Jeff Goldblum, Richard...",[Steven Spielberg],"(['actor', 'actress', 'actor', 'actor', 'actor...",jurass park,2.943410

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Le Flic de Beverly Hills (1984),1.6,0.0,0.0,0.0,1.6,1.6,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
5158,tt0086960,movie,Beverly Hills Cop,Beverly Hills Cop,1984,105,"[Action, Comedy, Crime]",7.4,219742,1980,...,"[Paramount, Eddie Murphy Productions, Don Simp...",216226,Le Flic de Beverly Hills (1984),FR,"[actor, actor, actor, actress, actor, actor, a...","[Eddie Murphy, Judge Reinhold, John Ashton, Li...",[Martin Brest],"(['actor', 'actor', 'actor', 'actress', 'actor...",le flic de beverli hill,0.000000
5758,tt0092644,movie,Beverly Hills Cop II,Beverly Hills Cop II,1987,103,"[Action, Comedy, Crime]",6.6,141028,1980,...,"[Eddie Murphy Productions, Paramount, Don Simp...",138960,Le Flic de Beverly Hills 2 (1987),FR,"[actor, actor, actor, actor, actor, actress, a...","[Eddie Murphy, Judge Reinhold, Jürgen Prochnow...",[Tony Scott],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le flic de beverli hill,1.528657
7368,tt0109254,movie,Beverly Hills Cop III,Beverly Hills Cop III,1994,104,"[Action, Comedy, Crime]",5.5,95985,1990,...,"[Paramount, Eddie Murphy Productions]",94460,Le Flic de Beverly Hills 3 (1994),FR,"[actor, actor, actor, actor, actor, actor, act...","[Eddie Murphy, Jon Tenney, Joey Travolta, Euge...",[John Landis],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le flic de beverli hill,1.907615
6297,tt0097637,movie,K-9,K-9,1989,101,"[Action, Comedy, Crime]",6.1,36076,1980,...,"[Gordon Company, Universal Pictures]",35228,Chien de flic (1989),FR,"[actor, actress, actor, actor, actor, actor, a...","[Jim Belushi, Mel Harris, Kevin Tighe, Ed O'Ne...",[Rod Daniel],"(['actor', 'actress', 'actor', 'actor', 'actor...",chien de flic,2.624134
5428,tt0089591,movie,Miami Supercops,Miami Supercops,1985,96,"[Action, Comedy, Crime]",6.1,8420,1980,...,"[Trans-Cinema TV, El Pico S.A.]",8067,Les Super Flics de Miami (1985),FR,"[actor, actor, actor, actor, actor, actor, act...","[Terence Hill, Terence Hill, Bud Spencer, Bud ...",[Bruno Corbucci],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le super flic de miami,2.641472
6096,tt0095631,movie,Midnight Run,Midnight Run,1988,126,"[Action, Comedy, Crime]",7.5,97014,1980,...,"[City Light Films, Universal Pictures]",96108,Midnight Run (1988),FR,"[actor, actor, actor, actor, actor, actor, act...","[Robert De Niro, Charles Grodin, Yaphet Kotto,...",[Martin Brest],"(['actor', 'actor', 'actor', 'actor', 'actor',...",midnight run,2.649437
3841,tt0072288,movie,Thunderbolt and Lightfoot,Thunderbolt and Lightfoot,1974,115,"[Action, Comedy, Crime]",7.0,29469,1970,...,"[Malpaso Productions, United Artists]",29039,Le Canardeur (1974),FR,"[actor, actor, actor, actor, actress, actor, a...","[Clint Eastwood, Jeff Bridges, George Kennedy,...",[Michael Cimino],"(['actor', 'actor', 'actor', 'actor', 'actress...",le canardeur,2.683097
18175,tt2404463,movie,The Heat,The Heat,2013,117,"[Action, Comedy, Crime]",6.6,183294,2010,...,"[Chernin Entertainment, TSG Entertainment, Ing...",179667,Les flingueuses (2013),FR,"[actress, actor, actress, actor, actor, actor,...","[Sandra Bullock, Michael McDonald, Melissa McC...",[Paul Feig],"(['actress', 'actor', 'actress', 'actor', 'act...",le flingueus,2.729786
8389,tt0119664,movie,Metro,Metro,1997,117,"[Action, Comedy, Crime]",5.6,29559,1990,...,"[Caravan Pictures, Touchstone Pictures]",29092,Le flic de San Francisco (1997),FR,"[actor, actor, actress, actor, actor, actor, a...","[Eddie Murphy, Michael Rapaport, Kim Miyori, A...",[Thomas Carter],"(['actor', 'actor', 'actress', 'actor', 'actor...",le flic de san francisco,2.792323
6753,tt0102266,movie,The Last Boy Scout,The Last Boy Scout,1991,105,"[Action, Comedy, Crime]",7.0,114292,1990,...,"[Geffen Pictures, Silver Pictures, Warner Bros...",112692,Le Dernier Samaritain (1991),FR,"[actor, actor, actress, actor, actor, actress,...","[Bruce Willis, Damon Wayans, Chelsea Field, No...",[Tony Scott],"(['actor', 'actor', 'actress', 'actor', 'actor...",le dernier samaritain,2.848537
7504,tt0110475,movie,The Mask,The Mask,1994,101,"[Action, Comedy, Crime]",6.9,433420,1990,...,"[Dark Horse Entertainment, New Line Cinema]",424331,The Mask (1994),FR,"[actor, actor, actress, actor, actor, actress,...","[Jim Carrey, Jim Carrey, Cameron Diaz, Peter R...",[Chuck Russell],"(['actor', 'actor', 'actress', 'actor', 'actor...",mask,2.849609

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Rush Hour (1998),1.6,0.0,0.0,0.0,1.6,1.6,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
8639,tt0120812,movie,Rush Hour,Rush Hour,1998,98,"[Action, Comedy, Crime]",7.0,302592,1990,...,"[Roger Birnbaum Productions, New Line Cinema, ...",298427,Rush Hour (1998),FR,"[actor, actor, actor, actor, actor, actor, act...","[Jackie Chan, Chris Tucker, Ken Leung, Tom Wil...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",rush hour,0.000000
9968,tt0266915,movie,Rush Hour 2,Rush Hour 2,2001,90,"[Action, Comedy, Crime]",6.7,244439,2000,...,"[New Line Cinema, Roger Birnbaum Productions]",240913,Rush Hour 2 (2001),FR,"[actor, actor, actor, actress, actress, actor,...","[Jackie Chan, Chris Tucker, John Lone, Ziyi Zh...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actress', 'actre...",rush hour,0.262085
10249,tt0293564,movie,Rush Hour 3,Rush Hour 3,2007,91,"[Action, Comedy, Crime]",6.2,187220,2000,...,"[New Line Cinema, Roger Birnbaum Productions, ...",184442,Rush Hour 3 (2007),FR,"[actor, actor, actor, actor, actor, actress, a...","[Jackie Chan, Chris Tucker, Max von Sydow, Hir...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",rush hour,0.558000
10942,tt0367479,movie,After the Sunset,After the Sunset,2004,97,"[Action, Comedy, Crime]",6.2,50367,2000,...,"[New Line Cinema, Contrafilm, Firm Films, Rat ...",49703,Coup d'éclat (2004),FR,"[actor, actress, actor, actor, actress, actor,...","[Pierce Brosnan, Salma Hayek, Woody Harrelson,...",[Brett Ratner],"(['actor', 'actress', 'actor', 'actor', 'actre...",coup clat,2.103809
8394,tt0119695,movie,Money Talks,Money Talks,1997,97,"[Action, Comedy, Crime]",6.2,31730,1990,...,"[New Line Cinema, Juno Pix]",31418,Argent comptant (1997),FR,"[actor, actor, actress, actress, actor, actor,...","[Charlie Sheen, Chris Tucker, Heather Locklear...",[Brett Ratner],"(['actor', 'actor', 'actress', 'actress', 'act...",argent comptant,2.146135
7504,tt0110475,movie,The Mask,The Mask,1994,101,"[Action, Comedy, Crime]",6.9,433420,1990,...,"[Dark Horse Entertainment, New Line Cinema]",424331,The Mask (1994),FR,"[actor, actor, actress, actor, actor, actress,...","[Jim Carrey, Jim Carrey, Cameron Diaz, Peter R...",[Chuck Russell],"(['actor', 'actor', 'actress', 'actor', 'actor...",mask,2.237172
4832,tt0083511,movie,48 Hrs.,48 Hrs.,1982,96,"[Action, Comedy, Crime]",6.9,87562,1980,...,[Paramount],86309,48 Heures (1982),FR,"[actor, actor, actress, actor, actor, actor, a...","[Nick Nolte, Eddie Murphy, Annette O'Toole, Fr...",[Walter Hill],"(['actor', 'actor', 'actress', 'actor', 'actor...",heur,2.247779
15867,tt1512235,movie,Super,Super,2010,96,"[Action, Comedy, Crime]",6.7,84550,2010,...,"[This Is That Productions, Ambush Entertainmen...",83227,Super (2010),FR,"[actor, actor, actress, actor, actor, actor, a...","[Rainn Wilson, Elliot Page, Liv Tyler, Kevin B...",[James Gunn],"(['actor', 'actor', 'actress', 'actor', 'actor...",super,2.267876
20335,tt5164214,movie,Ocean's Eight,Ocean's Eight,2018,110,"[Action, Comedy, Crime]",6.3,247416,2010,...,"[Village Roadshow Pictures, Warner Bros. Pictu...",239845,Ocean's 8 (2018),FR,"[actress, actress, actress, actress, actor, ac...","[Sandra Bullock, Cate Blanchett, Anne Hathaway...",[Gary Ross],"(['actress', 'actress', 'actress', 'actress', ...",ocean,2.287618
19830,tt4463894,movie,Shaft,Shaft,2019,111,"[Action, Comedy, Crime]",6.4,59797,2010,...,"[Davis Entertainment, New Line Cinema]",58273,Shaft (2019),FR,"[actor, actor, actor, actress, actress, actor,...","[Samuel L. Jackson, Jessie T. Usher, Richard R...",[Tim Story],"(['actor', 'actor', 'actor', 'actress', 'actre...",shaft,2.288103
21818,tt7734218,movie,Stuber,Stuber,2019,93,"[Action, Comedy, Crime]",6.2,52336,2010,...,[GoldDay],51197,Stuber (2019),FR,"[actor, actor, actress, actress, actor, actres...","[Dave Bautista, Kumail Nanjiani, Mira Sorvino,...",[Michael Dowse],"(['actor', 'actor', 'actress', 'actress', 'act...",stuber,2.308192

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Resident Evil (2002),1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
8638,tt0120804,movie,Resident Evil,Resident Evil,2002,100,"[Action, Horror, Sci-Fi]",6.6,294342,2000,...,"[Impact Pictures, Davis Films, New Legacy Film...",288716,Resident Evil (2002),FR,"[actress, actress, actor, actor, actress, actr...","[Milla Jovovich, Michelle Rodriguez, Ryan McCl...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actor', 'act...",resid evil,0.000000
14468,tt1220634,movie,Resident Evil: Afterlife,Resident Evil: Afterlife,2010,96,"[Action, Horror, Sci-Fi]",5.8,181395,2010,...,"[Screen Gems, Constantin Film, Davis Films/Imp...",177970,Resident Evil: Afterlife (2010),FR,"[actress, actress, actor, actor, actor, actor,...","[Milla Jovovich, Ali Larter, Wentworth Miller,...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actor', 'act...",resid evil afterlif,2.239256
18374,tt2592614,movie,Resident Evil: The Final Chapter,Resident Evil: The Final Chapter,2016,107,"[Action, Horror, Sci-Fi]",5.5,102952,2010,...,"[Screen Gems, Constantin Film, Impact Pictures...",100179,Resident Evil : Chapitre final (2016),FR,"[actress, actress, actor, actress, actor, acto...","[Milla Jovovich, Milla Jovovich, Iain Glen, Al...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actress', 'a...",resid evil chapitr final,2.273988
17014,tt1855325,movie,Resident Evil: Retribution,Resident Evil: Retribution,2012,95,"[Action, Horror, Sci-Fi]",5.3,152385,2010,...,"[Davis Films/Impact Pictures, Constantin Film,...",148815,Resident Evil: Retribution (2012),FR,"[actress, actress, actress, actress, actress, ...","[Milla Jovovich, Sienna Guillory, Michelle Rod...",[Paul W.S. Anderson],"(['actress', 'actress', 'actress', 'actress', ...",resid evil retribut,2.282272
11689,tt0432021,movie,Resident Evil: Extinction,Resident Evil: Extinction,2007,94,"[Action, Horror, Sci-Fi]",6.2,208226,2000,...,"[Screen Gems, Impact Pictures, Davis Films, Co...",204554,Resident Evil: Extinction (2007),FR,"[actress, actress, actor, actor, actress, acto...","[Milla Jovovich, Ali Larter, Oded Fehr, Iain G...",[Russell Mulcahy],"(['actress', 'actress', 'actor', 'actor', 'act...",resid evil extinct,2.302197
10485,tt0318627,movie,Resident Evil: Apocalypse,Resident Evil: Apocalypse,2004,94,"[Action, Horror, Sci-Fi]",6.1,213005,2000,...,"[Davis Films/Impact Pictures, Screen Gems, Con...",209183,Resident Evil: Apocalypse (2004),FR,"[actress, actress, archive_footage, actor, act...","[Milla Jovovich, Sienna Guillory, Eric Mabius,...",[Alexander Witt],"(['actress', 'actress', 'archive_footage', 'ac...",resid evil apocalyps,2.470185
21416,tt6920084,movie,Resident Evil: Welcome to Raccoon City,Resident Evil: Welcome to Raccoon City,2021,107,"[Action, Horror, Sci-Fi]",5.2,66376,2020,...,"[Constantin Film, Davis Films, Screen Gems, CA...",64331,Resident Evil : Bienvenue à Raccoon City (2021),FR,"[actress, actor, actress, actor, actor, actor,...","[Kaya Scodelario, Robbie Amell, Hannah John-Ka...",[Johannes Roberts],"(['actress', 'actor', 'actress', 'actor', 'act...",resid evil bienvenu raccoon citi,2.792929
12839,tt0892899,movie,Outpost,Outpost,2008,90,"[Action, Horror, Sci-Fi]",5.8,18058,2000,...,"[Black Camel Pictures, Regent Capital]",17852,Outpost (2008),FR,"[actor, actor, actor, actor, actor, actor, act...","[Ray Stevenson, Julian Wadham, Richard Brake, ...",[Steve Barker],"(['actor', 'actor', 'actor', 'actor', 'actor',...",outpost,2.936573
18434,tt2667380,movie,Kill Command,Kill Command,2016,99,"[Action, Horror, Sci-Fi]",5.7,15247,2010,...,"[Bandito, Vertigo Films]",14739,Identify (2016),FR,"[actor, actress, actor, actor, actor, actor, a...","[Thure Lindhardt, Vanessa Kirby, David Ajala, ...",[Steven Gomez],"(['actor', 'actress', 'actor', 'actor', 'actor...",identifi,2.944053
14136,tt1160996,movie,The Colony,The Colony,2013,95,"[Action, Horror, Sci-Fi]",5.3,47677,2010,...,"[RLJ Entertainment, Alcina Pictures, 120dB Fil...",46657,The Colony (2013),FR,"[actor, actor, actor, actress, actor, actor, a...","[Kevin Zegers, Laurence Fishburne, Bill Paxton...",[Jeff Renfroe],"(['actor', 'actor', 'actor', 'actress', 'actor...",coloni,2.992785
19874,tt4530422,movie,Overlord,Overlord,2018,110,"[Action, Horror, Sci-Fi]",6.6,109090,2010,...,"[Bad Robot, Paramount]",106554,Overlord (2018),FR,"[actor, actor, actress, actor, actor, actor, a...","[Jovan Adepo, Wyatt Russell, Mathilde Ollivier...",[Julius Avery],"(['actor', 'actor', 'actress', 'actor', 'actor...",overlord,3.003244

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Harry Potter à l'école des sorciers (2001),0.0,1.6,0.0,0.0,0.0,0.0,0.0,0.0,1.9,1.9,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
9706,tt0241527,movie,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,2001,152,"[Adventure, Family, Fantasy]",7.6,877801,2000,...,"[Warner Bros. Pictures, Heyday Films, 1492 Pic...",853095,Harry Potter à l'école des sorciers (2001),FR,"[actor, actor, actress, actor, actress, actor,...","[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",[Chris Columbus],"(['actor', 'actor', 'actress', 'actor', 'actre...",harri potter l cole de sorcier,8.429370e-08
10262,tt0295297,movie,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,2002,161,"[Adventure, Family, Fantasy]",7.4,708845,2000,...,"[Warner Bros. Pictures, Heyday Films, 1492 Pic...",689009,Harry Potter et la Chambre des secrets (2002),FR,"[actor, actor, actress, actor, actor, actress,...","[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",[Chris Columbus],"(['actor', 'actor', 'actress', 'actor', 'actor...",harri potter et la chambr de secret,2.454054e+00
10604,tt0330373,movie,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,2005,157,"[Adventure, Family, Fantasy]",7.7,697546,2000,...,"[Warner Bros. Pictures, Heyday Films, Patalex ...",678794,Harry Potter et la Coupe de feu (2005),FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[Mike Newell],"(['actor', 'actress', 'actor', 'actor', 'actor...",harri potter et la coup de feu,2.829506e+00
5632,tt0091369,movie,Labyrinth,Labyrinth,1986,101,"[Adventure, Family, Fantasy]",7.3,153732,1980,...,"[Henson Associates, Inc., Lucasfilm Ltd., The ...",151641,Labyrinthe (1986),FR,"[actor, actress, actor, actress, actor, actres...","[David Bowie, Jennifer Connelly, Toby Froud, S...",[Jim Henson],"(['actor', 'actress', 'actor', 'actress', 'act...",labyrinth,2.866294e+00
19428,tt3861390,movie,Dumbo,Dumbo,2019,112,"[Adventure, Family, Fantasy]",6.3,84118,2010,...,"[Tim Burton Productions, Walt Disney Pictures,...",80126,Dumbo (2019),FR,"[actor, actor, actor, actress, actor, actress,...","[Colin Farrell, Michael Keaton, Danny DeVito, ...",[Tim Burton],"(['actor', 'actor', 'actor', 'actress', 'actor...",dumbo,2.990267e+00
10342,tt0304141,movie,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,2004,142,"[Adventure, Family, Fantasy]",7.9,708900,2000,...,"[Warner Bros. Pictures, 1492 Pictures, Heyday ...",689440,Harry Potter et le Prisonnier d'Azkaban (2004),FR,"[actor, actress, actor, actor, actress, actres...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[Alfonso Cuarón],"(['actor', 'actress', 'actor', 'actor', 'actre...",harri potter et le prisonni azkaban,3.005552e+00
12907,tt0926084,movie,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows - Part 1,2010,146,"[Adventure, Family, Fantasy]",7.7,613777,2010,...,"[Warner Bros. Pictures, Heyday Films]",596465,Harry Potter et les Reliques de la Mort : part...,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",harri potter et le reliqu de la mort parti,3.166429e+00
14393,tt1201607,movie,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows - Part 2,2011,130,"[Adventure, Family, Fantasy]",8.1,970189,2010,...,"[Warner Bros. Pictures, Heyday Films]",951509,Harry Potter et les Reliques de la Mort : part...,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",harri potter et le reliqu de la mort parti,3.179738e+00
18863,tt3183660,movie,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,2016,132,"[Adventure, Family, Fantasy]",7.2,515915,2010,...,"[Heyday Films, Warner Bros. Pictures]",498323,Les Animaux fantastiques (2016),FR,"[actor, actress, actress, actor, actor, actor,...","[Eddie Redmayne, Katherine Waterston, Alison S...",[David Yates],"(['actor', 'actress', 'actress', 'actor', 'act...",le animaux fantastiqu,3.185973e+00
10453,tt0316396,movie,Peter Pan,Peter Pan,2003,113,"[Adventure, Family, Fantasy]",6.8,81401,2000,...,"[Revolution Studios, Quinta Communications, Un...",79006,Peter Pan (2003),FR,"[actor, actor, actor, actress, actress, actres...","[Jeremy Sumpter, Jason Isaacs, Jason Isaacs, O...",[P.J. Hogan],"(['actor', 'actor', 'actor', 'actress', 'actre...",peter pan,3.216436e+00
4863,tt0083791,movie,The Dark Crystal,The Dark Crystal,1982,93,"[Adventure, Family, Fantasy]",7.1,73129,1980,...,"[ITC Entertainment, The Jim Henson Company, Un...",72182,Dark Crystal (1982),FR,"[actor, actor, actress, actor, actor, actor, a...","[Jim Henson, Jim Henson, Kathryn Mullen, Frank...","[Jim Henson, Frank Oz]","(['actor', 'actor', 'actress', 'actor', 'actor...",dark crystal,3.217578e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Jurassic World (2015),1.6,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
10977,tt0369610,movie,Jurassic World,Jurassic World,2015,124,"[Action, Adventure, Sci-Fi]",6.9,690253,2010,...,"[Amblin Entertainment, Universal Pictures]",671222,Jurassic World (2015),FR,"[actor, actress, actor, actress, actor, actor,...","[Chris Pratt, Bryce Dallas Howard, Ty Simpkins...",[Colin Trevorrow],"(['actor', 'actress', 'actor', 'actress', 'act...",jurass world,5.960464e-08
21955,tt8041270,movie,Jurassic World Dominion,Jurassic World Dominion,2022,147,"[Action, Adventure, Sci-Fi]",5.6,214927,2020,...,"[Amblin Entertainment, Universal Pictures]",210147,Jurassic World: Le Monde d'après (2022),FR,"[actor, actress, actress, actor, actor, actres...","[Chris Pratt, Bryce Dallas Howard, Laura Dern,...",[Colin Trevorrow],"(['actor', 'actress', 'actress', 'actor', 'act...",jurass world le mond apr,1.896244e+00
20128,tt4881806,movie,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,128,"[Action, Adventure, Sci-Fi]",6.1,351989,2010,...,"[Amblin Entertainment, Universal Pictures]",341854,Jurassic World: Fallen Kingdom (2018),FR,"[actor, actress, actor, actor, actress, actor,...","[Chris Pratt, Bryce Dallas Howard, Rafe Spall,...",[J.A. Bayona],"(['actor', 'actress', 'actor', 'actor', 'actre...",jurass world fallen kingdom,2.054367e+00
14325,tt1190080,movie,2012,2012,2009,158,"[Action, Adventure, Sci-Fi]",5.8,404268,2000,...,"[Columbia Pictures, Centropolis Entertainment,...",393196,2012 (2009),FR,"[actor, actress, actor, actress, actor, actor,...","[John Cusack, Thandiwe Newton, Chiwetel Ejiofo...",[Roland Emmerich],"(['actor', 'actress', 'actor', 'actress', 'act...",,2.145338e+00
15756,tt1483013,movie,Oblivion,Oblivion,2013,124,"[Action, Adventure, Sci-Fi]",7.0,561281,2010,...,"[Universal Pictures, Relativity Media, Monolit...",551482,Oblivion (2013),FR,"[actor, actor, actress, actress, actor, actres...","[Tom Cruise, Morgan Freeman, Andrea Riseboroug...",[Joseph Kosinski],"(['actor', 'actor', 'actress', 'actress', 'act...",oblivion,2.237305e+00
7214,tt0107290,movie,Jurassic Park,Jurassic Park,1993,127,"[Action, Adventure, Sci-Fi]",8.2,1091672,1990,...,"[Universal Pictures, Amblin Entertainment]",1076994,Jurassic Park (1993),FR,"[actor, actress, actor, actor, actor, actor, a...","[Sam Neill, Laura Dern, Jeff Goldblum, Richard...",[Steven Spielberg],"(['actor', 'actress', 'actor', 'actor', 'actor...",jurass park,2.238063e+00
20015,tt4701182,movie,Bumblebee,Bumblebee,2018,114,"[Action, Adventure, Sci-Fi]",6.7,193559,2010,...,"[Paramount, Allspark Pictures, Bay Films, di B...",188158,Bumblebee (2018),FR,"[actress, actor, actor, actor, actress, actor,...","[Hailee Steinfeld, Jorge Lendeborg Jr., John C...",[Travis Knight],"(['actress', 'actor', 'actor', 'actor', 'actre...",bumblebe,2.239714e+00
11504,tt0418279,movie,Transformers,Transformers,2007,144,"[Action, Adventure, Sci-Fi]",7.1,685604,2000,...,"[DreamWorks Pictures, di Bonaventura Pictures,...",675521,Transformers (2007),FR,"[actor, actress, actor, actor, actress, actor,...","[Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese...",[Michael Bay],"(['actor', 'actress', 'actor', 'actor', 'actre...",transform,2.243465e+00
8540,tt0120591,movie,Armageddon,Armageddon,1998,151,"[Action, Adventure, Sci-Fi]",6.7,458357,1990,...,"[Touchstone Pictures, Jerry Bruckheimer Films,...",451249,Armageddon (1998),FR,"[actor, actor, actor, actress, actor, actor, a...","[Bruce Willis, Billy Bob Thornton, Ben Affleck...",[Michael Bay],"(['actor', 'actor', 'actor', 'actress', 'actor...",armageddon,2.255737e+00
15419,tt1411250,movie,Riddick,Riddick,2013,119,"[Action, Adventure, Sci-Fi]",6.4,180430,2010,...,"[One Race, Riddick Canada Productions, Radar P...",176749,Riddick (2013),FR,"[actor, actor, actress, actor, actor, actor, a...","[Vin Diesel, Karl Urban, Katee Sackhoff, Jordi...",[David Twohy],"(['actor', 'actor', 'actress', 'actor', 'actor...",riddick,2.263603e+00
12674,tt0831387,movie,Godzilla,Godzilla,2014,123,"[Action, Adventure, Sci-Fi]",6.4,448695,2010,...,[Legendary Pictures],440543,Godzilla (2014),FR,"[actor, actress, actor, actor, actor, actor, a...","[Aaron Taylor-Johnson, Elizabeth Olsen, Bryan ...",[Gareth Edwards],"(['actor', 'actress', 'actor', 'actor', 'actor...",godzilla,2.263639e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
"Le Bon, la Brute et le Truand (1966)",0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
2674,tt0060196,movie,"The Good, the Bad and the Ugly","Il buono, il brutto, il cattivo",1966,178,"[Adventure, Drama, Western]",8.8,829173,1960,...,"[United Artists, PEA, Arturo González Producci...",821802,"Le Bon, la Brute et le Truand (1966)",FR,"[actor, actor, actor, actor, actor, actor, act...","[Clint Eastwood, Eli Wallach, Lee Van Cleef, L...",[Sergio Leone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le bon la brute et le truand,0.000000
3474,tt0068421,movie,The Cowboys,The Cowboys,1972,134,"[Adventure, Drama, Western]",7.4,16293,1970,...,"[Sanford Productions (III), Warner Bros. Pictu...",16097,John Wayne et les cow-boys (1972),FR,"[actor, actor, actor, actor, actress, actor, a...","[John Wayne, Roscoe Lee Browne, Bruce Dern, Br...",[Mark Rydell],"(['actor', 'actor', 'actor', 'actor', 'actress...",john wayn et le cow boy,3.905118
1068,tt0040897,movie,The Treasure of the Sierra Madre,The Treasure of the Sierra Madre,1948,126,"[Adventure, Drama, Western]",8.2,134451,1940,...,[Warner Bros. Pictures],133444,Le Trésor de la Sierra Madre (1948),FR,"[actor, actor, actor, actor, actor, actor, act...","[Humphrey Bogart, Walter Huston, Tim Holt, Bru...",[John Huston],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le tr sor de la sierra madr,3.907026
6457,tt0099348,movie,Dances with Wolves,Dances with Wolves,1990,181,"[Adventure, Drama, Western]",8.0,296378,1990,...,"[Tig Productions, Majestic Films International...",292686,Danse avec les loups (1990),FR,"[actor, actress, actor, actor, actor, actress,...","[Kevin Costner, Mary McDonnell, Graham Greene,...",[Kevin Costner],"(['actor', 'actress', 'actor', 'actor', 'actor...",dans avec le loup,3.932250
516,tt0031971,movie,Stagecoach,Stagecoach,1939,96,"[Adventure, Drama, Western]",7.8,55130,1930,...,"[Walter Wanger Productions, United Artists]",54190,La Chevauchée fantastique (1939),FR,"[actor, actress, actor, actor, actor, actress,...","[John Wayne, Claire Trevor, Andy Devine, John ...",[John Ford],"(['actor', 'actress', 'actor', 'actor', 'actor...",la chevauch e fantastiqu,3.958888
1698,tt0049730,movie,The Searchers,The Searchers,1956,119,"[Adventure, Drama, Western]",7.8,98175,1950,...,"[C.V. Whitney Pictures, Warner Bros. Pictures]",97002,La prisonnière du désert (1956),FR,"[actor, actor, actress, actor, actress, actor,...","[John Wayne, Jeffrey Hunter, Vera Miles, Ward ...",[John Ford],"(['actor', 'actor', 'actress', 'actor', 'actre...",la prisonni du sert,4.060255
3364,tt0067388,movie,Man in the Wilderness,Man in the Wilderness,1971,104,"[Adventure, Drama, Western]",6.8,3550,1970,...,"[Limbridge, Wilderness Films]",3465,Le convoi sauvage (1971),FR,"[actor, actor, actor, actor, actor, actress, a...","[Richard Harris, John Huston, Henry Wilcoxon, ...",[Richard C. Sarafian],"(['actor', 'actor', 'actor', 'actor', 'actor',...",le convoi sauvag,4.074531
2615,tt0059578,movie,For a Few Dollars More,Per qualche dollaro in più,1965,132,"[Drama, Western]",8.2,280984,1960,...,"[PEA, Constantin Film, Arturo González Producc...",277572,...et pour quelques dollars de plus (1965),FR,"[actor, actor, actor, actress, actor, actor, a...","[Clint Eastwood, Lee Van Cleef, Gian Maria Vol...",[Sergio Leone],"(['actor', 'actor', 'actor', 'actress', 'actor...",et pour quelqu dollar de plu,4.090739
3509,tt0068762,movie,Jeremiah Johnson,Jeremiah Johnson,1972,108,"[Adventure, Drama, Western]",7.6,35861,1970,...,"[Sanford Productions (III), Warner Bros. Pictu...",35357,Jeremiah Johnson (1972),FR,"[actor, actor, actress, actor, actor, actress,...","[Robert Redford, Will Geer, Delle Bolton, Josh...",[Sydney Pollack],"(['actor', 'actor', 'actress', 'actor', 'actor...",jeremiah johnson,4.107005
1833,tt0051433,movie,The Bravados,The Bravados,1958,98,"[Drama, Western]",7.0,6664,1950,...,[20th Century Fox],6572,Les Bravados (1958),FR,"[actor, actress, actor, actor, actor, actress,...","[Gregory Peck, Joan Collins, Stephen Boyd, Alb...",[Henry King],"(['actor', 'actress', 'actor', 'actor', 'actor...",le bravado,4.151109
2836,tt0061747,movie,Hang 'Em High,Hang 'Em High,1968,114,"[Drama, Western]",7.0,44287,1960,...,"[United Artists, Malpaso Productions, Leonard ...",43652,Pendez-les haut et court (1968),FR,"[actor, actress, actor, actor, actor, actor, a...","[Clint Eastwood, Inger Stevens, Pat Hingle, Ed...",[Ted Post],"(['actor', 'actress', 'actor', 'actor', 'actor...",pendez le haut et court,4.160893

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,zoulou,zu,zucker,zugarramurdi,zuki,zulu,zweig,zweiohrk,zwigato,zyada
title_y,,,,,,,,,,,,,,,,,,,,,
Pearl Harbor (2001),1.6,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,clean_title_y,distance
9523,tt0213149,movie,Pearl Harbor,Pearl Harbor,2001,183,"[Action, Drama, Romance]",6.2,356649,2000,...,"[Jerry Bruckheimer Films, Touchstone Pictures]",350900,Pearl Harbor (2001),FR,"[actor, actress, actor, actor, actor, actor, a...","[Ben Affleck, Kate Beckinsale, Josh Hartnett, ...",[Michael Bay],"(['actor', 'actress', 'actor', 'actor', 'actor...",pearl harbor,0.000000
14605,tt1242599,movie,Bellflower,Bellflower,2011,106,"[Action, Drama, Romance]",6.3,8138,2010,...,[Coatwolf Productions],8014,Bellflower (2011),FR,"[actor, actor, actress, actress, actor, actor,...","[Evan Glodell, Tyler Dawson, Jessie Wiseman, R...",[Evan Glodell],"(['actor', 'actor', 'actress', 'actress', 'act...",bellflow,2.448235
19224,tt3640424,movie,Allied,Allied,2016,124,"[Action, Drama, Romance]",7.1,172949,2010,...,"[Paramount, GK Films, ImageMovers, Huahua Media]",168785,Alliés (2016),FR,"[actor, actress, actor, actor, actor, actress,...","[Brad Pitt, Marion Cotillard, Jared Harris, Vi...",[Robert Zemeckis],"(['actor', 'actress', 'actor', 'actor', 'actor...",alli,2.509416
6323,tt0097889,movie,Miracle Mile,Miracle Mile,1988,87,"[Action, Drama, Romance]",7.0,12790,1980,...,"[Miracle Mile Productions Inc., Hemdale Film]",12594,Appel d'urgence (1988),FR,"[actor, actress, actor, actress, actor, actres...","[Anthony Edwards, Mare Winningham, John Agar, ...",[Steve De Jarnatt],"(['actor', 'actress', 'actor', 'actress', 'act...",appel urgenc,2.560160
7272,tt0107889,movie,The Program,The Program,1993,112,"[Action, Drama, Romance]",6.5,11793,1990,...,[Touchstone Pictures],11717,Le program (1993),FR,"[actor, actress, actor, actor, actress, actor,...","[James Caan, Halle Berry, Omar Epps, Craig She...",[David S. Ward],"(['actor', 'actress', 'actor', 'actor', 'actre...",le program,2.604634
5714,tt0092085,movie,Thrashin',Thrashin',1986,93,"[Action, Drama, Romance]",6.5,5190,1980,...,[Winters Hollywood Entertainment Holdings Corp...,5143,Skate Gang (1986),FR,"[actor, actor, actress, actor, actor, actor, a...","[Josh Brolin, Robert Rusler, Pamela Gidley, Br...",[David Winters],"(['actor', 'actor', 'actress', 'actor', 'actor...",skate gang,2.668664
20036,tt4731148,movie,Attraction,Prityazhenie,2017,132,"[Action, Drama, Romance]",5.6,14488,2010,...,"[Vodorod 2011, Art Pictures Studio]",13791,Attraction (2017),FR,"[actress, actor, actor, actor, actor, actress,...","[Irina Starshenbaum, Aleksandr Petrov, Rinal M...",[Fedor Bondarchuk],"(['actress', 'actor', 'actor', 'actor', 'actor...",attract,2.693169
7257,tt0107711,movie,Nowhere to Run,Nowhere to Run,1993,94,"[Action, Drama, Romance]",5.7,26646,1990,...,"[Columbia Pictures, Adelson-Baumgarten Product...",26064,Cavale sans issue (1993),FR,"[actor, actress, actor, actor, actress, actor,...","[Jean-Claude Van Damme, Rosanna Arquette, Kier...",[Robert Harmon],"(['actor', 'actress', 'actor', 'actor', 'actre...",caval san issu,2.694217
1128,tt0041841,movie,Sands of Iwo Jima,Sands of Iwo Jima,1949,100,"[Action, Drama, Romance]",7.0,11637,1940,...,[Republic Pictures],11527,Iwo Jima (1949),FR,"[actor, actor, actress, actor, actor, actor, a...","[John Wayne, John Agar, Adele Mara, Forrest Tu...",[Allan Dwan],"(['actor', 'actor', 'actress', 'actor', 'actor...",iwo jima,2.741732
10452,tt0316356,movie,Open Range,Open Range,2003,139,"[Action, Drama, Romance]",7.4,80097,2000,...,"[Tig Productions, Touchstone Pictures, Cobalt ...",79193,Open Range (2003),FR,"[actor, actor, actor, actor, actress, actor, a...","[Kevin Costner, Robert Duvall, Diego Luna, Abr...",[Kevin Costner],"(['actor', 'actor', 'actor', 'actor', 'actress...",open rang,2.742844
11765,tt0439662,movie,Fanaa,Fanaa,2006,168,"[Action, Drama, Romance]",7.1,35603,2000,...,[Yash Raj Films],35433,Fanaa (2006),FR,"[actor, actress, actor, actress, actress, actr...","[Aamir Khan, Kajol, Rishi Kapoor, Tabu, Kirron...",[Kunal Kohli],"(['actor', 'actress', 'actor', 'actress', 'act...",fanaa,2.749524

In [28]:
# Trouver les 10 plus proches voisins pour chaque point de df_finish_him_concat 

distances, indices = neigh.kneighbors(df_finish_him_concat) 


# Exclure le premier résultat (le film d'origine) et garder les 10 suivants 

distances = distances[:, 1:] 
indices = indices[:, 1:]

# Créer une liste des titres des films correspondants aux indices des voisins

reco = [] 

for idx in indices: 
    reco.append(df_finish_him['title_y'].iloc[idx].tolist())

# Créer un DataFrame pour afficher les résultats 

recommendations = pd.DataFrame({ 'tconst': df_finish_him['tconst'],'Distances': list(distances), 'Titres_voisins': reco })

In [29]:
df_final_reco = df_finish_him.merge(recommendations, how='inner', left_on='tconst', right_on='tconst')

In [30]:
"https://image.tmdb.org/t/p/w200/14q24aBfJPrjumuWjKKA6Bwml2A.jpg"

df_final_reco['url_poster_path'] = df_final_reco['poster_path'].apply(lambda row: f"https://image.tmdb.org/t/p/w200{row}")

In [31]:
df_final = df_final_reco.to_csv("df_final_title_stem.csv")

In [35]:

df_final_test_2 = pd.read_csv('df_final_title_stem.csv')

df_final_test_2 = df_final_test_2.drop(columns='Unnamed: 0')

df_tmdb = pd.read_csv('tmdb_full.csv')

df_tmdb.info()

df_final_test_2 = df_final_test_2.merge(df_tmdb[['imdb_id','id']], left_on='tconst', right_on='imdb_id', how='inner')

C:\Users\remim\AppData\Local\Temp\ipykernel_33480\3660349841.py:5: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb = pd.read_csv('tmdb_full.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309572 entries, 0 to 309571
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   adult                         309572 non-null  bool
 1   backdrop_path                 151760 non-null  object
 2   budget                        309572 non-null  int64
 3   genres                        309572 non-null  object
 4   homepage                      44262 non-null   object
 5   id                            309572 non-null  int64
 6   imdb_id                       309572 non-null  object
 7   original_language             309572 non-null  object
 8   original_title                309572 non-null  object
 9   overview                      282512 non-null  object
 10  popularity                    309572 non-null  float64
 11  poster_path                   264159 non-null  object
 12  production_countries          309572 non-null  object
 13  release_date                  301339 non-null  object
 14  revenue                       309572 non-null  int64
 15  runtime                       309572 non-null  int64
 16  spoken_languages              309572 non-null  object
 17  status                        309572 non-null  object
 18  tagline                       74573 non-null   object
 19  title                         309572 non-null  object
 20  video                         309572 non-null  bool
 21  vote_average                  309572 non-null  float64
 22  vote_count                    309572 non-null  int64
 23  production_companies_name     309572 non-null  object
 24  production_companies_country  164438 non-null  object
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 54.9+ MB

In [36]:
df_final_test_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22764 entries, 0 to 22763
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22764 non-null  object
 1   titleType                  22764 non-null  object
 2   primaryTitle               22764 non-null  object
 3   originalTitle              22764 non-null  object
 4   startYear                  22764 non-null  int64
 5   runtimeMinutes             22764 non-null  int64
 6   genres_x                   22764 non-null  object
 7   averageRating              22764 non-null  float64
 8   numVotes                   22764 non-null  int64
 9   bucket 10                  22764 non-null  int64
 10  backdrop_path              22764 non-null  object
 11  original_language          22764 non-null  object
 12  overview                   22764 non-null  object
 13  popularity                 22764 non-null  float64
 14  poster_path                22764 non-null  object
 15  production_countries       22764 non-null  object
 16  spoken_languages           22764 non-null  object
 17  vote_average               22764 non-null  float64
 18  vote_count                 22764 non-null  int64
 19  production_companies_name  22764 non-null  object
 20  ecart vote                 22764 non-null  int64
 21  title_y                    22764 non-null  object
 22  region                     22764 non-null  object
 23  category                   22764 non-null  object
 24  primaryName                22764 non-null  object
 25  directors                  22764 non-null  object
 26  job_name                   22764 non-null  object
 27  clean_title_y              22681 non-null  object
 28  Distances                  22764 non-null  object
 29  Titres_voisins             22764 non-null  object
 30  url_poster_path            22764 non-null  object
 31  imdb_id                    22764 non-null  object
 32  id                         22764 non-null  int64
dtypes: float64(3), int64(7), object(23)
memory usage: 5.7+ MB

In [51]:
import requests

url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ODg1Yjc5MDcwOTZmMzVhYzdjMjNmNDAwYWIyOTU0NSIsIm5iZiI6MTczMjI2MzgwMi4yMDgsInN1YiI6IjY3NDAzZjdhOGI0ZTRjMmVmNmY3ODFhNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.5USrXDhX_RiCT2pzeSES95HgeNjnohXsIDbIyz8Qf3I"
}

response = requests.get(url, headers=headers)

print(response)

df_final_test_2[['Titres_voisins']]

<Response [200]>

                                          Titres_voisins
0      ['Monsieur Joe (1949)', 'Horizons perdus (1937...
1      ['Les Trois Lumières (1921)', 'Nous sommes la ...
2      ['Le comte de Monte-Cristo (1975)', 'Pour qui ...
3      ["Panique à l'hôtel (1938)", 'Illusions perdue...
4      ['Retour aux Philippines (1945)', 'Le Long Voy...
...                                                  ...
22759  ['Vikram (2022)', 'Master (2021)', 'Ratsasan (...
22760  ['Les gens de Dublin (1987)', 'The Magdalene S...
22761  ['Freddy sort de la nuit (1994)', '1408: Teatt...
22762  ['Simon (2004)', 'Les habitants (1992)', 'Ober...
22763  ['Las 13 rosas (2007)', 'Des hommes et des die...

[22764 rows x 1 columns]

In [8]:
import requests

# URL de base pour les requêtes à TMDb
base_url = 'https://api.themoviedb.org/3'

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ODg1Yjc5MDcwOTZmMzVhYzdjMjNmNDAwYWIyOTU0NSIsIm5iZiI6MTczMjI2MzgwMi4yMDgsInN1YiI6IjY3NDAzZjdhOGI0ZTRjMmVmNmY3ODFhNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.5USrXDhX_RiCT2pzeSES95HgeNjnohXsIDbIyz8Qf3I"
}


# Fonction pour récupérer le résumé d'un film en français
def get_movie_overview(movie_id, language='fr'):
    url = f"{base_url}/movie/{movie_id}"
    params = {
        'language': language
    }
    response = requests.get(url, headers=headers, params=params)
    if response.status_code == 200:
        data = response.json()
        return data['overview']
    else:
        return None

# Liste des IDs de films à rechercher
movie_ids = df_final_test_2['id']  # Exemple d'IDs de films

# Liste pour stocker les résultats
results = []

# Récupérer et afficher les résumés des films
for movie_id in movie_ids:
    overview = get_movie_overview(movie_id)
    if overview:
        results.append({'id': movie_id, 'overview': overview})
    else:
        results.append({'id': movie_id, 'overview': 'Erreur lors de la récupération'})

# Créer un DataFrame à partir des résultats
df_movies = pd.DataFrame(results)

# Afficher le DataFrame
print(df_movies)

           id                                           overview
0       70512  Dans une scénographie inspirée des illustratio...
1       28627  Prague, Bohème, 1820. Balduin, un étudiant san...
2        5153  Pendant la Deuxième guerre punique, un espion ...
3       22943  Chaplin, mauvais garçon de la ville, est venu ...
4         618  Pendant la guerre de Sécession aux États-Unis,...
...       ...                                                ...
22769  587030  Un ex-détenu en liberté conditionnelle est obl...
22770  653708  Luttant pour offrir à ses filles une maison sû...
22771  630392  XIXe siècle, dans la campagne française, un vi...
22772  591915                     Erreur lors de la récupération
22773  655187  Pays basque, 1609. Ana, Katalin et leurs amies...

[22774 rows x 2 columns]

In [37]:
df_movies = pd.read_csv('df_résumé.csv')

# # Afficher les résultats 


df_final_test_2=df_final_test_2.merge(df_movies, how='inner', left_on='id', right_on='id')


#df_errors = df_final_test_2[df_final_test_2['résumé'].str.contains('Erreur lors de la récupération')]



#df_final_test_2 = df_final_test_2.drop(columns=['résumé'])

# df_errors = df_final[df_final['résumé'].str.contains('Erreur lors de la récupération')]

# df_errors


df_final_test_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22764 entries, 0 to 22763
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22764 non-null  object
 1   titleType                  22764 non-null  object
 2   primaryTitle               22764 non-null  object
 3   originalTitle              22764 non-null  object
 4   startYear                  22764 non-null  int64
 5   runtimeMinutes             22764 non-null  int64
 6   genres_x                   22764 non-null  object
 7   averageRating              22764 non-null  float64
 8   numVotes                   22764 non-null  int64
 9   bucket 10                  22764 non-null  int64
 10  backdrop_path              22764 non-null  object
 11  original_language          22764 non-null  object
 12  overview                   22764 non-null  object
 13  popularity                 22764 non-null  float64
 14  poster_path                22764 non-null  object
 15  production_countries       22764 non-null  object
 16  spoken_languages           22764 non-null  object
 17  vote_average               22764 non-null  float64
 18  vote_count                 22764 non-null  int64
 19  production_companies_name  22764 non-null  object
 20  ecart vote                 22764 non-null  int64
 21  title_y                    22764 non-null  object
 22  region                     22764 non-null  object
 23  category                   22764 non-null  object
 24  primaryName                22764 non-null  object
 25  directors                  22764 non-null  object
 26  job_name                   22764 non-null  object
 27  clean_title_y              22681 non-null  object
 28  Distances                  22764 non-null  object
 29  Titres_voisins             22764 non-null  object
 30  url_poster_path            22764 non-null  object
 31  imdb_id                    22764 non-null  object
 32  id                         22764 non-null  int64
 33  Unnamed: 0                 22764 non-null  int64
 34  résumé                     22764 non-null  object
dtypes: float64(3), int64(8), object(24)
memory usage: 6.1+ MB

In [38]:
def flag_res(text): 
    if text == 'Erreur lors de la récupération': 
        return 1
    else: 
        return 0


df_final_test_2['flag_resum'] = df_final_test_2['résumé'].apply(flag_res)

In [39]:
def overview_eng(text): 
    if text == 'Erreur lors de la récupération': 
        return df_final_test_2['overview'] 
    else: 
        return text

df_final_test_2['résumé'] = df_final_test_2['résumé'].apply(overview_eng)

In [40]:
df_final_test_2['flag_resum'].value_counts()

flag_resum
0    21790
1      974
Name: count, dtype: int64

In [42]:
df_final_test_2.to_csv('df_final_title_stem.csv')

In [ ]:
# import pandas as pd
# from translate import Translator

# # Lire le fichier CSV
# df_final = pd.read_csv('df_final.csv')

# # Initialiser le traducteur
# translator = Translator(to_lang="fr")

# # Appliquer la traduction à chaque texte dans la colonne 'overview'
# df_final['résumé'] = df_final['overview'].head(10000).apply(lambda x: translator.translate(x) if pd.notnull(x) else x)

# # Afficher les 5 premières lignes pour vérifier