In [1]:

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MultiLabelBinarizer

In [69]:
link = "df_finish_him.xlsx"
df_finish_him= pd.read_excel(link)

In [70]:
link = "name.basics.tsv"
df_pj2_name_basics= pd.read_csv(link, sep = "\t")

df_pj2_name_basics.head(20)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,producer,soundtrack","tt0034583,tt0036855,tt0038109,tt0038787"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,producer,miscellaneous","tt0034583,tt0037382,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,director","tt0061184,tt0087803,tt0059749,tt0057877"
9,nm0000010,James Cagney,1899,1986,"actor,director,producer","tt0029870,tt0031867,tt0042041,tt0055256"
10,nm0000011,Gary Cooper,1901,1961,"actor,stunts,producer","tt0044706,tt0034167,tt0027996,tt0035896"
11,nm0000012,Bette Davis,1908,1989,"actress,make_up_department,producer","tt0042192,tt0056687,tt0031210,tt0035140"
12,nm0000013,Doris Day,1922,2019,"actress,producer,miscellaneous","tt0048317,tt0045591,tt0053172,tt0049470"
13,nm0000014,Olivia de Havilland,1916,2020,"actress,soundtrack,archive_footage","tt0031381,tt0041452,tt0029843,tt0040806"
14,nm0000015,James Dean,1931,1955,"actor,miscellaneous,archive_footage","tt0048028,tt0048545,tt0049261,tt0039123"
15,nm0000016,Georges Delerue,1925,1992,"composer,music_department,actor","tt0091763,tt0096320,tt0069946,tt0080610"
16,nm0000017,Marlene Dietrich,1901,1992,"actress,music_department,soundtrack","tt0051201,tt0055031,tt0052311,tt0021156"
17,nm0000018,Kirk Douglas,1916,2020,"actor,producer,director","tt0080736,tt0054331,tt0049456,tt0050825"
18,nm0000019,Federico Fellini,1920,1993,"writer,director,actor","tt0056801,tt0050783,tt0047528,tt0053779"
19,nm0000020,Henry Fonda,1905,1982,"actor,producer,miscellaneous","tt0050083,tt0082846,tt0032551,tt0051207"

In [25]:
link = "title.crew.tsv"
df_title_crew= pd.read_csv(link, sep = "\t")

df_title_crew.head(20)

merge_df_finish_him_crew = df_finish_him.merge(df_title_crew[['tconst','directors']], how='inner', left_on=['tconst'], right_on=['tconst'])

In [71]:
merge_df_finish_him_crew.head()

df_director_title = merge_df_finish_him_crew[['tconst','directors']]

display(df_director_title)

# df_director_title['directors'] = df_director_title['directors'].str.split(',')

# df_director_title['directors'] = df_director_title['directors'].explode('directors')

df_director_title

#merge_director_name = df_director_title.merge(df_pj2_name_basics, how='inner', left='directors', right='nconst')

          tconst                      directors
0      tt0002130  nm0078205,nm0655824,nm0209738
1      tt0003419            nm0263912,nm0753233
2      tt0003740                      nm0665163
3      tt0004707            nm0784407,nm0071658
4      tt0004972                      nm0000428
...          ...                            ...
22769  tt9900782                      nm7992231
22770  tt9902160                      nm1630273
22771  tt9907782                      nm1193346
22772  tt9911196                      nm0631590
22773  tt9916362                      nm1893148

[22774 rows x 2 columns]

          tconst                      directors
0      tt0002130  nm0078205,nm0655824,nm0209738
1      tt0003419            nm0263912,nm0753233
2      tt0003740                      nm0665163
3      tt0004707            nm0784407,nm0071658
4      tt0004972                      nm0000428
...          ...                            ...
22769  tt9900782                      nm7992231
22770  tt9902160                      nm1630273
22771  tt9907782                      nm1193346
22772  tt9911196                      nm0631590
22773  tt9916362                      nm1893148

[22774 rows x 2 columns]

In [72]:
df_director_title['directors']

0        nm0078205,nm0655824,nm0209738
1                  nm0263912,nm0753233
2                            nm0665163
3                  nm0784407,nm0071658
4                            nm0000428
                     ...
22769                        nm7992231
22770                        nm1630273
22771                        nm1193346
22772                        nm0631590
22773                        nm1893148
Name: directors, Length: 22774, dtype: object

In [73]:
df_pj2_name_basics = df_pj2_name_basics.set_index('nconst')

In [74]:
df_pj2_name_basics.loc['nm0078205']['primaryName']

'Francesco Bertolini'

In [75]:
def process_dir(liste_dir):
    liste = []
    liste_dir = liste_dir.split(',') 
    for dir_id in liste_dir:
        try:
            liste.append(df_pj2_name_basics.loc[dir_id]['primaryName'])
        except Exception as e:
            print(e)
            pass
    return liste

In [76]:
df_director_title

          tconst                      directors
0      tt0002130  nm0078205,nm0655824,nm0209738
1      tt0003419            nm0263912,nm0753233
2      tt0003740                      nm0665163
3      tt0004707            nm0784407,nm0071658
4      tt0004972                      nm0000428
...          ...                            ...
22769  tt9900782                      nm7992231
22770  tt9902160                      nm1630273
22771  tt9907782                      nm1193346
22772  tt9911196                      nm0631590
22773  tt9916362                      nm1893148

[22774 rows x 2 columns]

In [77]:
df_director_title["directors"] = df_director_title["directors"].apply(process_dir)[:100]

'\\N'
'\\N'

C:\Users\remim\AppData\Local\Temp\ipykernel_43584\1104681681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_director_title["directors"] = df_director_title["directors"].apply(process_dir)[:100]

In [ ]:
df_director_title['directors'].isna().value_counts()

#verifier film sans director si pourri dégage

directors
True     22674
False      100
Name: count, dtype: int64

In [4]:
#transformation des string avec split sur genres_x:

df_finish_him['genres_x'] = df_finish_him['genres_x'].str.split(',')

In [5]:
# transofrmation des string en liste avec eval :
df_finish_him['category'] = df_finish_him['category'].apply(eval)
df_finish_him['primaryName'] = df_finish_him['primaryName'].apply(eval)
df_finish_him['production_companies_name'] = df_finish_him['production_companies_name'].apply(eval)
df_finish_him['production_countries'] = df_finish_him['production_countries'].apply(eval)

In [23]:
df_finish_him['job_name'] = [(job, name) for job, name in zip(df_finish_him['category'], df_finish_him['primaryName'])]


df_finish_him

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,spoken_languages,vote_average,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,job_name
0,tt0002130,movie,Dante's Inferno,L'inferno,1911,71,"[Adventure, Drama, Fantasy]",7.0,3647,1910,...,['xx'],6.400,117,[Milano Films],3530,L'Enfer,FR,"[actor, actor, actor, actor, actor, actor, act...","[Salvatore Papa, Arturo Pirovano, Giuseppe de ...","([actor, actor, actor, actor, actor, actor, ac..."
1,tt0003419,movie,The Student of Prague,Der Student von Prag,1913,85,"[Drama, Fantasy, Horror]",6.4,2490,1910,...,['xx'],5.952,62,[Deutsche Bioscope],2428,L'étudiant de Prague,FR,"[actor, actress, actress, actor, actor, actor,...","[Paul Wegener, Grete Berger, Lyda Salmonova, J...","([actor, actress, actress, actor, actor, actor..."
2,tt0003740,movie,Cabiria,Cabiria,1914,148,"[Adventure, Drama, History]",7.1,4047,1910,...,['xx'],7.200,118,[Italia Film],3929,Cabiria,FR,"[actress, actress, actor, actress, actress, ac...","[Italia Almirante-Manzini, Lidia Quaranta, Bar...","([actress, actress, actor, actress, actress, a..."
3,tt0004707,movie,Tillie's Punctured Romance,Tillie's Punctured Romance,1914,82,[Comedy],6.2,3769,1910,...,['xx'],6.200,57,[Keystone Film Company],3712,La Folle Aventure de Charlot et de Lolotte,FR,"[actor, actress, actress, actor, actor, actor,...","[Charles Chaplin, Marie Dressler, Mabel Norman...","([actor, actress, actress, actor, actor, actor..."
4,tt0004972,movie,The Birth of a Nation,The Birth of a Nation,1915,195,"[Drama, War]",6.1,26823,1910,...,['xx'],6.046,463,[Epoch Film Co.],26360,Naissance d'une nation,FR,"[actress, actress, actor, actress, actress, ac...","[Lillian Gish, Mae Marsh, Henry B. Walthall, M...","([actress, actress, actor, actress, actress, a..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22769,tt9900782,movie,Kaithi,Kaithi,2019,145,"[Action, Crime, Drama]",8.4,44556,2010,...,"['ta', 'te']",7.500,78,"[Dream Warrior Pictures, Vivekandanda Pictures]",44478,Kaithi,FR,"[actor, actor, actor, actor, actor, actor, act...","[Karthi, Narain, Arjun Das, George Maryan, Har...","([actor, actor, actor, actor, actor, actor, ac..."
22770,tt9902160,movie,Herself,Herself,2020,97,[Drama],7.0,4861,2020,...,['en'],6.800,70,"[Element Pictures, BBC Film, Merman, Amazon St...",4791,Herself,FR,"[actress, actress, actress, actor, actor, actr...","[Molly McCann, Clare Dunne, Ruby Rose O'Hara, ...","([actress, actress, actress, actor, actor, act..."
22771,tt9907782,movie,The Cursed,Eight for Silver,2021,111,"[Fantasy, Horror, Mystery]",6.2,18840,2020,...,['en'],6.900,169,"[Piste Rouge, LD Entertainment]",18671,Eight for Silver,FR,"[actor, actress, actor, actress, actor, actor,...","[Boyd Holbrook, Kelly Reilly, Alistair Petrie,...","([actor, actress, actor, actress, actor, actor..."
22772,tt9911196,movie,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103,"[Comedy, Drama]",7.4,3386,2020,...,['nl'],7.800,31,"[Johan Nijenhuis & Co, Omroep MAX]",3355,De Beentjes van Sint-Hildegard,FR,"[actor, actress, actress, actor, actor, actres...","[Herman Finkers, Johanna ter Steege, Leonie te...","([actor, actress, actress, actor, actor, actre..."
22773,tt9916362,movie,Coven,Akelarre,2020,92,"[Drama, History]",6.4,5936,2020,...,"['eu', 'es']",6.708,257,"[INCAA, La Fidèle Production, Lamia Produccion...",5679,Les sorcières d'Akelarre,FR,"[actress, actor, actor, actress, actress, actr...","[Amaia Aberasturi, Alex Brendemühl, Daniel Fan...","([actress, actor, actor, actress, actress, act..."

In [21]:
mlb = MultiLabelBinarizer()

genre_mlb = mlb.fit_transform(df_finish_him['genres_x'])

mlb.classes_

df_genre = pd.DataFrame(genre_mlb, columns=mlb.classes_)

df_genre


mlb = MultiLabelBinarizer()

prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

prod_country_mlb

df_prod_country = pd.DataFrame(prod_country_mlb, columns=mlb.classes_)

mlb = MultiLabelBinarizer()

prod_company_mlb = mlb.fit_transform(df_finish_him['production_companies_name'])

prod_company_mlb

df_prod_company= pd.DataFrame(prod_company_mlb, columns=mlb.classes_)

display(df_genre.head())

display(df_prod_country.head())

display(df_prod_company.head())

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

,AE,AF,AL,AM,AR,AT,AU,AW,BA,BD,...,VE,VN,VU,XC,XG,XK,YU,ZA,ZM,ZW
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,"""DIA"" Productions GmbH & Co. KG","""Weathering With You"" Film Partners",(주)라인필름,.406 Production,1 Production Film Company,1-2-3 Production,1.85 Films,10 West Studios,10.80 Films,100 Bares,...,Česká televize,Şeref Film,Živa Produkcija,Межрабпом-Русь,Реал-Дакота,المؤسسة المصرية العامة للسينما والتلفزيون (والمسرح والموسيقى),三和電影製作,华策影业（上海）有限公司,巨人网络,永盛電影公司
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
prod_company_mlb = mlb.fit_transform(df_finish_him['production_companies_name'])

prod_company_mlb

prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

prod_country_mlb

pd.DataFrame(prod_country_mlb, columns=cat_columns)



job_mlb = mlb.fit_transform(df_finish_him[['category','primaryName']])

job_mlb

array([[0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1],
       [1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1]])

In [7]:
# 1. Initialiser le StandardScaler
# Nous créons une instance de StandardScaler qui va normaliser les données.
scaler = StandardScaler()

# 2. Ajuster et transformer les données
# 2.1. Ajuster le scaler sur les colonnes numériques sélectionnées ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les écarts-types de ces colonnes.
scaler.fit(df_finish_him[['averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count']])

# 2.2. Transformer les données en utilisant le scaler ajusté pour obtenir une nouvelle matrice normalisée X_scaled.
X_scaled_num = scaler.transform(df_finish_him[['averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count']])

# 3. Créer un DataFrame à partir des données normalisées
# Nous créons un nouveau DataFrame 'normalize_num' en utilisant les données normalisées (X_scaled_num) et en spécifiant les noms des colonnes d'origine.
normalize_num = pd.DataFrame(X_scaled_num, columns=['averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count'])

# Afficher le DataFrame normalisé
display(normalize_num)

,averageRating,numVotes,bucket 10,popularity,vote_average,vote_count
0,0.585195,-0.330440,-3.621992,-0.138038,0.039334,-0.325644
1,0.005208,-0.339419,-3.621992,-0.132231,-0.395707,-0.352709
2,0.681859,-0.327336,-3.621992,-0.129483,0.816193,-0.325152
3,-0.188121,-0.329494,-3.621992,-0.163095,-0.154881,-0.355169
4,-0.284785,-0.150590,-3.621992,-0.037309,-0.304426,-0.155380
...,...,...,...,...,...,...
22769,1.938497,-0.012979,0.731287,-0.079436,1.107515,-0.344836
22770,0.585195,-0.321020,1.166615,-0.145703,0.427763,-0.348772
22771,-0.188121,-0.212540,1.166615,0.097516,0.524871,-0.300055
22772,0.971852,-0.332466,1.166615,-0.164537,1.398837,-0.367964
22773,0.005208,-0.312677,1.166615,-0.094362,0.338424,-0.256751

In [8]:
normalize_num.describe()

,averageRating,numVotes,bucket 10,popularity,vote_average,vote_count
count,2.277400e+04,2.277400e+04,2.277400e+04,2.277400e+04,2.277400e+04,2.277400e+04
mean,-6.689223e-16,7.487936e-18,4.392923e-15,1.247989e-17,-1.532531e-15,-9.983915e-18
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-5.021342e+00,-3.432137e-01,-3.621992e+00,-2.025271e-01,-6.175537e+00,-3.832187e-01
25%,-5.747786e-01,-3.295713e-01,-5.746963e-01,-1.315040e-01,-4.500873e-01,-3.527090e-01
50%,1.018724e-01,-2.932885e-01,2.959595e-01,-9.077883e-02,1.043957e-01,-3.064525e-01
75%,6.818590e-01,-1.220018e-01,7.312875e-01,-2.471668e-02,6.219779e-01,-1.229025e-01
max,2.808476e+00,2.260508e+01,1.166615e+00,6.836023e+01,3.535199e+00,1.616580e+01

In [9]:
df_finish_him.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22774 entries, 0 to 22773
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22774 non-null  object
 1   titleType                  22774 non-null  object
 2   primaryTitle               22774 non-null  object
 3   originalTitle              22774 non-null  object
 4   startYear                  22774 non-null  int64
 5   runtimeMinutes             22774 non-null  int64
 6   genres_x                   22774 non-null  object
 7   averageRating              22774 non-null  float64
 8   numVotes                   22774 non-null  int64
 9   bucket 10                  22774 non-null  int64
 10  backdrop_path              22774 non-null  object
 11  original_language          22774 non-null  object
 12  overview                   22774 non-null  object
 13  popularity                 22774 non-null  float64
 14  poster_path                22774 non-null  object
 15  production_countries       22774 non-null  object
 16  spoken_languages           22774 non-null  object
 17  vote_average               22774 non-null  float64
 18  vote_count                 22774 non-null  int64
 19  production_companies_name  22774 non-null  object
 20  ecart vote                 22774 non-null  int64
 21  title_y                    22774 non-null  object
 22  region                     22774 non-null  object
 23  category                   22774 non-null  object
 24  primaryName                22774 non-null  object
dtypes: float64(3), int64(6), object(16)
memory usage: 4.3+ MB