In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import langdetect as lg
import textblob as tb
import langid as lgd

In [2]:
link = 'title.akas.tsv'
df_pj2_akas = pd.read_csv(link, sep = "\t")

display(df_pj2_akas.head(20))

df_pj2_akas.describe()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
5,tt0000001,6,Карменсита,RU,\N,imdbDisplay,\N,0
6,tt0000001,7,Карменсіта,UA,\N,imdbDisplay,\N,0
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
10,tt0000002,3,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
13,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0
14,tt0000002,7,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Pauvre Pierrot,\N,\N,original,\N,1
17,tt0000003,10,哀れなピエロ,JP,ja,imdbDisplay,\N,0
18,tt0000003,2,Poor Pierrot,GB,\N,imdbDisplay,\N,0
19,tt0000003,3,Poor Pierrot,US,\N,imdbDisplay,\N,0

           ordering  isOriginalTitle
count  5.030148e+07     5.030148e+07
mean   4.290928e+00     2.223477e-01
std    3.988850e+00     4.158235e-01
min    1.000000e+00     0.000000e+00
25%    2.000000e+00     0.000000e+00
50%    4.000000e+00     0.000000e+00
75%    6.000000e+00     0.000000e+00
max    2.510000e+02     1.000000e+00

In [3]:
'''sample_akas = df_pj2_akas.sample(n = 2000)

masque_original_title = sample_akas['isOriginalTitle'] == 1

df_original_title = sample_akas[masque_original_title]

display(df_original_title.head(10))

sample_akas.head(10)'''

"sample_akas = df_pj2_akas.sample(n = 2000)\n\nmasque_original_title = sample_akas['isOriginalTitle'] == 1\n\ndf_original_title = sample_akas[masque_original_title]\n\ndisplay(df_original_title.head(10))\n\nsample_akas.head(10)"

In [4]:
df_r_l_FR = df_pj2_akas[(df_pj2_akas['region'] == 'FR')|(df_pj2_akas['language'] == 'FR')]

df_r_l_FR.describe()

           ordering  isOriginalTitle
count  4.929252e+06        4929252.0
mean   4.071003e+00              0.0
std    1.455371e+00              0.0
min    2.000000e+00              0.0
25%    4.000000e+00              0.0
50%    4.000000e+00              0.0
75%    4.000000e+00              0.0
max    1.510000e+02              0.0

In [5]:
#lang_fr_final_test_unique2.info()

In [6]:
link = "name.basics.tsv"
df_pj2_name_basics= pd.read_csv(link, sep = "\t")

df_pj2_name_basics.head(20)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,producer,soundtrack","tt0034583,tt0036855,tt0038109,tt0038787"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,producer,miscellaneous","tt0034583,tt0037382,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,director","tt0061184,tt0087803,tt0059749,tt0057877"
9,nm0000010,James Cagney,1899,1986,"actor,director,producer","tt0029870,tt0031867,tt0042041,tt0055256"
10,nm0000011,Gary Cooper,1901,1961,"actor,stunts,producer","tt0044706,tt0034167,tt0027996,tt0035896"
11,nm0000012,Bette Davis,1908,1989,"actress,make_up_department,producer","tt0042192,tt0056687,tt0031210,tt0035140"
12,nm0000013,Doris Day,1922,2019,"actress,producer,miscellaneous","tt0048317,tt0045591,tt0053172,tt0049470"
13,nm0000014,Olivia de Havilland,1916,2020,"actress,soundtrack,archive_footage","tt0031381,tt0041452,tt0029843,tt0040806"
14,nm0000015,James Dean,1931,1955,"actor,miscellaneous,archive_footage","tt0048028,tt0048545,tt0049261,tt0039123"
15,nm0000016,Georges Delerue,1925,1992,"composer,music_department,actor","tt0091763,tt0096320,tt0069946,tt0080610"
16,nm0000017,Marlene Dietrich,1901,1992,"actress,music_department,soundtrack","tt0051201,tt0055031,tt0052311,tt0021156"
17,nm0000018,Kirk Douglas,1916,2020,"actor,producer,director","tt0080736,tt0054331,tt0049456,tt0050825"
18,nm0000019,Federico Fellini,1920,1993,"writer,director,actor","tt0056801,tt0050783,tt0047528,tt0053779"
19,nm0000020,Henry Fonda,1905,1982,"actor,producer,miscellaneous","tt0050083,tt0082846,tt0032551,tt0051207"

In [7]:

link = "title.principals.tsv"
df_pj2_principals= pd.read_csv(link, sep = "\t")

In [8]:
df_pj2_principals.head(20)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N
5,tt0000002,2,nm1335271,composer,\N,\N
6,tt0000003,1,nm0721526,director,\N,\N
7,tt0000003,2,nm1770680,producer,producer,\N
8,tt0000003,3,nm0721526,producer,producer,\N
9,tt0000003,4,nm1335271,composer,\N,\N
10,tt0000003,5,nm5442200,editor,editor,\N
11,tt0000004,1,nm0721526,director,\N,\N
12,tt0000004,2,nm1335271,composer,\N,\N
13,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
14,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]"
15,tt0000005,3,nm0249379,producer,producer,\N
16,tt0000007,1,nm0179163,actor,\N,\N
17,tt0000007,2,nm0183947,actor,\N,\N
18,tt0000007,3,nm0005690,director,\N,\N
19,tt0000007,4,nm0374658,director,\N,\N

In [9]:
link = "title.basics.tsv"
df_pj2_basics= pd.read_csv(link, sep = "\t")

df_pj2_basics.describe()

C:\Users\remim\AppData\Local\Temp\ipykernel_15124\4077246779.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pj2_basics= pd.read_csv(link, sep = "\t")

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,11217433,11217433,11217414,11217414,11217433,11217433,11217433,11217433,11216802
unique,11217433,11,5035446,5059932,44,152,98,937,2383
top,tt9916880,tvEpisode,Episode #1.1,Episode #1.1,0,\N,\N,\N,Drama
freq,1,8614784,53342,53342,10792611,1416977,11085659,7677725,1270443

In [10]:
link = "title.crew.tsv"
df_pj2_crew= pd.read_csv(link, sep = "\t")

In [11]:
link = "title.ratings.tsv"
df_pj2_ratings= pd.read_csv(link, sep = "\t")

df_pj2_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495761 entries, 0 to 1495760
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1495761 non-null  object
 1   averageRating  1495761 non-null  float64
 2   numVotes       1495761 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.2+ MB

In [12]:
# rating note median et mean

median_rating_note =df_pj2_ratings['averageRating'].median()
mean_rating_note = df_pj2_ratings['averageRating'].mean()

In [13]:
# total vote, mean vote, median vote

df_pj2_ratings.describe()

masque_bool_numvote = (df_pj2_ratings['numVotes'] > 2000) 

#& (df_pj2_ratings['averageRating'] >= 6.5)

df_pj2_ratings_numvote = df_pj2_ratings[masque_bool_numvote]

df_pj2_ratings_numvote.info()

display(df_pj2_ratings['numVotes'].describe())

df_ratings_merge_basics = df_pj2_basics.merge(df_pj2_ratings_numvote, how='inner', left_on=['tconst'], right_on=['tconst'])

masque_merge_basics_ss_short =  (df_ratings_merge_basics['titleType'] == 'movie') | (df_ratings_merge_basics['titleType'] == 'tvMovie')

df_ratings_merge_basics_ss_short = df_ratings_merge_basics[masque_merge_basics_ss_short]

df_ratings_merge_basics_ss_short.sort_values(by =['averageRating'], ascending=False)
df_ratings_merge_basics_ss_short['startYear'] = pd.to_datetime(df_ratings_merge_basics_ss_short['startYear'], format='%Y')
df_ratings_merge_basics_ss_short['startYear'] = df_ratings_merge_basics_ss_short['startYear'].dt.year
df_ratings_merge_basics_ss_short['bucket 10'] = (df_ratings_merge_basics_ss_short['startYear'] // 10) * 10
df_ratings_merge_basics_ss_short['bucket 5'] = (df_ratings_merge_basics_ss_short['startYear'] // 5) * 5



df_ratings_merge_basics_ss_short['titleType'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 55991 entries, 0 to 1495730
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         55991 non-null  object
 1   averageRating  55991 non-null  float64
 2   numVotes       55991 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

count    1.495761e+06
mean     1.028862e+03
std      1.776077e+04
min      5.000000e+00
25%      1.100000e+01
50%      2.600000e+01
75%      1.000000e+02
max      2.959184e+06
Name: numVotes, dtype: float64

C:\Users\remim\AppData\Local\Temp\ipykernel_15124\907272680.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ratings_merge_basics_ss_short['startYear'] = pd.to_datetime(df_ratings_merge_basics_ss_short['startYear'], format='%Y')
C:\Users\remim\AppData\Local\Temp\ipykernel_15124\907272680.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ratings_merge_basics_ss_short['startYear'] = df_ratings_merge_basics_ss_short['startYear'].dt.year
C:\Users\remim\AppData\Local\Temp\ipykernel_15124\907272680.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ratings_merge_basics_ss_short['bucket 10'] = (df_ratings_merge_basics_ss_short['startYear'] // 10) * 10
C:\Users\remim\AppData\Local\Temp\ipykernel_15124\907272680.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ratings_merge_basics_ss_short['bucket 5'] = (df_ratings_merge_basics_ss_short['startYear'] // 5) * 5

titleType
movie      29840
tvMovie     1280
Name: count, dtype: int64

In [14]:
#test traduction:


import langid as lgd

def detect_language(text): 
    lang, _ = lgd.classify(text) 
    return lang

df_ratings_merge_basics_ss_short['lg title movie'] = df_ratings_merge_basics_ss_short['originalTitle'].apply(detect_language)

#mas_lg = df_ratings_merge_basics_ss_short['lg title movie'] =='tl'

#df_lg_test = df_ratings_merge_basics_ss_short[mas_lg]
df_ratings_merge_basics_ss_short['lg title movie'].value_counts()

C:\Users\remim\AppData\Local\Temp\ipykernel_15124\3541202534.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ratings_merge_basics_ss_short['lg title movie'] = df_ratings_merge_basics_ss_short['originalTitle'].apply(detect_language)

lg title movie
en    20571
de     1594
fr     1519
es     1202
it      969
      ...
el        2
si        1
fo        1
ug        1
am        1
Name: count, Length: 64, dtype: int64

In [15]:
#df_ratings_merge_basics_ss_short.to_excel('merge_rating_lg.xlsx', index=False)

In [16]:
df_ratings_merge_basics_ss_short.head(10)

#exploded genre

df_exploded = df_ratings_merge_basics_ss_short.assign(genres=df_ratings_merge_basics_ss_short['genres'].str.split(',')).explode('genres')

df_exploded['genres'].value_counts()

df_pivot_exploded = df_exploded.pivot_table(columns='bucket 5', index='genres', aggfunc='count', values='originalTitle')

df_pivot_exploded

bucket 5,1910,1915,1920,1925,1930,1935,1940,1945,1950,1955,...,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
genres,,,,,,,,,,,,,,,,,,,,,
Action,NaN,2.0,3.0,8.0,9.0,12.0,25.0,21.0,37.0,34.0,...,133.0,193.0,293.0,346.0,389.0,534.0,692.0,1009.0,1253.0,1049.0
Adult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adventure,2.0,2.0,9.0,10.0,16.0,32.0,42.0,34.0,60.0,68.0,...,118.0,160.0,189.0,172.0,231.0,300.0,448.0,530.0,638.0,474.0
Animation,NaN,NaN,NaN,1.0,NaN,2.0,6.0,5.0,4.0,3.0,...,23.0,27.0,53.0,58.0,61.0,95.0,161.0,183.0,234.0,212.0
Biography,NaN,NaN,1.0,3.0,4.0,13.0,14.0,11.0,15.0,30.0,...,26.0,35.0,47.0,79.0,85.0,130.0,206.0,321.0,493.0,273.0
Comedy,1.0,3.0,11.0,29.0,60.0,85.0,94.0,75.0,85.0,99.0,...,281.0,395.0,584.0,643.0,823.0,1015.0,1371.0,1529.0,1650.0,1263.0
Crime,1.0,1.0,4.0,6.0,35.0,42.0,43.0,111.0,81.0,82.0,...,120.0,154.0,258.0,335.0,394.0,487.0,654.0,744.0,921.0,725.0
Documentary,NaN,NaN,2.0,2.0,1.0,3.0,2.0,NaN,1.0,2.0,...,16.0,19.0,16.0,19.0,33.0,90.0,175.0,301.0,355.0,270.0
Drama,4.0,8.0,25.0,60.0,109.0,144.0,174.0,241.0,274.0,316.0,...,382.0,459.0,619.0,809.0,1173.0,1507.0,2089.0,2497.0,3089.0,2302.0
Family,NaN,NaN,5.0,6.0,11.0,23.0,22.0,25.0,27.0,22.0,...,42.0,33.0,63.0,102.0,132.0,124.0,196.0,204.0,188.0,160.0
Fantasy,2.0,1.0,9.0,3.0,8.0,12.0,25.0,21.0,16.0,23.0,...,43.0,75.0,121.0,121.0,122.0,160.0,236.0,255.0,312.0,202.0
Film-Noir,NaN,NaN,NaN,2.0,6.0,13.0,31.0,119.0,75.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
History,1.0,1.0,3.0,4.0,6.0,13.0,16.0,10.0,16.0,28.0,...,35.0,34.0,35.0,35.0,62.0,73.0,144.0,176.0,278.0,176.0
Horror,1.0,1.0,14.0,9.0,21.0,15.0,40.0,16.0,21.0,84.0,...,133.0,205.0,225.0,152.0,142.0,233.0,503.0,577.0,794.0,647.0
Music,NaN,NaN,NaN,2.0,3.0,6.0,8.0,9.0,10.0,14.0,...,32.0,51.0,50.0,49.0,53.0,84.0,138.0,148.0,155.0,97.0
Musical,NaN,NaN,NaN,5.0,20.0,23.0,16.0,18.0,28.0,32.0,...,11.0,26.0,15.0,13.0,27.0,48.0,44.0,29.0,36.0,39.0
Mystery,NaN,NaN,3.0,4.0,15.0,22.0,36.0,34.0,19.0,27.0,...,76.0,83.0,85.0,88.0,140.0,234.0,349.0,398.0,615.0,473.0
News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,3.0,6.0,7.0,1.0
Romance,NaN,3.0,16.0,31.0,66.0,95.0,87.0,89.0,106.0,113.0,...,96.0,151.0,211.0,274.0,429.0,584.0,663.0,763.0,772.0,560.0
Sci-Fi,NaN,2.0,1.0,2.0,7.0,8.0,6.0,1.0,20.0,66.0,...,60.0,101.0,96.0,82.0,113.0,125.0,156.0,228.0,299.0,191.0
Sport,NaN,NaN,NaN,3.0,1.0,3.0,3.0,3.0,4.0,4.0,...,25.0,18.0,26.0,36.0,41.0,51.0,100.0,83.0,106.0,91.0
Thriller,NaN,NaN,6.0,7.0,7.0,12.0,22.0,24.0,27.0,33.0,...,104.0,143.0,155.0,184.0,253.0,343.0,574.0,738.0,960.0,971.0
War,NaN,3.0,1.0,4.0,10.0,11.0,40.0,15.0,21.0,50.0,...,32.0,25.0,38.0,27.0,46.0,59.0,77.0,77.0,96.0,49.0
Western,NaN,NaN,3.0,1.0,1.0,8.0,12.0,19.0,28.0,41.0,...,21.0,7.0,8.0,16.0,10.0,13.0,8.0,14.0,32.0,18.0
\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0

In [17]:
df_pivot_exploded_fill_na = df_pivot_exploded.fillna(0)

In [18]:

df_pivot_exploded_fill_na

bucket 5,1910,1915,1920,1925,1930,1935,1940,1945,1950,1955,...,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
genres,,,,,,,,,,,,,,,,,,,,,
Action,0.0,2.0,3.0,8.0,9.0,12.0,25.0,21.0,37.0,34.0,...,133.0,193.0,293.0,346.0,389.0,534.0,692.0,1009.0,1253.0,1049.0
Adult,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Adventure,2.0,2.0,9.0,10.0,16.0,32.0,42.0,34.0,60.0,68.0,...,118.0,160.0,189.0,172.0,231.0,300.0,448.0,530.0,638.0,474.0
Animation,0.0,0.0,0.0,1.0,0.0,2.0,6.0,5.0,4.0,3.0,...,23.0,27.0,53.0,58.0,61.0,95.0,161.0,183.0,234.0,212.0
Biography,0.0,0.0,1.0,3.0,4.0,13.0,14.0,11.0,15.0,30.0,...,26.0,35.0,47.0,79.0,85.0,130.0,206.0,321.0,493.0,273.0
Comedy,1.0,3.0,11.0,29.0,60.0,85.0,94.0,75.0,85.0,99.0,...,281.0,395.0,584.0,643.0,823.0,1015.0,1371.0,1529.0,1650.0,1263.0
Crime,1.0,1.0,4.0,6.0,35.0,42.0,43.0,111.0,81.0,82.0,...,120.0,154.0,258.0,335.0,394.0,487.0,654.0,744.0,921.0,725.0
Documentary,0.0,0.0,2.0,2.0,1.0,3.0,2.0,0.0,1.0,2.0,...,16.0,19.0,16.0,19.0,33.0,90.0,175.0,301.0,355.0,270.0
Drama,4.0,8.0,25.0,60.0,109.0,144.0,174.0,241.0,274.0,316.0,...,382.0,459.0,619.0,809.0,1173.0,1507.0,2089.0,2497.0,3089.0,2302.0
Family,0.0,0.0,5.0,6.0,11.0,23.0,22.0,25.0,27.0,22.0,...,42.0,33.0,63.0,102.0,132.0,124.0,196.0,204.0,188.0,160.0
Fantasy,2.0,1.0,9.0,3.0,8.0,12.0,25.0,21.0,16.0,23.0,...,43.0,75.0,121.0,121.0,122.0,160.0,236.0,255.0,312.0,202.0
Film-Noir,0.0,0.0,0.0,2.0,6.0,13.0,31.0,119.0,75.0,36.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
History,1.0,1.0,3.0,4.0,6.0,13.0,16.0,10.0,16.0,28.0,...,35.0,34.0,35.0,35.0,62.0,73.0,144.0,176.0,278.0,176.0
Horror,1.0,1.0,14.0,9.0,21.0,15.0,40.0,16.0,21.0,84.0,...,133.0,205.0,225.0,152.0,142.0,233.0,503.0,577.0,794.0,647.0
Music,0.0,0.0,0.0,2.0,3.0,6.0,8.0,9.0,10.0,14.0,...,32.0,51.0,50.0,49.0,53.0,84.0,138.0,148.0,155.0,97.0
Musical,0.0,0.0,0.0,5.0,20.0,23.0,16.0,18.0,28.0,32.0,...,11.0,26.0,15.0,13.0,27.0,48.0,44.0,29.0,36.0,39.0
Mystery,0.0,0.0,3.0,4.0,15.0,22.0,36.0,34.0,19.0,27.0,...,76.0,83.0,85.0,88.0,140.0,234.0,349.0,398.0,615.0,473.0
News,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,3.0,6.0,7.0,1.0
Romance,0.0,3.0,16.0,31.0,66.0,95.0,87.0,89.0,106.0,113.0,...,96.0,151.0,211.0,274.0,429.0,584.0,663.0,763.0,772.0,560.0
Sci-Fi,0.0,2.0,1.0,2.0,7.0,8.0,6.0,1.0,20.0,66.0,...,60.0,101.0,96.0,82.0,113.0,125.0,156.0,228.0,299.0,191.0
Sport,0.0,0.0,0.0,3.0,1.0,3.0,3.0,3.0,4.0,4.0,...,25.0,18.0,26.0,36.0,41.0,51.0,100.0,83.0,106.0,91.0
Thriller,0.0,0.0,6.0,7.0,7.0,12.0,22.0,24.0,27.0,33.0,...,104.0,143.0,155.0,184.0,253.0,343.0,574.0,738.0,960.0,971.0
War,0.0,3.0,1.0,4.0,10.0,11.0,40.0,15.0,21.0,50.0,...,32.0,25.0,38.0,27.0,46.0,59.0,77.0,77.0,96.0,49.0
Western,0.0,0.0,3.0,1.0,1.0,8.0,12.0,19.0,28.0,41.0,...,21.0,7.0,8.0,16.0,10.0,13.0,8.0,14.0,32.0,18.0
\N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0

In [19]:
#merge movie avec akas :

merge_akas_movie_filter = df_pj2_akas.merge(df_ratings_merge_basics_ss_short, how='inner', left_on=['titleId'], right_on=['tconst'])

merge_akas_movie_filter.info()

n_value_mask_region = merge_akas_movie_filter['region'] == r'\N'


merge_akas_movie_filter_n_value = merge_akas_movie_filter[n_value_mask_region]

merge_akas_movie_filter_n_value.head(200)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872384 entries, 0 to 872383
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          872384 non-null  object
 1   ordering         872384 non-null  int64
 2   title            872384 non-null  object
 3   region           872384 non-null  object
 4   language         872384 non-null  object
 5   types            872384 non-null  object
 6   attributes       872384 non-null  object
 7   isOriginalTitle  872384 non-null  int64
 8   tconst           872384 non-null  object
 9   titleType        872384 non-null  object
 10  primaryTitle     872384 non-null  object
 11  originalTitle    872384 non-null  object
 12  isAdult          872384 non-null  object
 13  startYear        872384 non-null  int32
 14  endYear          872384 non-null  object
 15  runtimeMinutes   872384 non-null  object
 16  genres           872384 non-null  object
 17  averageRating    872384 non-null  float64
 18  numVotes         872384 non-null  int64
 19  bucket 10        872384 non-null  int32
 20  bucket 5         872384 non-null  int32
 21  lg title movie   872384 non-null  object
dtypes: float64(1), int32(3), int64(3), object(15)
memory usage: 136.4+ MB

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,titleType,...,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,bucket 10,bucket 5,lg title movie
0,tt0002130,1,L'inferno,\N,\N,original,\N,1,tt0002130,movie,...,0,1911,\N,71,"Adventure,Drama,Fantasy",7.0,3647,1910,1910,en
20,tt0002844,1,Fantômas I: À l'ombre de la guillotine,\N,\N,original,\N,1,tt0002844,movie,...,0,1913,\N,54,"Crime,Drama",6.9,2561,1910,1910,fr
21,tt0002844,10,The Phantom Crook,\N,\N,\N,\N,0,tt0002844,movie,...,0,1913,\N,54,"Crime,Drama",6.9,2561,1910,1910,fr
24,tt0002844,13,Fantômas,\N,\N,\N,\N,0,tt0002844,movie,...,0,1913,\N,54,"Crime,Drama",6.9,2561,1910,1910,fr
48,tt0003419,1,Der Student von Prag,\N,\N,original,\N,1,tt0003419,movie,...,0,1913,\N,85,"Drama,Fantasy,Horror",6.4,2490,1910,1910,de
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,tt0021577,1,L'âge d'or,\N,\N,original,\N,1,tt0021577,movie,...,0,1930,\N,63,"Comedy,Drama",7.2,15024,1930,1930,fr
5300,tt0021622,1,Arrowsmith,\N,\N,original,\N,1,tt0021622,movie,...,0,1931,\N,108,Drama,6.2,2051,1930,1930,en
5317,tt0021673,1,Blonde Crazy,\N,\N,original,\N,1,tt0021673,movie,...,0,1931,\N,79,"Comedy,Crime,Drama",7.1,2372,1930,1930,nl
5331,tt0021730,1,The Champ,\N,\N,original,\N,1,tt0021730,movie,...,0,1931,\N,86,"Drama,Family,Sport",7.2,3702,1930,1930,en
5361,tt0021739,1,La chienne,\N,\N,original,\N,1,tt0021739,movie,...,0,1931,\N,95,"Crime,Drama,Romance",7.5,4965,1930,1930,fr

In [20]:
mask_merge_language_fr = merge_akas_movie_filter['language'] == 'fr'

merge_akas_movie_filter_fr = merge_akas_movie_filter[mask_merge_language_fr]

merge_akas_movie_filter_fr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22252 entries, 173 to 872362
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          22252 non-null  object
 1   ordering         22252 non-null  int64
 2   title            22252 non-null  object
 3   region           22252 non-null  object
 4   language         22252 non-null  object
 5   types            22252 non-null  object
 6   attributes       22252 non-null  object
 7   isOriginalTitle  22252 non-null  int64
 8   tconst           22252 non-null  object
 9   titleType        22252 non-null  object
 10  primaryTitle     22252 non-null  object
 11  originalTitle    22252 non-null  object
 12  isAdult          22252 non-null  object
 13  startYear        22252 non-null  int32
 14  endYear          22252 non-null  object
 15  runtimeMinutes   22252 non-null  object
 16  genres           22252 non-null  object
 17  averageRating    22252 non-null  float64
 18  numVotes         22252 non-null  int64
 19  bucket 10        22252 non-null  int32
 20  bucket 5         22252 non-null  int32
 21  lg title movie   22252 non-null  object
dtypes: float64(1), int32(3), int64(3), object(15)
memory usage: 3.7+ MB

In [21]:
link = "tmdb_full.csv"
df_pj2_tmdb_full= pd.read_csv(link)

C:\Users\remim\AppData\Local\Temp\ipykernel_15124\3699952219.py:2: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pj2_tmdb_full= pd.read_csv(link)

In [22]:
#travail sur la base de données TMDB fournit avec image etc...

df_pj2_tmdb_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309572 entries, 0 to 309571
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   adult                         309572 non-null  bool
 1   backdrop_path                 151760 non-null  object
 2   budget                        309572 non-null  int64
 3   genres                        309572 non-null  object
 4   homepage                      44262 non-null   object
 5   id                            309572 non-null  int64
 6   imdb_id                       309572 non-null  object
 7   original_language             309572 non-null  object
 8   original_title                309572 non-null  object
 9   overview                      282512 non-null  object
 10  popularity                    309572 non-null  float64
 11  poster_path                   264159 non-null  object
 12  production_countries          309572 non-null  object
 13  release_date                  301339 non-null  object
 14  revenue                       309572 non-null  int64
 15  runtime                       309572 non-null  int64
 16  spoken_languages              309572 non-null  object
 17  status                        309572 non-null  object
 18  tagline                       74573 non-null   object
 19  title                         309572 non-null  object
 20  video                         309572 non-null  bool
 21  vote_average                  309572 non-null  float64
 22  vote_count                    309572 non-null  int64
 23  production_companies_name     309572 non-null  object
 24  production_companies_country  164438 non-null  object
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 54.9+ MB

In [23]:
df_pj2_tmdb_full

merge_imdb_tmdb = df_ratings_merge_basics_ss_short.merge(df_pj2_tmdb_full, how='left', left_on=['tconst'], right_on=['imdb_id'])

merge_imdb_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31120 entries, 0 to 31119
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tconst                        31120 non-null  object
 1   titleType                     31120 non-null  object
 2   primaryTitle                  31120 non-null  object
 3   originalTitle                 31120 non-null  object
 4   isAdult                       31120 non-null  object
 5   startYear                     31120 non-null  int32
 6   endYear                       31120 non-null  object
 7   runtimeMinutes                31120 non-null  object
 8   genres_x                      31120 non-null  object
 9   averageRating                 31120 non-null  float64
 10  numVotes                      31120 non-null  int64
 11  bucket 10                     31120 non-null  int32
 12  bucket 5                      31120 non-null  int32
 13  lg title movie                31120 non-null  object
 14  adult                         30243 non-null  object
 15  backdrop_path                 29071 non-null  object
 16  budget                        30243 non-null  float64
 17  genres_y                      30243 non-null  object
 18  homepage                      7964 non-null   object
 19  id                            30243 non-null  float64
 20  imdb_id                       30243 non-null  object
 21  original_language             30243 non-null  object
 22  original_title                30243 non-null  object
 23  overview                      30077 non-null  object
 24  popularity                    30243 non-null  float64
 25  poster_path                   30036 non-null  object
 26  production_countries          30243 non-null  object
 27  release_date                  29991 non-null  object
 28  revenue                       30243 non-null  float64
 29  runtime                       30243 non-null  float64
 30  spoken_languages              30243 non-null  object
 31  status                        30243 non-null  object
 32  tagline                       19726 non-null  object
 33  title                         30243 non-null  object
 34  video                         30243 non-null  object
 35  vote_average                  30243 non-null  float64
 36  vote_count                    30243 non-null  float64
 37  production_companies_name     30243 non-null  object
 38  production_companies_country  16592 non-null  object
dtypes: float64(8), int32(3), int64(1), object(27)
memory usage: 8.9+ MB

In [24]:
merge_imdb_tmdb['ecart note'] = merge_imdb_tmdb['averageRating'] - merge_imdb_tmdb['vote_average']
merge_imdb_tmdb['ecart vote'] = merge_imdb_tmdb['numVotes'] - merge_imdb_tmdb['vote_count']

merge_imdb_tmdb['ecart note'].describe()

count    30243.000000
mean         0.142346
std          1.068313
min         -8.400000
25%         -0.200000
50%          0.100000
75%          0.329000
max          8.900000
Name: ecart note, dtype: float64

In [25]:
masque_ecart_note = merge_imdb_tmdb['ecart note'] > 1.5

merge_imdb_tmdb_ecart_note = merge_imdb_tmdb[masque_ecart_note]

merge_imdb_tmdb_ecart_note['ecart note'].describe()

count    835.000000
mean       5.186895
std        1.964043
min        1.500000
25%        3.900000
50%        5.700000
75%        6.600000
max        8.900000
Name: ecart note, dtype: float64

In [26]:
merge_imdb_tmdb.to_excel('merge_rating_lg.xlsx', index=False)

In [27]:
#etude de la base de données tmdb avec la même approche :


merge_imdb_tmdb.describe()

,startYear,averageRating,numVotes,bucket 10,bucket 5,budget,id,popularity,revenue,runtime,vote_average,vote_count,ecart note,ecart vote
count,31120.000000,31120.000000,3.112000e+04,31120.000000,31120.000000,3.024300e+04,3.024300e+04,30243.000000,3.024300e+04,30243.000000,30243.000000,30243.000000,30243.000000,3.024300e+04
mean,2000.788721,6.369152,3.567072e+04,1996.333226,1998.739878,8.259657e+06,2.068688e+05,12.997819,2.236935e+07,103.976424,6.222198,602.444764,0.142346,3.589622e+04
std,21.287689,1.126774,1.117936e+05,21.543395,21.271603,2.470397e+07,2.686200e+05,64.667157,9.389984e+07,26.337151,1.295553,1791.465315,1.068313,1.116292e+05
min,1911.000000,1.000000,2.001000e+03,1910.000000,1910.000000,0.000000e+00,2.000000e+00,0.600000,0.000000e+00,0.000000,0.000000,0.000000,-8.400000,1.279000e+03
25%,1992.000000,5.700000,3.185750e+03,1990.000000,1990.000000,0.000000e+00,1.885750e+04,4.538500,0.000000e+00,91.000000,5.780000,43.000000,-0.200000,3.167000e+03
50%,2008.000000,6.500000,6.190500e+03,2000.000000,2005.000000,0.000000e+00,5.060000e+04,7.521000,0.000000e+00,100.000000,6.400000,101.000000,0.100000,6.215000e+03
75%,2016.000000,7.200000,1.958175e+04,2010.000000,2015.000000,3.700000e+06,3.620815e+05,11.909000,3.724546e+06,115.000000,7.000000,343.000000,0.329000,1.983900e+04
max,2024.000000,9.900000,2.959184e+06,2020.000000,2020.000000,5.793304e+08,1.120821e+06,5089.969000,2.923706e+09,569.000000,10.000000,33630.000000,8.900000,2.935465e+06

In [28]:
df_pj2_tmdb_full['popularity'].describe()

count    309572.000000
mean          2.719860
std          21.206599
min           0.600000
25%           0.600000
50%           1.083000
75%           1.994000
max        5089.969000
Name: popularity, dtype: float64

In [29]:
df_pj2_tmdb_full.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,3.095720e+05,3.095720e+05,309572.000000,3.095720e+05,309572.000000,309572.000000,309572.000000
mean,8.781720e+05,4.086449e+05,2.719860,2.247857e+06,70.438702,4.105471,65.364616
std,8.275506e+06,3.219135e+05,21.206599,3.023098e+07,95.136916,3.000611,588.071450
min,0.000000e+00,2.000000e+00,0.600000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,1.311845e+05,0.600000,0.000000e+00,22.000000,0.000000,0.000000
50%,0.000000e+00,3.349365e+05,1.083000,0.000000e+00,85.000000,5.000000,2.000000
75%,0.000000e+00,6.178362e+05,1.994000,0.000000e+00,98.000000,6.400000,9.000000
max,5.793304e+08,1.122427e+06,5089.969000,2.923706e+09,43200.000000,10.000000,33630.000000

In [30]:
df_pj2_tmdb_full['vote_count'].describe()

count    309572.000000
mean         65.364616
std         588.071450
min           0.000000
25%           0.000000
50%           2.000000
75%           9.000000
max       33630.000000
Name: vote_count, dtype: float64

In [31]:
masque_vote_count = (df_pj2_tmdb_full['vote_count'] > 20) & (df_pj2_tmdb_full['vote_average'] > 5) & (df_pj2_tmdb_full['popularity'] > 4)


apply_masque_vote_20_tmdb_full = df_pj2_tmdb_full[masque_vote_count]

apply_masque_vote_20_tmdb_full.to_excel('apply_masque_vote_20_tmdb_full.xlsx', index=False)

In [32]:
import requests

url = "https://api.themoviedb.org/3/account/21645343/rated/movies?language=en-US&page=12&sort_by=created_at.asc"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ODg1Yjc5MDcwOTZmMzVhYzdjMjNmNDAwYWIyOTU0NSIsIm5iZiI6MTczMjgxMDY2My4zNzIyNDE1LCJzdWIiOiI2NzQwM2Y3YThiNGU0YzJlZjZmNzgxYTciLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.OpizsoVwM12IDfqvl9aCFVQe0STZHu8pYLv5OUhgkbQ"
}

response = requests.get(url, headers=headers)

print(response.text)

{"page":12,"results":[],"total_pages":0,"total_results":0}

In [33]:
merge_final_test = merge_imdb_tmdb.merge(df_r_l_FR, how='left', left_on=['tconst'], right_on=['titleId'])

merge_final_test.to_excel('merge_final_test.xlsx', index=False)

In [34]:
lang_fr_final_test=merge_final_test[(merge_final_test['language'] == 'fr')|(merge_final_test['region'] == 'FR')]

lang_fr_final_test.to_excel('lang_fr_final_test.xlsx', index=False)

In [35]:
lang_fr_final_test_unique2 = lang_fr_final_test.drop_duplicates(subset=['tconst'])

lang_fr_final_test_unique2.to_excel('lang_fr_final_test_unique2.xlsx', index=False)

In [36]:
#masque_final_unique_2 = lang_fr_final_test_unique2['isAdult'] != 1
#lang_fr_final_test_unique2 = lang_fr_final_test_unique2[masque_final_unique_2]

#lang_fr_final_test_unique2 = lang_fr_final_test_unique2.drop(columns='isAdult')

lang_fr_final_test_unique2['id']

0         70512.0
1             NaN
4         28627.0
5          5153.0
6         22943.0
           ...
33931    587030.0
33932    653708.0
33933    630392.0
33935    591915.0
33936    655187.0
Name: id, Length: 23739, dtype: float64

In [37]:
#suppression des colonnes inutiles avant ajout acteur réalisateur ....:

df_final_avec_na = lang_fr_final_test_unique2.drop(columns=['endYear','bucket 5','lg title movie','adult','budget',
                                                    'genres_y','homepage','imdb_id','original_title',
                                                    'release_date','revenue','runtime','status','tagline', 'title_x','video','production_companies_country',
                                                    'titleId','ordering','language','types','attributes','isOriginalTitle'])

df_final_avec_na

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,averageRating,numVotes,...,poster_path,production_countries,spoken_languages,vote_average,vote_count,production_companies_name,ecart note,ecart vote,title_y,region
0,tt0002130,movie,Dante's Inferno,L'inferno,0,1911,71,"Adventure,Drama,Fantasy",7.0,3647,...,/sL1ovbqIKapcyGeQ3ytBz919uAa.jpg,['IT'],['xx'],6.400,117.0,['Milano Films'],0.600,3530.0,L'Enfer,FR
1,tt0002844,movie,Fantômas: In the Shadow of the Guillotine,Fantômas I: À l'ombre de la guillotine,0,1913,54,"Crime,Drama",6.9,2561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Phantom Crook,FR
4,tt0003419,movie,The Student of Prague,Der Student von Prag,0,1913,85,"Drama,Fantasy,Horror",6.4,2490,...,/tO2zgNEY0MqtvEyPioTTfHgmN2Q.jpg,['DE'],['xx'],5.952,62.0,['Deutsche Bioscope'],0.448,2428.0,L'étudiant de Prague,FR
5,tt0003740,movie,Cabiria,Cabiria,0,1914,148,"Adventure,Drama,History",7.1,4047,...,/oZhgcHHapkzYmB0OhQcRfZ7LdLM.jpg,['IT'],['xx'],7.200,118.0,['Italia Film'],-0.100,3929.0,Cabiria,FR
6,tt0004707,movie,Tillie's Punctured Romance,Tillie's Punctured Romance,0,1914,82,Comedy,6.2,3769,...,/AiuU7NtGyRjz1td7I1Z1z8WFnzF.jpg,['US'],['xx'],6.200,57.0,['Keystone Film Company'],0.000,3712.0,La Folle Aventure de Charlot et de Lolotte,FR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33931,tt9900782,movie,Kaithi,Kaithi,0,2019,145,"Action,Crime,Drama",8.4,44556,...,/hOF9CgPsy9aLr5GJEBESC8MEXFy.jpg,['IN'],"['ta', 'te']",7.500,78.0,"['Dream Warrior Pictures', 'Vivekandanda Pictu...",0.900,44478.0,Kaithi,FR
33932,tt9902160,movie,Herself,Herself,0,2020,97,Drama,7.0,4861,...,/qTCdyHTibEl90w6rDxTTHTX9k3O.jpg,"['IE', 'GB']",['en'],6.800,70.0,"['Element Pictures', 'BBC Film', 'Merman', 'Am...",0.200,4791.0,Herself,FR
33933,tt9907782,movie,The Cursed,Eight for Silver,0,2021,111,"Fantasy,Horror,Mystery",6.2,18840,...,/bewmBcjJxHeipS1PNu9Lfyvt3zY.jpg,['US'],['en'],6.900,169.0,"['Piste Rouge', 'LD Entertainment']",-0.700,18671.0,Eight for Silver,FR
33935,tt9911196,movie,The Marriage Escape,De beentjes van Sint-Hildegard,0,2020,103,"Comedy,Drama",7.4,3386,...,/qZNlF6i3MOvwhRV8SDfp5M40hVx.jpg,['NL'],['nl'],7.800,31.0,"['Johan Nijenhuis & Co', 'Omroep MAX']",-0.400,3355.0,De Beentjes van Sint-Hildegard,FR
33936,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",6.4,5936,...,/lyB3yoQbGO3LiCVuSOD2g17Hr6p.jpg,"['AR', 'ES', 'FR']","['eu', 'es']",6.708,257.0,"['INCAA', 'La Fidèle Production', 'Lamia Produ...",-0.308,5679.0,Les sorcières d'Akelarre,FR

In [38]:
df_final = df_final_avec_na.dropna()

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22774 entries, 0 to 33936
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22774 non-null  object
 1   titleType                  22774 non-null  object
 2   primaryTitle               22774 non-null  object
 3   originalTitle              22774 non-null  object
 4   isAdult                    22774 non-null  object
 5   startYear                  22774 non-null  int32
 6   runtimeMinutes             22774 non-null  object
 7   genres_x                   22774 non-null  object
 8   averageRating              22774 non-null  float64
 9   numVotes                   22774 non-null  int64
 10  bucket 10                  22774 non-null  int32
 11  backdrop_path              22774 non-null  object
 12  id                         22774 non-null  float64
 13  original_language          22774 non-null  object
 14  overview                   22774 non-null  object
 15  popularity                 22774 non-null  float64
 16  poster_path                22774 non-null  object
 17  production_countries       22774 non-null  object
 18  spoken_languages           22774 non-null  object
 19  vote_average               22774 non-null  float64
 20  vote_count                 22774 non-null  float64
 21  production_companies_name  22774 non-null  object
 22  ecart note                 22774 non-null  float64
 23  ecart vote                 22774 non-null  float64
 24  title_y                    22774 non-null  object
 25  region                     22774 non-null  object
dtypes: float64(7), int32(2), int64(1), object(16)
memory usage: 4.5+ MB

In [39]:
link = "title.crew.tsv"
df_title_crew= pd.read_csv(link, sep = "\t")

df_title_crew.head(20)

       tconst            directors    writers
0   tt0000001            nm0005690         \N
1   tt0000002            nm0721526         \N
2   tt0000003            nm0721526         \N
3   tt0000004            nm0721526         \N
4   tt0000005            nm0005690         \N
5   tt0000006            nm0005690         \N
6   tt0000007  nm0005690,nm0374658         \N
7   tt0000008            nm0005690         \N
8   tt0000009            nm0085156  nm0085156
9   tt0000010            nm0525910         \N
10  tt0000011            nm0804434         \N
11  tt0000012  nm0525908,nm0525910         \N
12  tt0000013            nm0525910         \N
13  tt0000014            nm0525910         \N
14  tt0000015            nm0721526         \N
15  tt0000016            nm0525910         \N
16  tt0000017  nm1587194,nm0804434         \N
17  tt0000018            nm0804434         \N
18  tt0000019            nm0932055         \N
19  tt0000020            nm0010291         \N

In [40]:
#link = "name.basics.tsv"
#df_pj2_name_basics= pd.read_csv(link, sep = "\t")

display(df_pj2_name_basics.head(10))
display(df_pj2_principals.head(10))
display(df_title_crew.head(10))

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,producer,soundtrack","tt0034583,tt0036855,tt0038109,tt0038787"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,producer,miscellaneous","tt0034583,tt0037382,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,director","tt0061184,tt0087803,tt0059749,tt0057877"
9,nm0000010,James Cagney,1899,1986,"actor,director,producer","tt0029870,tt0031867,tt0042041,tt0055256"

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N
5,tt0000002,2,nm1335271,composer,\N,\N
6,tt0000003,1,nm0721526,director,\N,\N
7,tt0000003,2,nm1770680,producer,producer,\N
8,tt0000003,3,nm0721526,producer,producer,\N
9,tt0000003,4,nm1335271,composer,\N,\N

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0005690,nm0374658         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [41]:
merge_final_principal = df_final[['tconst','title_y']].merge(df_pj2_principals[['tconst','nconst','category']], how='inner', left_on=['tconst'], right_on=['tconst'])

In [42]:
merge_principal_name = merge_final_principal.merge(df_pj2_name_basics[['nconst','primaryName']], how='inner', left_on=['nconst'], right_on=['nconst'])

In [43]:
merge_finish = merge_principal_name.groupby("tconst")[["category","primaryName"]].agg(list)

In [44]:
df_finish = df_final.merge(merge_finish, how='inner', left_on=['tconst'], right_on=['tconst'])

df_finish.to_excel('df_finish_him.xlsx', index=False)

In [45]:
df_finish.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_x,averageRating,numVotes,...,spoken_languages,vote_average,vote_count,production_companies_name,ecart note,ecart vote,title_y,region,category,primaryName
0,tt0002130,movie,Dante's Inferno,L'inferno,0,1911,71,"Adventure,Drama,Fantasy",7.0,3647,...,['xx'],6.400,117.0,['Milano Films'],0.600,3530.0,L'Enfer,FR,"[actor, actor, actor, actor, actor, actor, act...","[Salvatore Papa, Arturo Pirovano, Giuseppe de ..."
1,tt0003419,movie,The Student of Prague,Der Student von Prag,0,1913,85,"Drama,Fantasy,Horror",6.4,2490,...,['xx'],5.952,62.0,['Deutsche Bioscope'],0.448,2428.0,L'étudiant de Prague,FR,"[actor, actress, actress, actor, actor, actor,...","[Paul Wegener, Grete Berger, Lyda Salmonova, J..."
2,tt0003740,movie,Cabiria,Cabiria,0,1914,148,"Adventure,Drama,History",7.1,4047,...,['xx'],7.200,118.0,['Italia Film'],-0.100,3929.0,Cabiria,FR,"[actress, actress, actor, actress, actress, ac...","[Italia Almirante-Manzini, Lidia Quaranta, Bar..."
3,tt0004707,movie,Tillie's Punctured Romance,Tillie's Punctured Romance,0,1914,82,Comedy,6.2,3769,...,['xx'],6.200,57.0,['Keystone Film Company'],0.000,3712.0,La Folle Aventure de Charlot et de Lolotte,FR,"[actor, actress, actress, actor, actor, actor,...","[Charles Chaplin, Marie Dressler, Mabel Norman..."
4,tt0004972,movie,The Birth of a Nation,The Birth of a Nation,0,1915,195,"Drama,War",6.1,26823,...,['xx'],6.046,463.0,['Epoch Film Co.'],0.054,26360.0,Naissance d'une nation,FR,"[actress, actress, actor, actress, actress, ac...","[Lillian Gish, Mae Marsh, Henry B. Walthall, M..."