In [20]:
#traitement pour ajout directors dans finish him (fonction amene les directors d'un autre data frame)

def process_dir(liste_dir):
    liste = []
    liste_dir = liste_dir.split(',') 
    for dir_id in liste_dir:
        try:
            liste.append(df_pj2_name_basics.loc[dir_id]['primaryName'])
        except Exception as e:
            print(e)
            pass
    return liste

In [25]:
#traitement pour ajout directors dans finish him

df_director_title["directors"] = df_director_title["directors"].apply(process_dir)

df_director_title

'\\N'
'\\N'

C:\Users\remim\AppData\Local\Temp\ipykernel_11640\4113650929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_director_title["directors"] = df_director_title["directors"].apply(process_dir)

          tconst                                          directors
0      tt0002130  [Francesco Bertolini, Adolfo Padovan, Giuseppe...
1      tt0003419                   [Hanns Heinz Ewers, Stellan Rye]
2      tt0003740                                [Giovanni Pastrone]
3      tt0004707                    [Mack Sennett, Charles Bennett]
4      tt0004972                                    [D.W. Griffith]
...          ...                                                ...
22769  tt9900782                                 [Lokesh Kanagaraj]
22770  tt9902160                                   [Phyllida Lloyd]
22771  tt9907782                                       [Sean Ellis]
22772  tt9911196                                  [Johan Nijenhuis]
22773  tt9916362                                     [Pablo Agüero]

[22774 rows x 2 columns]

In [27]:
# #traitement pour ajout directors dans finish him

df_finish_him = df_finish_him.merge(df_director_title[['tconst',"directors"]], how='inner', left_on='tconst', right_on='tconst')
# #verifier film sans director si pourri dégage

#df_finish_him.to_excel('df_finish_him.xlsx', index=False)


df_finish_him.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22774 entries, 0 to 22773
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22774 non-null  object
 1   titleType                  22774 non-null  object
 2   primaryTitle               22774 non-null  object
 3   originalTitle              22774 non-null  object
 4   isAdult                    22774 non-null  int64
 5   startYear                  22774 non-null  int64
 6   runtimeMinutes             22774 non-null  int64
 7   genres_x                   22774 non-null  object
 8   averageRating              22774 non-null  float64
 9   numVotes                   22774 non-null  int64
 10  bucket 10                  22774 non-null  int64
 11  backdrop_path              22774 non-null  object
 12  id                         22774 non-null  int64
 13  original_language          22774 non-null  object
 14  overview                   22774 non-null  object
 15  popularity                 22774 non-null  float64
 16  poster_path                22774 non-null  object
 17  production_countries       22774 non-null  object
 18  spoken_languages           22774 non-null  object
 19  vote_average               22774 non-null  float64
 20  vote_count                 22774 non-null  int64
 21  production_companies_name  22774 non-null  object
 22  ecart note                 22774 non-null  float64
 23  ecart vote                 22774 non-null  int64
 24  title_y                    22774 non-null  object
 25  region                     22774 non-null  object
 26  category                   22774 non-null  object
 27  primaryName                22774 non-null  object
 28  directors_x                22774 non-null  object
 29  directors_y                22774 non-null  object
dtypes: float64(4), int64(8), object(18)
memory usage: 5.2+ MB

In [1]:

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import QuantileTransformer

In [2]:
link = "df_finish_him.csv"
df_finish_him= pd.read_csv(link)

df_finish_him.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'startYear',
       'runtimeMinutes', 'genres_x', 'averageRating', 'numVotes', 'bucket 10',
       'backdrop_path', 'original_language', 'overview', 'popularity',
       'poster_path', 'production_countries', 'spoken_languages',
       'vote_average', 'vote_count', 'production_companies_name', 'ecart vote',
       'title_y', 'region', 'category', 'primaryName', 'directors',
       'job_name'],
      dtype='object')

In [3]:
df_finish_him['title_y'] = df_finish_him['title_y'] + ' ' + '('+df_finish_him['startYear'].astype(str)+')'

#transformation des string avec split sur genres_x:

# df_finish_him['genres_x'] = df_finish_him['genres_x'].str.split(',')

# df_finish_him

In [4]:
# transofrmation des string en liste avec eval :
df_finish_him['category'] = df_finish_him['category'].apply(eval)
df_finish_him['primaryName'] = df_finish_him['primaryName'].apply(eval)
df_finish_him['production_companies_name'] = df_finish_him['production_companies_name'].apply(eval)
df_finish_him['production_countries'] = df_finish_him['production_countries'].apply(eval)
df_finish_him['genres_x'] = df_finish_him['genres_x'].apply(eval)
df_finish_him['directors'] = df_finish_him['directors'].apply(eval)

In [19]:
# df_finish_him['job_name'] = [(job, name) for job, name in zip(df_finish_him['category'], df_finish_him['primaryName'])]

df_finish_him = df_finish_him.drop_duplicates(subset='title_y')
# df_finish_him = df_finish_him.drop(columns='job_name')

In [24]:
mlb = MultiLabelBinarizer()

genre_mlb = mlb.fit_transform(df_finish_him['genres_x'])

mlb.classes_

df_genre_before = pd.DataFrame(genre_mlb, columns=mlb.classes_)

df_genre_before


mlb = MultiLabelBinarizer()

prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

prod_country_mlb

df_prod_country = pd.DataFrame(prod_country_mlb, columns=mlb.classes_)

# mlb = MultiLabelBinarizer()

# prod_company_mlb = mlb.fit_transform(df_finish_him['production_companies_name'])

# prod_company_mlb

# df_prod_company= pd.DataFrame(prod_company_mlb, columns=mlb.classes_)



display(df_genre_before.head())

display(df_prod_country.head())

# display(df_prod_company.head())

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

,AE,AF,AL,AM,AR,AT,AU,AW,BA,BD,...,VE,VN,VU,XC,XG,XK,YU,ZA,ZM,ZW
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# pondération genre :

df_genre = df_genre_before*2.5

df_genre[['Crime','Comedy','Adventure','Action','Horror','Mystery','Romance','Thriller']] = df_genre_before[['Crime','Comedy','Adventure','Action','Horror','Mystery','Romance','Thriller']] * 1.6

df_genre[['Sci-Fi','Biography','Animation','Family','Fantasy']] = df_genre_before[['Sci-Fi','Biography','Animation','Family','Fantasy']] *1.9

df_genre[['Film-Noir','Documentary','Music','History','Musical','Sport','War','Western']]= df_genre_before[['Film-Noir','Documentary','Music','History','Musical','Sport','War','Western']]  *2.2

In [26]:
df_genre_before.sum()

Action          4753
Adventure       3328
Animation        987
Biography       1360
Comedy          7510
Crime           4198
Documentary      614
Drama          12994
Family          1202
Fantasy         1518
Film-Noir        271
History          958
Horror          3164
Music            656
Musical          346
Mystery         2230
News               8
Romance         3977
Sci-Fi          1413
Sport            426
Thriller        3513
War              670
Western          371
dtype: int64

In [27]:
df_genre.sum()

Action          7604.8
Adventure       5324.8
Animation       1875.3
Biography       2584.0
Comedy         12016.0
Crime           6716.8
Documentary     1350.8
Drama          32485.0
Family          2283.8
Fantasy         2884.2
Film-Noir        596.2
History         2107.6
Horror          5062.4
Music           1443.2
Musical          761.2
Mystery         3568.0
News              20.0
Romance         6363.2
Sci-Fi          2684.7
Sport            937.2
Thriller        5620.8
War             1474.0
Western          816.2
dtype: float64

In [28]:
mlb = MultiLabelBinarizer()

directors_mlb = mlb.fit_transform(df_finish_him['directors'])

directors_mlb

# prod_country_mlb = mlb.fit_transform(df_finish_him['production_countries'])

# prod_country_mlb

df_directors=pd.DataFrame(directors_mlb, columns=mlb.classes_)

df_directors.head()

,A. Edward Sutherland,A. Todd Smith,A. Vinoth Kumar,A.L. Vijay,A.R. Murugadoss,A.T. White,A.V. Rockwell,Aakash Bhatia,Aamir Khan,Aanand L. Rai,...,Étienne Chatiliez,Éva Gárdos,Óliver Laxe,Óskar Jónasson,Óskar Thór Axelsson,Ömer Faruk Sorak,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# 1. Initialiser le StandardScaler
# Nous créons une instance de StandardScaler qui va normaliser les données.
scaler = StandardScaler()

# 2. Ajuster et transformer les données
# 2.1. Ajuster le scaler sur les colonnes numériques sélectionnées ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les écarts-types de ces colonnes.
scaler.fit(df_finish_him[['averageRating', 'bucket 10', 'vote_average']])

# 2.2. Transformer les données en utilisant le scaler ajusté pour obtenir une nouvelle matrice normalisée X_scaled.
X_scaled_num = scaler.transform(df_finish_him[['averageRating', 'bucket 10', 'vote_average']])

# 3. Créer un DataFrame à partir des données normalisées
# Nous créons un nouveau DataFrame 'normalize_num' en utilisant les données normalisées (X_scaled_num) et en spécifiant les noms des colonnes d'origine.
normalize_num = pd.DataFrame(X_scaled_num, columns=['averageRating', 'bucket 10', 'vote_average'])

# Afficher le DataFrame normalisé
display(normalize_num.describe())

       averageRating     bucket 10  vote_average
count   2.276400e+04  2.276400e+04  2.276400e+04
mean   -5.992980e-16 -4.394852e-16 -1.747953e-16
std     1.000022e+00  1.000022e+00  1.000022e+00
min    -5.021099e+00 -3.621487e+00 -6.174561e+00
25%    -5.748540e-01 -5.742816e-01 -4.501191e-01
50%     1.017485e-01  2.963485e-01  1.045325e-01
75%     6.816936e-01  7.316636e-01  6.220456e-01
max     2.808159e+00  1.166979e+00  3.534877e+00

In [30]:
# 1. Initialiser le StandardScaler
# Nous créons une instance de StandardScaler qui va normaliser les données.
qt = QuantileTransformer(n_quantiles=10, random_state=0)

# 2. Ajuster et transformer les données
# 2.1. Ajuster le scaler sur les colonnes numériques sélectionnées ('averageRating', 'numVotes', 'bucket 10', 'popularity', 'vote_average', 'vote_count')
# du DataFrame df_pokemon_no_lengendary_p pour apprendre les moyennes et les écarts-types de ces colonnes.
# 2.2. Transformer les données en utilisant le scaler ajusté pour obtenir une nouvelle matrice normalisée X_scaled.
qt_norm_vote_pop = qt.fit_transform(df_finish_him[['numVotes', 'popularity','vote_count']])




# 3. Créer un DataFrame à partir des données normalisées
# Nous créons un nouveau DataFrame 'normalize_num' en utilisant les données normalisées (X_scaled_num) et en spécifiant les noms des colonnes d'origine.
qt_vote_popularity = pd.DataFrame(qt_norm_vote_pop, columns=['numVotes', 'popularity','vote_count'])

# Afficher le DataFrame normalisé
display(qt_vote_popularity)

       numVotes  popularity  vote_count
0      0.240056    0.221447    0.435897
1      0.093037    0.254729    0.252137
2      0.277404    0.270481    0.438746
3      0.251447    0.096706    0.230769
4      0.718408    0.708829    0.717204
...         ...         ...         ...
22759  0.790907    0.562838    0.320513
22760  0.345224    0.177359    0.286325
22761  0.673496    0.886569    0.522222
22762  0.213293    0.093171    0.095679
22763  0.404679    0.482332    0.611953

[22764 rows x 3 columns]

In [31]:
# ponderation matrice normalize_num:

#normalize_num[['numVotes','vote_count']] = normalize_num[['numVotes','vote_count']] *0.5

normalize_num['bucket 10'] = normalize_num['bucket 10']*0.3

normalize_num['averageRating'] = normalize_num['averageRating'] * 0.6

#normalize_num['popularity'] = normalize_num['popularity'] * 0.3 #quantile transformer

normalize_num['vote_average'] =normalize_num['vote_average'] * 0.5

In [32]:
normalize_num.describe()

       averageRating     bucket 10  vote_average
count   2.276400e+04  2.276400e+04  2.276400e+04
mean   -3.495905e-16 -1.398362e-16 -8.739763e-17
std     6.000132e-01  3.000066e-01  5.000110e-01
min    -3.012659e+00 -1.086446e+00 -3.087281e+00
25%    -3.449124e-01 -1.722845e-01 -2.250596e-01
50%     6.104912e-02  8.890456e-02  5.226626e-02
75%     4.090161e-01  2.194991e-01  3.110228e-01
max     1.684895e+00  3.500936e-01  1.767438e+00

In [33]:
df_finish_him_concat = pd.concat([df_genre,df_prod_country,df_directors,normalize_num,qt_vote_popularity], axis = 1)

df_finish_him_concat_index = df_finish_him_concat.set_index(df_finish_him['title_y'])

df_finish_him_concat_index.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
L'Enfer (1911),0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,1.9,...,0,0,0,0,0.351022,-1.086446,0.019740,0.240056,0.221447,0.435897
L'étudiant de Prague (1913),0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,1.9,...,0,0,0,0,0.003055,-1.086446,-0.197752,0.093037,0.254729,0.252137
Cabiria (1914),0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,0.409016,-1.086446,0.408117,0.277404,0.270481,0.438746
La Folle Aventure de Charlot et de Lolotte (1914),0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-0.112934,-1.086446,-0.077355,0.251447,0.096706,0.230769
Naissance d'une nation (1915),0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,-0.170929,-1.086446,-0.152117,0.718408,0.708829,0.717204

In [34]:
#liste film test:

liste_film = ["Il faut sauver le soldat Ryan (1998)","Inspecteur Gadget (1999)","Bienvenue chez les Ch'tis (2008)","Scream (2022)","Intouchables (2011)",
              "Un indien dans la ville (1994)","Le Roi lion (1994)","Matrix (1999)","Le Flic de Beverly Hills (1984)","Rush Hour (1998)","Resident Evil (2002)","Harry Potter à l'école des sorciers (2001)","Jurassic World (2015)","Le Bon, la Brute et le Truand (1966)","Pearl Harbor (2001)"]

data_test = df_finish_him_concat_index.loc[liste_film]

In [35]:
#preparation du model :


# Initialiser le modèle NearestNeighbors pour trouver les 10 plus proches voisins
neigh = NearestNeighbors(n_neighbors=11)

# Ajuster le modèle sur les données du DataFrame df_final
neigh.fit(df_finish_him_concat)

dis, indice = neigh.kneighbors(data_test)

In [36]:
# Boucler sur chaque Pokémon champion pour afficher ses voisins les plus proches
for index, (d, i) in enumerate(zip(dis, indice)):
    # Afficher la ligne de df_pokemon_lengendary_champion correspondant au Pokémon champion en cours de traitement
    result = data_test.iloc[[index]]
    display(result)
    # Sélectionner les Pokémon non-légendaires les plus proches en utilisant les indices trouvés
    reco = df_finish_him.iloc[i]
    
    # Ajouter une colonne 'distance' au DataFrame reco pour inclure les distances calculées
    reco['distance'] = d
    
    # Afficher les recommandations de Pokémon non-légendaires avec leurs distances par rapport au Pokémon champion
    display(reco)

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Il faut sauver le soldat Ryan (1998),0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.278934,-0.04169,0.897473,0.944853,0.889795,0.932544

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8641,tt0120815,movie,Saving Private Ryan,Saving Private Ryan,1998,169,"[Drama, War]",8.6,1529918,1990,...,14165,"[Paramount, Amblin Entertainment, Mutual Film ...",1515753,Il faut sauver le soldat Ryan (1998),FR,"[actor, actor, actor, actor, actor, actor, act...","[Tom Hanks, Matt Damon, Tom Sizemore, Edward B...",[Steven Spielberg],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.000000
2151,tt0055031,movie,Judgment at Nuremberg,Judgment at Nuremberg,1961,179,"[Drama, War]",8.3,87623,1960,...,643,"[United Artists, Roxlom Films]",86980,Jugement à Nuremberg (1961),FR,"[actor, actor, actor, actress, actor, actress,...","[Spencer Tracy, Burt Lancaster, Richard Widmar...",[Stanley Kramer],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.498224
1790,tt0050825,movie,Paths of Glory,Paths of Glory,1957,88,"[Drama, War]",8.4,218506,1950,...,2450,"[United Artists, Bryna Productions]",216056,Les Sentiers de la gloire (1957),FR,"[actor, actor, actor, actor, actor, actor, act...","[Kirk Douglas, Ralph Meeker, Adolphe Menjou, G...",[Stanley Kubrick],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.518663
3347,tt0067277,movie,Johnny Got His Gun,Johnny Got His Gun,1971,111,"[Drama, War]",7.8,18833,1970,...,321,[World Entertainment],18512,Johnny s'en va-t-en guerre (1971),FR,"[actor, actress, actress, actor, actor, actor,...","[Timothy Bottoms, Kathy Fields, Marsha Hunt, J...",[Dalton Trumbo],"(['actor', 'actress', 'actress', 'actor', 'act...",1.632816
144,tt0020629,movie,All Quiet on the Western Front,All Quiet on the Western Front,1930,152,"[Drama, War]",8.1,68748,1930,...,653,[Universal Pictures],68095,À l'Ouest rien de nouveau (1930),FR,"[actor, actor, actor, actor, actor, actor, act...","[Lew Ayres, Louis Wolheim, John Wray, Arnold L...",[Lewis Milestone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.666271
18140,tt2396589,movie,Mudbound,Mudbound,2017,134,"[Drama, War]",7.4,55306,2010,...,1112,"[Zeal Media, Armory Films, Black Bear Pictures...",54194,Mudbound (2017),FR,"[actor, actress, actor, actress, actor, actor,...","[Jason Mitchell, Carey Mulligan, Jason Clarke,...",[Dee Rees],"(['actor', 'actress', 'actor', 'actress', 'act...",1.695608
5813,tt0093058,movie,Full Metal Jacket,Full Metal Jacket,1987,116,"[Drama, War]",8.2,805637,1980,...,9364,"[Natant, Stanley Kubrick Productions, Warner B...",796273,Full Metal Jacket (1987),FR,"[actor, actor, actor, actor, actor, actor, act...","[Matthew Modine, R. Lee Ermey, Vincent D'Onofr...",[Stanley Kubrick],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.753017
1459,tt0046816,movie,The Caine Mutiny,The Caine Mutiny,1954,124,"[Drama, War]",7.7,30759,1950,...,272,"[Stanley Kramer Productions, Columbia Pictures]",30487,Ouragan sur le Caine (1954),FR,"[actor, actor, actor, actor, actor, actress, a...","[Humphrey Bogart, José Ferrer, Van Johnson, Fr...",[Edward Dmytryk],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.767939
782,tt0037017,movie,Lifeboat,Lifeboat,1944,97,"[Drama, War]",7.6,31950,1940,...,367,[20th Century Fox],31583,Canot de sauvetage (1944),FR,"[actress, actor, actor, actor, actress, actor,...","[Tallulah Bankhead, John Hodiak, Walter Slezak...",[Alfred Hitchcock],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.772393
5678,tt0091763,movie,Platoon,Platoon,1986,120,"[Drama, War]",8.1,447013,1980,...,3927,"[Hemdale Film Corporation, Cinema 86, Cinema 8...",443086,Platoon (1986),FR,"[actor, actor, actor, actor, actor, actor, act...","[Charlie Sheen, Tom Berenger, Willem Dafoe, Ke...",[Oliver Stone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.776090
4261,tt0077416,movie,The Deer Hunter,The Deer Hunter,1978,183,"[Drama, War]",8.1,368354,1970,...,3256,"[Universal Pictures, EMI Films]",365098,Voyage au bout de l'enfer (1978),FR,"[actor, actor, actor, actor, actress, actor, a...","[Robert De Niro, Christopher Walken, John Caza...",[Michael Cimino],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.782192

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Inspecteur Gadget (1999),1.6,1.6,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-1.272824,-0.04169,-0.927902,0.803779,0.724305,0.82811

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8879,tt0141369,movie,Inspector Gadget,Inspector Gadget,1999,78,"[Action, Adventure, Comedy]",4.2,51595,1990,...,1056,"[DiC Entertainment, Walt Disney Pictures, Cara...",50539,Inspecteur Gadget (1999),FR,"[actor, actor, actor, actor, actress, actress,...","[Matthew Broderick, Matthew Broderick, Matthew...",[David Kellogg],"(['actor', 'actor', 'actor', 'actor', 'actress...",0.000000
19459,tt3899796,tvMovie,Sharknado 3: Oh Hell No!,Sharknado 3: Oh Hell No!,2015,93,"[Action, Adventure, Comedy]",4.0,14108,2010,...,447,"[Syfy, The Asylum]",13661,Sharknado 3: Oh Hell No! (2015),FR,"[actor, actress, actress, actor, actress, acto...","[Ian Ziering, Tara Reid, Cassandra Scerbo, Fra...",[Anthony C. Ferrante],"(['actor', 'actress', 'actress', 'actor', 'act...",1.463994
10669,tt0338459,movie,Spy Kids 3: Game Over,Spy Kids 3: Game Over,2003,84,"[Action, Adventure, Comedy]",4.4,67628,2000,...,1959,[Dimension Films],65669,Spy Kids 3 (2003),FR,"[actor, actress, actor, actress, actor, actres...","[Daryl Sabara, Alexa PenaVega, Antonio Bandera...",[Robert Rodriguez],"(['actor', 'actress', 'actor', 'actress', 'act...",1.468202
7157,tt0106761,movie,Double Dragon,Double Dragon,1994,96,"[Action, Adventure, Comedy]",3.9,14096,1990,...,267,"[Gramercy Pictures, Imperial Entertainment]",13829,Double Dragon (1994),FR,"[actor, actor, actor, actress, actress, actres...","[Robert Patrick, Mark Dacascos, Scott Wolf, Kr...",[James Yukich],"(['actor', 'actor', 'actor', 'actress', 'actre...",1.468574
16282,tt1608290,movie,Zoolander 2,Zoolander 2,2016,101,"[Action, Adventure, Comedy]",4.7,77401,2010,...,2023,"[Scott Rudin Productions, Red Hour]",75378,Zoolander No. 2 (2016),FR,"[actor, actor, actress, actor, actor, actor, a...","[Ben Stiller, Owen Wilson, Penélope Cruz, Will...",[Ben Stiller],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.483785
11595,tt0424774,movie,The Adventures of Sharkboy and Lavagirl 3-D,The Adventures of Sharkboy and Lavagirl 3-D,2005,93,"[Action, Adventure, Comedy]",3.8,43456,2000,...,1310,[Troublemaker Studios],42146,Les aventures de Sharkboy et Lavagirl (2005),FR,"[actor, actor, actor, actor, actress, actor, a...","[Cayden Boyd, George Lopez, George Lopez, Geor...",[Robert Rodriguez],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.486408
5739,tt0092534,movie,Allan Quatermain and the Lost City of Gold,Allan Quatermain and the Lost City of Gold,1986,99,"[Action, Adventure, Comedy]",4.6,10686,1980,...,214,"[Cannon Group, Golan-Globus Productions]",10472,Allan Quatermain et la Cité de l'or perdu (1986),FR,"[actor, actress, actor, actor, actor, actor, a...","[Richard Chamberlain, Sharon Stone, James Earl...",[Gary Nelson],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.490427
15889,tt1517489,movie,The Survival of Humanity,Spy Kids 4: All the Time in the World,2011,89,"[Action, Adventure, Comedy]",3.6,29008,2010,...,867,[Dimension Films],28141,Spy Kids 4: Tout le temps du monde (2011),FR,"[actress, actor, actor, actor, actor, actress,...","[Jessica Alba, Jeremy Piven, Jeremy Piven, Jer...",[Robert Rodriguez],"(['actress', 'actor', 'actor', 'actor', 'actor...",1.492876
20105,tt4831420,tvMovie,Sharknado 4: The 4th Awakens,Sharknado 4: The 4th Awakens,2016,95,"[Action, Adventure, Comedy]",3.9,9265,2010,...,336,"[The Asylum, Syfy]",8929,Sharknado 4 : Le 4ᵉ réveil (2016),FR,"[actor, actress, actress, actor, actress, actr...","[Ian Ziering, Tara Reid, Masiela Lusha, Cody L...",[Anthony C. Ferrante],"(['actor', 'actress', 'actress', 'actor', 'act...",1.497433
11147,tt0383060,movie,Zoom,Zoom,2006,83,"[Action, Adventure, Comedy]",4.4,23135,2000,...,545,"[Revolution Studios, Team Todd, Boxing Cat Fil...",22590,Zoom : L'Académie des super-héros (2006),FR,"[actor, actor, actress, actor, actor, actor, a...","[Tim Allen, Tim Allen, Courteney Cox, Chevy Ch...",[Peter Hewitt],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.504054
21073,tt6298780,tvMovie,Sharknado 5: Global Swarming,Sharknado 5: Global Swarming,2017,93,"[Action, Adventure, Comedy]",3.9,7128,2010,...,288,"[Syfy, The Asylum]",6840,Sharknado 5: Global Swarming (2017),FR,"[actor, actress, actress, actor, actress, actr...","[Ian Ziering, Tara Reid, Cassandra Scerbo, Bil...",[Anthony C. Ferrante],"(['actor', 'actress', 'actress', 'actor', 'act...",1.515456

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Bienvenue chez les Ch'tis (2008),0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.409016,0.088905,0.152759,0.792964,0.747841,0.891173

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
13521,tt1064932,movie,Welcome to the Sticks,Bienvenue chez les Ch'tis,2008,106,"[Comedy, Romance]",7.1,45681,2000,...,2227,"[TF1 Films Production, Pathé Renn Productions,...",43454,Bienvenue chez les Ch'tis (2008),FR,"[actor, actor, actress, actor, actress, actor,...","[Kad Merad, Dany Boon, Zoé Félix, Lorenzo Ausi...",[Dany Boon],"(['actor', 'actor', 'actress', 'actor', 'actre...",0.000000
12214,tt0482088,movie,Priceless,Hors de prix,2006,106,"[Comedy, Romance]",7.0,33409,2000,...,665,"[France 2 Cinéma, France 3 Cinéma, Atlan Films...",32744,Hors de prix (2006),FR,"[actress, actor, actress, actor, actor, actres...","[Audrey Tautou, Gad Elmaleh, Marie-Christine A...",[Pierre Salvadori],"(['actress', 'actor', 'actress', 'actor', 'act...",1.444222
20629,tt5657028,movie,Alibi.com,Alibi.com,2016,89,"[Comedy, Romance]",6.5,10353,2010,...,1521,"[Fechner Films, TF1 Droits Audiovisuels, Studi...",8832,Alibi.com (2016),FR,"[actor, actress, actor, actor, actor, actor, a...","[Philippe Lacheau, Élodie Fontan, Julien Arrut...",[Philippe Lacheau],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.486002
19842,tt4466936,movie,Blind Date,"Un peu, beaucoup, aveuglément!",2015,90,"[Comedy, Romance]",6.6,7222,2010,...,511,[Cine Nominé],6711,"Un peu, beaucoup, aveuglément (2015)",FR,"[actress, actor, actress, actor, actor, actor,...","[Mélanie Bernier, Clovis Cornillac, Lilou Fogl...",[Clovis Cornillac],"(['actress', 'actor', 'actress', 'actor', 'act...",1.513745
17709,tt2186812,movie,It Boy,20 ans d'écart,2013,92,"[Comedy, Romance]",6.3,12150,2010,...,1153,"[TF1, Echo Films, EuropaCorp, Ciné+, Canal+, T...",10997,20 ans d'écart (2013),FR,"[actress, actor, actor, actor, actress, actres...","[Virginie Efira, Pierre Niney, Charles Berling...",[David Moreau],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.527210
20019,tt4699388,movie,Up for Love,Un homme à la hauteur,2016,98,"[Comedy, Romance]",6.3,9414,2010,...,736,"[Creative Andina, VVZ Productions, Gaumont]",8678,Un homme à la hauteur (2016),FR,"[actor, actress, actor, actress, actor, actres...","[Jean Dujardin, Virginie Efira, Cédric Kahn, S...",[Laurent Tirard],"(['actor', 'actress', 'actor', 'actress', 'act...",1.553822
2940,tt0063005,movie,The Gendarme Gets Married,Le gendarme se marie,1968,92,"[Comedy, Romance]",6.8,8838,1960,...,491,"[Société Nouvelle de Cinématographie, Medusa P...",8347,Le Gendarme se marie (1968),FR,"[actor, actor, actress, actor, actor, actor, a...","[Louis de Funès, Jean Lefebvre, Geneviève Grad...",[Jean Girault],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.564299
12180,tt0478724,movie,I Do: How to Get Married and Stay Single,Prête-moi ta main,2006,90,"[Comedy, Romance]",6.7,6662,2000,...,273,"[Chez Wam, StudioCanal, Script Associés, TF1 F...",6389,L'amour est un bouquet de violettes (2006),FR,"[actor, actress, actress, actor, actor, actres...","[Alain Chabat, Charlotte Gainsbourg, Bernadett...",[Éric Lartigau],"(['actor', 'actress', 'actress', 'actor', 'act...",1.566423
14356,tt1194616,movie,LOL (Laughing Out Loud),LOL (Laughing Out Loud) ®,2008,103,"[Comedy, Romance]",6.2,9775,2000,...,1204,"[Poisson Rouge Pictures, Pathé, Bethsabée Much...",8571,Lol (2008),FR,"[actress, actress, actor, actress, actress, ac...","[Sophie Marceau, Christa Théret, Jérémy Kapone...",[Lisa Azuelos],"(['actress', 'actress', 'actor', 'actress', 'a...",1.569105
4242,tt0077276,movie,French Fried Vacation,Les bronzés,1978,105,"[Comedy, Romance]",6.7,7911,1970,...,786,"[CCFC, Trinacra Films]",7125,Les Bronzés (1978),FR,"[actress, actor, actress, actor, actor, actor,...","[Josiane Balasko, Luis Rego, Marie-Anne Chazel...",[Patrice Leconte],"(['actress', 'actor', 'actress', 'actor', 'act...",1.585953
17058,tt1872880,movie,Happiness Never Comes Alone,Un bonheur n'arrive jamais seul,2012,110,"[Comedy, Romance]",6.5,5623,2010,...,395,"[Pathé, Eskwad]",5228,Un bonheur n'arrive jamais seul (2012),FR,"[actor, actress, actor, actor, actor, actress,...","[Gad Elmaleh, Sophie Marceau, Maurice Barthélé...",[James Huth],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.587208

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Scream (2022),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-0.05494,0.350094,0.184315,0.891575,0.894048,0.891741

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
13898,tt11245972,movie,Scream,Scream,2022,114,"[Horror, Mystery, Thriller]",6.3,166869,2020,...,2391,"[Paramount, Project X Entertainment, Radio Sil...",164478,Scream (2022),FR,"[actress, actress, actor, actress, actor, actr...","[Neve Campbell, Courteney Cox, David Arquette,...","[Matt Bettinelli-Olpin, Tyler Gillett]","(['actress', 'actress', 'actor', 'actress', 'a...",0.000000
16790,tt17663992,movie,Scream VI,Scream VI,2023,122,"[Horror, Mystery, Thriller]",6.4,129165,2020,...,1030,"[Radio Silence, Project X Entertainment, Spygl...",128135,Scream VI (2023),FR,"[actress, actress, actress, actress, actor, ac...","[Courteney Cox, Melissa Barrera, Jenna Ortega,...","[Matt Bettinelli-Olpin, Tyler Gillett]","(['actress', 'actress', 'actress', 'actress', ...",0.306647
16050,tt15474916,movie,Smile,Smile,2022,115,"[Horror, Mystery, Thriller]",6.5,191993,2020,...,1983,"[Paramount Players, Temple Hill Entertainment,...",190010,Smile (2022),FR,"[actress, actor, actor, actress, actress, acto...","[Sosie Bacon, Jessie T. Usher, Kyle Gallner, R...",[Parker Finn],"(['actress', 'actor', 'actor', 'actress', 'act...",1.735984
15187,tt13560574,movie,X,X,2022,105,"[Horror, Mystery, Thriller]",6.5,195658,2020,...,1918,"[A24, Little Lamb Productions]",193740,X (2022),FR,"[actress, actress, actress, actress, actor, ac...","[Mia Goth, Mia Goth, Jenna Ortega, Brittany Sn...",[Ti West],"(['actress', 'actress', 'actress', 'actress', ...",1.736076
20318,tt5140878,movie,Annabelle: Creation,Annabelle: Creation,2017,109,"[Horror, Mystery, Thriller]",6.5,155339,2010,...,5102,"[Atomic Monster, New Line Cinema, The Safran C...",150237,Annabelle 2 : La Création du mal (2017),FR,"[actor, actress, actress, actor, actress, actr...","[Anthony LaPaglia, Samara Lee, Miranda Otto, B...",[David F. Sandberg],"(['actor', 'actress', 'actress', 'actor', 'act...",1.742174
17783,tt2226417,movie,Insidious: Chapter 2,Insidious: Chapter 2,2013,106,"[Horror, Mystery, Thriller]",6.6,192641,2010,...,3724,"[FilmDistrict, Blumhouse Productions, Stage 6 ...",188917,Insidious : Chapitre 2 (2013),FR,"[actor, actress, actress, actress, actor, acto...","[Patrick Wilson, Rose Byrne, Barbara Hershey, ...",[James Wan],"(['actor', 'actress', 'actress', 'actress', 'a...",1.746030
18120,tt2388715,movie,Oculus,Oculus,2013,104,"[Horror, Mystery, Thriller]",6.5,142642,2010,...,2642,"[MICA Entertainment, Intrepid Pictures, Blumho...",140000,The Mirror (2013),FR,"[actress, actor, actress, actor, actress, acto...","[Karen Gillan, Brenton Thwaites, Katee Sackhof...",[Mike Flanagan],"(['actress', 'actor', 'actress', 'actor', 'act...",1.748764
19184,tt3567288,movie,The Visit,The Visit,2015,94,"[Horror, Mystery, Thriller]",6.3,159035,2010,...,4218,"[Blumhouse Productions, Blinding Edge Pictures]",154817,The Visit (2015),FR,"[actress, actor, actress, actor, actress, actr...","[Olivia DeJonge, Ed Oxenbould, Deanna Dunagan,...",[M. Night Shyamalan],"(['actress', 'actor', 'actress', 'actor', 'act...",1.749485
19026,tt3387648,movie,The Taking of Deborah Logan,The Taking,2014,90,"[Horror, Mystery, Thriller]",6.0,42993,2010,...,997,"[Guerin-Adler-Scott Pictures, Bad Hat Harry Pr...",41996,L'Etrange cas Deborah Logan (2014),FR,"[actress, actress, actress, actor, actor, acto...","[Jill Larson, Anne Ramsay, Michelle Ang, Brett...",[Adam Robitel],"(['actress', 'actress', 'actress', 'actor', 'a...",1.756975
22114,tt8350360,movie,Annabelle Comes Home,Annabelle Comes Home,2019,106,"[Horror, Mystery, Thriller]",5.9,90404,2010,...,3056,"[Atomic Monster, The Safran Company, New Line ...",87348,Annabelle : La Maison du mal (2019),FR,"[actress, actor, actress, actress, actress, ac...","[Vera Farmiga, Patrick Wilson, Mckenna Grace, ...",[Gary Dauberman],"(['actress', 'actor', 'actress', 'actress', 'a...",1.758478
12286,tt0489270,movie,Saw III,Saw III,2006,108,"[Horror, Mystery, Thriller]",6.2,217282,2000,...,3855,"[Twisted Pictures, Evolution Entertainment, Li...",213427,Saw 3 (2006),FR,"[actor, actor, actress, actor, actress, actor,...","[Tobin Bell, Tobin Bell, Shawnee Smith, Angus ...",[Darren Lynn Bousman],"(['actor', 'actor', 'actress', 'actor', 'actre...",1.761157

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Intouchables (2011),0.0,0.0,0.0,0.0,1.6,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.220939,0.219499,0.929999,0.922226,0.889557,0.937794

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
16521,tt1675434,movie,The Intouchables,Intouchables,2011,112,"[Comedy, Drama]",8.5,951050,2010,...,15680,"[Gaumont, CinéCinéma, Quad Productions, Chaoco...",935370,Intouchables (2011),FR,"[actor, actor, actress, actress, actress, actr...","[François Cluzet, Omar Sy, Anne Le Ny, Audrey ...","[Olivier Nakache, Éric Toledano]","(['actor', 'actor', 'actress', 'actress', 'act...",8.429370e-08
22257,tt8655470,movie,The Specials,Hors normes,2019,114,"[Comedy, Drama]",7.4,11618,2010,...,775,"[Quad & Ten Cinema, Gaumont, TF1 Films Product...",10843,Hors normes (2019),FR,"[actor, actor, actress, actor, actor, actor, a...","[Vincent Cassel, Reda Kateb, Hélène Vincent, B...","[Olivier Nakache, Éric Toledano]","(['actor', 'actor', 'actress', 'actor', 'actor...",8.456536e-01
5623,tt0091288,movie,Jean de Florette,Jean de Florette,1986,120,"[Comedy, Drama]",8.1,27983,1980,...,467,"[DD Productions, Films A2, Renn Productions, A...",27516,Jean de Florette (1986),FR,"[actor, actor, actor, actress, actress, actres...","[Yves Montand, Gérard Depardieu, Daniel Auteui...",[Claude Berri],"(['actor', 'actor', 'actor', 'actress', 'actre...",1.855203e+00
15573,tt1440232,movie,Little White Lies,Les petits mouchoirs,2010,154,"[Comedy, Drama]",7.1,27380,2010,...,1409,"[Les Productions du Trésor, M6 Films, EuropaCorp]",25971,Les Petits Mouchoirs (2010),FR,"[actor, actress, actor, actor, actor, actor, a...","[François Cluzet, Marion Cotillard, Benoît Mag...",[Guillaume Canet],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.010054e+00
20660,tt5699154,movie,C'est la vie!,Le sens de la fête,2017,117,"[Comedy, Drama, Romance]",6.9,12384,2010,...,1315,"[Gaumont, Quad Films]",11069,Le sens de la fête (2017),FR,"[actor, actor, actor, actor, actress, actress,...","[Jean-Pierre Bacri, Jean-Paul Rouve, Gilles Le...","[Olivier Nakache, Éric Toledano]","(['actor', 'actor', 'actor', 'actor', 'actress...",2.021160e+00
10589,tt0329388,movie,Monsieur Ibrahim,Monsieur Ibrahim et les fleurs du Coran,2003,95,"[Comedy, Drama]",7.3,11716,2000,...,125,"[ARP Sélection, France 5]",11591,Monsieur Ibrahim et les fleurs du Coran (2003),FR,"[actor, actor, actor, actress, actress, actres...","[Omar Sharif, Pierre Boulanger, Gilbert Melki,...",[François Dupeyron],"(['actor', 'actor', 'actor', 'actress', 'actre...",2.088930e+00
8167,tt0118015,movie,Family Resemblances,Un air de famille,1996,110,"[Comedy, Drama]",7.4,5615,1990,...,242,"[Téléma Productions, Le Studio Canal+, France ...",5373,Un air de famille (1996),FR,"[actor, actor, actress, actress, actress, acto...","[Jean-Pierre Bacri, Jean-Pierre Darroussin, Ca...",[Cédric Klapisch],"(['actor', 'actor', 'actress', 'actress', 'act...",2.101926e+00
8125,tt0117589,movie,Secrets & Lies,Secrets & Lies,1996,136,"[Comedy, Drama]",8.0,48281,1990,...,517,"[Channel Four Films, Thin Man Films, CiBy 2000]",47764,Secrets et Mensonges (1996),FR,"[actor, actress, actress, actress, actress, ac...","[Timothy Spall, Brenda Blethyn, Phyllis Logan,...",[Mike Leigh],"(['actor', 'actress', 'actress', 'actress', 'a...",2.106090e+00
513,tt0031885,movie,The Rules of the Game,La règle du jeu,1939,110,"[Comedy, Drama]",7.9,31853,1930,...,478,[La Nouvelle Edition Francaise],31375,La règle du jeu (1939),FR,"[actor, actress, actress, actress, actress, ac...","[Marcel Dalio, Nora Gregor, Paulette Dubost, M...",[Jean Renoir],"(['actor', 'actress', 'actress', 'actress', 'a...",2.123214e+00
2038,tt0053779,movie,La Dolce Vita,La dolce vita,1960,174,"[Comedy, Drama]",8.0,79653,1960,...,1630,"[Cinecittà, Pathé Consortium Cinéma, Riama Film]",78023,La douceur de vivre (1960),FR,"[actor, actress, actress, actress, actress, ac...","[Marcello Mastroianni, Anita Ekberg, Anouk Aim...",[Federico Fellini],"(['actor', 'actress', 'actress', 'actress', 'a...",2.128548e+00
3993,tt0074152,movie,Small Change,L'argent de poche,1976,104,"[Comedy, Drama]",7.6,6518,1970,...,117,"[Les Productions Artistes Associés, Les Films ...",6401,L'argent de poche (1976),FR,"[actor, actor, actress, actress, actor, actres...","[Georges Desmouceaux, Philippe Goldmann, Nicol...",[François Truffaut],"(['actor', 'actor', 'actress', 'actress', 'act...",2.140675e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Un indien dans la ville (1994),0.0,1.6,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,-0.402907,-0.04169,-0.188042,0.339638,0.345066,0.740502

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
7605,tt0111543,movie,"Little Indian, Big City",Un indien dans la ville,1994,90,"[Adventure, Comedy, Romance]",5.7,4760,1990,...,528,"[Ice Films, PROCIREP, Touchstone Pictures, Can...",4232,Un indien dans la ville (1994),FR,"[actor, actor, actor, actress, actress, actor,...","[Thierry Lhermitte, Ludwig Briand, Patrick Tim...",[Hervé Palud],"(['actor', 'actor', 'actor', 'actress', 'actre...",0.000000
10352,tt0305568,movie,Fanfan,Fanfan la Tulipe,2003,97,"[Adventure, Comedy, Romance]",5.7,5639,2000,...,198,"[EuropaCorp, Open Art, CNC, Canal+, TF1 Films ...",5441,Fanfan la Tulipe (2003),FR,"[actor, actress, actor, actress, actor, actor,...","[Vincent Perez, Penélope Cruz, Didier Bourdon,...",[Gérard Krawczyk],"(['actor', 'actress', 'actor', 'actress', 'act...",1.461256
17292,tt1986843,movie,A Perfect Plan,Un plan parfait,2012,104,"[Adventure, Comedy, Romance]",6.3,10054,2010,...,558,"[Quad Productions, TF1 Films Production]",9496,Un plan parfait (2012),FR,"[actress, actor, actress, actor, actor, actres...","[Diane Kruger, Dany Boon, Alice Pol, Robert Pl...",[Pascal Chaumeil],"(['actress', 'actor', 'actress', 'actor', 'act...",1.503750
18885,tt3204144,movie,Love at First Fight,Les combattants,2014,98,"[Adventure, Comedy, Romance]",6.6,6328,2010,...,399,"[Appaloosa Films, Nord-Ouest Productions]",5929,Les combattants (2014),FR,"[actress, actor, actor, actress, actor, actor,...","[Adèle Haenel, Kévin Azaïs, Antoine Laurent, B...",[Thomas Cailley],"(['actress', 'actor', 'actor', 'actress', 'act...",1.551415
13762,tt11013434,movie,"My Donkey, My Lover & I",Antoinette dans les Cévennes,2020,96,"[Adventure, Comedy, Romance]",6.5,4010,2020,...,278,"[Chapka Films, France 3 Cinéma, Belga Producti...",3732,Antoinette dans les Cévennes (2020),FR,"[actress, actor, actress, actor, actor, actres...","[Laure Calamy, Benjamin Lavernhe, Olivia Côte,...",[Caroline Vignal],"(['actress', 'actor', 'actress', 'actor', 'act...",1.871425
2657,tt0059956,movie,Viva Maria!,Viva Maria!,1965,119,"[Adventure, Comedy, Romance]",6.3,4075,1960,...,68,"[Nouvelles Éditions de Films (NEF), Les Produc...",4007,Viva Maria! (1965),FR,"[actress, actress, actor, actress, actor, acto...","[Brigitte Bardot, Jeanne Moreau, George Hamilt...",[Louis Malle],"(['actress', 'actress', 'actor', 'actress', 'a...",1.871670
11647,tt0428446,movie,The Darwin Awards,The Darwin Awards,2006,94,"[Adventure, Comedy, Romance]",5.9,10526,2000,...,142,"[3 Ring Circus Films, Blumhouse Productions]",10384,Darwin Awards (2006),FR,"[actor, actress, actor, actor, actor, actor, a...","[Joseph Fiennes, Winona Ryder, David Arquette,...",[Finn Taylor],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.053457
6183,tt0096378,movie,Vibes,Vibes,1988,99,"[Adventure, Comedy, Romance]",5.7,5330,1980,...,60,"[Imagine Entertainment, Columbia Pictures]",5270,Enquête en tête (1988),FR,"[actress, actor, actor, actor, actor, actor, a...","[Cyndi Lauper, Jeff Goldblum, Ramon Bieri, Mic...",[Ken Kwapis],"(['actress', 'actor', 'actor', 'actor', 'actor...",2.069265
1319,tt0044602,movie,Fanfan la Tulipe,Fanfan la Tulipe,1952,102,"[Adventure, Comedy, Romance]",7.2,3499,1950,...,86,"[Amato Produzione, Filmsonor, Les Films Ariane...",3413,Fanfan la Tulipe (1952),FR,"[actor, actress, actor, actor, actor, actor, a...","[Gérard Philipe, Gina Lollobrigida, Marcel Her...",[Christian-Jaque],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.087775
5996,tt0094744,movie,Big Top Pee-wee,Big Top Pee-wee,1988,86,"[Adventure, Comedy, Romance]",5.1,10321,1980,...,110,[Paramount],10211,Big Top Pee-wee (1988),FR,"[actor, actress, actor, actress, actor, actres...","[Paul Reubens, Penelope Ann Miller, Kris Krist...",[Randal Kleiser],"(['actor', 'actress', 'actor', 'actress', 'act...",2.125459
2430,tt0057919,movie,Carry on Jack,Carry on Jack,1964,91,"[Adventure, Comedy, Romance]",5.9,2645,1960,...,50,[Peter Rogers Productions],2595,Les Révoltés du Vénus (1964),FR,"[actor, actor, actor, actress, actor, actor, a...","[Kenneth Williams, Charles Hawtrey, Bernard Cr...",[Gerald Thomas],"(['actor', 'actor', 'actor', 'actress', 'actor...",2.125589

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Le Roi lion (1994),0.0,1.6,1.9,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.220939,-0.04169,0.921746,0.930778,0.890965,0.940615

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
7489,tt0110357,movie,The Lion King,The Lion King,1994,88,"[Adventure, Animation, Drama]",8.5,1169832,1990,...,16494,"[Walt Disney Pictures, Walt Disney Feature Ani...",1153338,Le Roi lion (1994),FR,"[actor, actor, actor, actress, actor, actress,...","[Matthew Broderick, Jeremy Irons, James Earl J...","[Roger Allers, Rob Minkoff]","(['actor', 'actor', 'actor', 'actress', 'actor...",0.000000
4940,tt0084649,movie,The Secret of NIMH,The Secret of NIMH,1982,82,"[Adventure, Animation, Drama]",7.5,46425,1980,...,688,"[United Artists, Aurora, Mrs. Brisby Ltd., Sul...",45737,Brisby et le secret de NIMH (1982),FR,"[actress, actor, actor, actor, actress, actres...","[Elizabeth Hartman, Derek Jacobi, Dom DeLuise,...",[Don Bluth],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.901990
6083,tt0095489,movie,The Land Before Time,The Land Before Time,1988,69,"[Adventure, Animation, Drama]",7.4,101038,1980,...,2275,"[Sullivan Bluth Studios, Lucasfilm Animation, ...",98763,Le petit dinosaure et la vallée des merveilles...,FR,"[actor, actor, actor, actress, actor, actress,...","[Pat Hingle, Pat Hingle, Gabriel Damon, Helen ...",[Don Bluth],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.936381
7645,tt0112453,movie,Balto,Balto,1995,78,"[Adventure, Animation, Drama]",7.1,48974,1990,...,1839,"[Amblin Entertainment, Amblimation, Universal ...",47135,"Balto chien-loup, héros des neiges (1995)",FR,"[actor, actor, actress, actor, actor, actor, a...","[Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim ...",[Simon Wells],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.976178
20937,tt6105098,movie,The Lion King,The Lion King,2019,118,"[Adventure, Animation, Drama]",6.8,272594,2010,...,9090,"[Walt Disney Pictures, Fairview Entertainment]",263504,Le Roi Lion (2019),FR,"[actor, actress, actor, actor, actor, actor, a...","[Donald Glover, Beyoncé, Seth Rogen, Chiwetel ...",[Jon Favreau],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.083874
15783,tt1488589,movie,Guillermo del Toro's Pinocchio,Guillermo del Toro's Pinocchio,2022,117,"[Adventure, Animation, Drama]",7.6,116899,2020,...,2239,"[The Jim Henson Company, ShadowMachine, Double...",114660,Guillermo del Toro's Pinocchio (2022),FR,"[actor, actor, actor, actor, actor, actor, act...","[Ewan McGregor, David Bradley, Gregory Mann, G...","[Guillermo del Toro, Mark Gustafson]","(['actor', 'actor', 'actor', 'actor', 'actor',...",2.104826
9131,tt0166813,movie,Spirit: Stallion of the Cimarron,Spirit: Stallion of the Cimarron,2002,83,"[Adventure, Animation, Drama]",7.2,87735,2000,...,4135,"[DreamWorks Animation, DreamWorks Pictures]",83600,Spirit: L'étalon des plaines (2002),FR,"[actor, actor, actor, actor, actor, actor, act...","[Matt Damon, James Cromwell, Daniel Studi, Cho...","[Kelly Asbury, Lorna Cook]","(['actor', 'actor', 'actor', 'actor', 'actor',...",2.159720
8208,tt0118617,movie,Anastasia,Anastasia,1997,94,"[Adventure, Animation, Drama]",7.1,138701,1990,...,4846,"[Fox Animation Studios, Fox Family Films, The ...",133855,Anastasia (1997),FR,"[actress, actor, actor, actor, actor, actress,...","[Meg Ryan, John Cusack, Christopher Lloyd, Kel...","[Don Bluth, Gary Goldman]","(['actress', 'actor', 'actor', 'actor', 'actor...",2.182003
18096,tt2380307,movie,Coco,Coco,2017,105,"[Adventure, Animation, Drama]",8.4,619120,2010,...,17159,"[Pixar, Walt Disney Pictures]",601961,Coco (2017),FR,"[actor, actor, actor, actress, actress, actor,...","[Anthony Gonzalez, Gael García Bernal, Benjami...","[Lee Unkrich, Adrian Molina]","(['actor', 'actor', 'actor', 'actress', 'actre...",2.252179
21921,tt7978758,movie,Apollo 10½: A Space Age Childhood,Apollo 10 1/2: A Space Age Adventure,2022,97,"[Adventure, Animation, Drama]",7.2,12398,2020,...,195,"[Detour Filmproduction, Submarine]",12203,Apollo 10 1/2: Les fusées de mon enfance (2022),FR,"[actor, actor, actress, actor, actress, actor,...","[Milo Coy, Jack Black, Lee Eddy, Bill Wise, Na...",[Richard Linklater],"(['actor', 'actor', 'actress', 'actor', 'actre...",2.306378
16143,tt1568921,movie,The Secret World of Arrietty,Karigurashi no Arietti,2010,94,"[Adventure, Animation, Drama]",7.6,107841,2010,...,2447,"[Studio Ghibli, Hakuhodo DY Media Partners, Mi...",105394,Arrietty : Le Petit Monde des Chapardeurs (2010),FR,"[actress, actress, actress, actress, actor, ac...","[Bridgit Mendler, Bridgit Mendler, Amy Poehler...",[Hiromasa Yonebayashi],"(['actress', 'actress', 'actress', 'actress', ...",2.331634

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Matrix (1999),1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1.336928,-0.04169,0.893589,0.967175,0.889862,0.963654

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8802,tt0133093,movie,The Matrix,The Matrix,1999,136,"[Action, Sci-Fi]",8.7,2101020,1990,...,23142,"[Village Roadshow Pictures, Groucho II Film Pa...",2077878,Matrix (1999),FR,"[actor, actor, actress, actor, actress, actor,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...",0.000000
9646,tt0234215,movie,The Matrix Reloaded,The Matrix Reloaded,2003,138,"[Action, Sci-Fi]",7.2,641493,2000,...,9813,"[Village Roadshow Pictures, Silver Pictures, N...",631680,Matrix Reloaded (2003),FR,"[actor, actor, actress, actor, actor, actress,...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actor...",1.048106
9717,tt0242653,movie,The Matrix Revolutions,The Matrix Revolutions,2003,129,"[Action, Sci-Fi]",6.7,552174,2000,...,8829,"[Village Roadshow Pictures, NPV Entertainment,...",543345,Matrix Revolutions (2003),FR,"[actor, actor, actress, actor, actress, actres...","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[Lana Wachowski, Lilly Wachowski]","(['actor', 'actor', 'actress', 'actor', 'actre...",1.376693
12728,tt0848228,movie,The Avengers,The Avengers,2012,143,"[Action, Sci-Fi]",8.0,1482318,2010,...,28541,[Marvel Studios],1453777,Avengers (2012),FR,"[actor, actor, actor, actor, actress, actress,...","[Robert Downey Jr., Robert Downey Jr., Chris E...",[Joss Whedon],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.814180
14724,tt1270798,movie,X-Men: First Class,X: First Class,2011,131,"[Action, Sci-Fi]",7.7,737300,2010,...,11705,"[The Donners' Company, Bad Hat Harry Productio...",725595,X-Men : Le Commencement (2011),FR,"[actor, actor, actress, actress, actor, actor,...","[James McAvoy, Michael Fassbender, Jennifer La...",[Matthew Vaughn],"(['actor', 'actor', 'actress', 'actress', 'act...",2.074349
19119,tt3498820,movie,Captain America: Civil War,Captain America: Civil War,2016,147,"[Action, Sci-Fi]",7.8,869362,2010,...,21061,[Marvel Studios],848301,Captain America: Civil War (2016),FR,"[actor, actor, actor, actor, actress, actress,...","[Chris Evans, Chris Evans, Robert Downey Jr., ...","[Anthony Russo, Joe Russo]","(['actor', 'actor', 'actor', 'actor', 'actress...",2.116485
14515,tt1228705,movie,Iron Man 2,Iron Man 2,2010,124,"[Action, Sci-Fi]",6.9,885144,2010,...,19239,[Marvel Studios],865905,Iron Man 2 (2010),FR,"[actor, actor, actress, actor, actress, actres...","[Robert Downey Jr., Mickey Rourke, Gwyneth Pal...",[Jon Favreau],"(['actor', 'actor', 'actress', 'actor', 'actre...",2.149960
15513,tt1430132,movie,The Wolverine,The Wolverine,2013,126,"[Action, Sci-Fi]",6.7,504361,2010,...,8748,"[The Donners' Company, 20th Century Fox]",495613,Wolverine : Le Combat de l'immortel (2013),FR,"[actor, actor, actress, actress, actor, actres...","[Hugh Jackman, Will Yun Lee, Tao Okamoto, Rila...",[James Mangold],"(['actor', 'actor', 'actress', 'actress', 'act...",2.309280
5543,tt0090605,movie,Aliens,Aliens,1986,137,"[Action, Adventure, Sci-Fi]",8.4,789663,1980,...,8423,"[Brandywine Productions, SLM Production Group,...",781240,"Aliens, le retour (1986)",FR,"[actress, actor, actress, actor, actor, actor,...","[Sigourney Weaver, Michael Biehn, Carrie Henn,...",[James Cameron],"(['actress', 'actor', 'actress', 'actor', 'act...",2.372980
7214,tt0107290,movie,Jurassic Park,Jurassic Park,1993,127,"[Action, Adventure, Sci-Fi]",8.2,1091672,1990,...,14678,"[Universal Pictures, Amblin Entertainment]",1076994,Jurassic Park (1993),FR,"[actor, actress, actor, actor, actor, actor, a...","[Sam Neill, Laura Dern, Jeff Goldblum, Richard...",[Steven Spielberg],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.379845
10993,tt0371746,movie,Iron Man,Iron Man,2008,126,"[Action, Adventure, Sci-Fi]",7.9,1148283,2000,...,24293,[Marvel Studios],1123990,Iron Man (2008),FR,"[actor, actress, actor, actor, actress, actor,...","[Robert Downey Jr., Gwyneth Paltrow, Terrence ...",[Jon Favreau],"(['actor', 'actress', 'actor', 'actor', 'actre...",2.422702

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Le Flic de Beverly Hills (1984),1.6,0.0,0.0,0.0,1.6,1.6,0.0,0.0,0.0,0.0,...,0,0,0,0,0.583,-0.172284,0.400835,0.893642,0.835626,0.89564

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
5158,tt0086960,movie,Beverly Hills Cop,Beverly Hills Cop,1984,105,"[Action, Comedy, Crime]",7.4,219742,1980,...,3516,"[Paramount, Eddie Murphy Productions, Don Simp...",216226,Le Flic de Beverly Hills (1984),FR,"[actor, actor, actor, actress, actor, actor, a...","[Eddie Murphy, Judge Reinhold, John Ashton, Li...",[Martin Brest],"(['actor', 'actor', 'actor', 'actress', 'actor...",0.000000
6096,tt0095631,movie,Midnight Run,Midnight Run,1988,126,"[Action, Comedy, Crime]",7.5,97014,1980,...,906,"[City Light Films, Universal Pictures]",96108,Midnight Run (1988),FR,"[actor, actor, actor, actor, actor, actor, act...","[Robert De Niro, Charles Grodin, Yaphet Kotto,...",[Martin Brest],"(['actor', 'actor', 'actor', 'actor', 'actor',...",0.139706
8639,tt0120812,movie,Rush Hour,Rush Hour,1998,98,"[Action, Comedy, Crime]",7.0,302592,1990,...,4165,"[Roger Birnbaum Productions, New Line Cinema, ...",298427,Rush Hour (1998),FR,"[actor, actor, actor, actor, actor, actor, act...","[Jackie Chan, Chris Tucker, Ken Leung, Tom Wil...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.442885
6753,tt0102266,movie,The Last Boy Scout,The Last Boy Scout,1991,105,"[Action, Comedy, Crime]",7.0,114292,1990,...,1600,"[Geffen Pictures, Silver Pictures, Warner Bros...",112692,Le Dernier Samaritain (1991),FR,"[actor, actor, actress, actor, actor, actress,...","[Bruce Willis, Damon Wayans, Chelsea Field, No...",[Tony Scott],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.454016
7504,tt0110475,movie,The Mask,The Mask,1994,101,"[Action, Comedy, Crime]",6.9,433420,1990,...,9089,"[Dark Horse Entertainment, New Line Cinema]",424331,The Mask (1994),FR,"[actor, actor, actress, actor, actor, actress,...","[Jim Carrey, Jim Carrey, Cameron Diaz, Peter R...",[Chuck Russell],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.456116
8321,tt0119229,movie,Grosse Pointe Blank,Grosse Pointe Blank,1997,107,"[Action, Comedy, Crime]",7.3,101226,1990,...,755,"[Caravan Pictures, Roger Birnbaum Productions,...",100471,Tueurs à gages (1997),FR,"[actor, actress, actor, actress, actor, actor,...","[John Cusack, Minnie Driver, Dan Aykroyd, Joan...",[George Armitage],"(['actor', 'actress', 'actor', 'actress', 'act...",1.457837
4832,tt0083511,movie,48 Hrs.,48 Hrs.,1982,96,"[Action, Comedy, Crime]",6.9,87562,1980,...,1253,[Paramount],86309,48 Heures (1982),FR,"[actor, actor, actress, actor, actor, actor, a...","[Nick Nolte, Eddie Murphy, Annette O'Toole, Fr...",[Walter Hill],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.466005
19382,tt3799694,movie,The Nice Guys,The Nice Guys,2016,116,"[Action, Comedy, Crime]",7.4,383703,2010,...,6995,"[Silver Pictures, Waypoint Entertainment, Bloo...",376708,The Nice Guys (2016),FR,"[actor, actor, actress, actor, actress, actres...","[Russell Crowe, Ryan Gosling, Angourie Rice, M...",[Shane Black],"(['actor', 'actor', 'actress', 'actor', 'actre...",1.468167
7641,tt0112442,movie,Bad Boys,Bad Boys,1995,119,"[Action, Comedy, Crime]",6.8,299326,1990,...,5592,"[Columbia Pictures, Don Simpson/Jerry Bruckhei...",293734,Bad Boys : Flics de choc (1995),FR,"[actor, actor, actress, actor, actor, actor, a...","[Will Smith, Martin Lawrence, Lisa Boyle, Mich...",[Michael Bay],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.476126
3841,tt0072288,movie,Thunderbolt and Lightfoot,Thunderbolt and Lightfoot,1974,115,"[Action, Comedy, Crime]",7.0,29469,1970,...,430,"[Malpaso Productions, United Artists]",29039,Le Canardeur (1974),FR,"[actor, actor, actor, actor, actress, actor, a...","[Clint Eastwood, Jeff Bridges, George Kennedy,...",[Michael Cimino],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.482905
12882,tt0910936,movie,Pineapple Express,Pineapple Express,2008,111,"[Action, Comedy, Crime]",6.9,361599,2000,...,3348,"[Columbia Pictures, Apatow Productions, Relati...",358251,Délire Express (2008),FR,"[actor, actor, actor, actor, actor, actor, act...","[Seth Rogen, James Franco, Gary Cole, Danny Mc...",[David Gordon Green],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.492814

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Rush Hour (1998),1.6,0.0,0.0,0.0,1.6,1.6,0.0,0.0,0.0,0.0,...,0,0,0,0,0.351022,-0.04169,0.310537,0.89688,0.889289,0.897889

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8639,tt0120812,movie,Rush Hour,Rush Hour,1998,98,"[Action, Comedy, Crime]",7.0,302592,1990,...,4165,"[Roger Birnbaum Productions, New Line Cinema, ...",298427,Rush Hour (1998),FR,"[actor, actor, actor, actor, actor, actor, act...","[Jackie Chan, Chris Tucker, Ken Leung, Tom Wil...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",5.960464e-08
9968,tt0266915,movie,Rush Hour 2,Rush Hour 2,2001,90,"[Action, Comedy, Crime]",6.7,244439,2000,...,3526,"[New Line Cinema, Roger Birnbaum Productions]",240913,Rush Hour 2 (2001),FR,"[actor, actor, actor, actress, actress, actor,...","[Jackie Chan, Chris Tucker, John Lone, Ziyi Zh...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actress', 'actre...",2.620847e-01
10249,tt0293564,movie,Rush Hour 3,Rush Hour 3,2007,91,"[Action, Comedy, Crime]",6.2,187220,2000,...,2778,"[New Line Cinema, Roger Birnbaum Productions, ...",184442,Rush Hour 3 (2007),FR,"[actor, actor, actor, actor, actor, actress, a...","[Jackie Chan, Chris Tucker, Max von Sydow, Hir...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",5.580001e-01
10942,tt0367479,movie,After the Sunset,After the Sunset,2004,97,"[Action, Comedy, Crime]",6.2,50367,2000,...,664,"[New Line Cinema, Contrafilm, Firm Films, Rat ...",49703,Coup d'éclat (2004),FR,"[actor, actress, actor, actor, actress, actor,...","[Pierce Brosnan, Salma Hayek, Woody Harrelson,...",[Brett Ratner],"(['actor', 'actress', 'actor', 'actor', 'actre...",6.526968e-01
12104,tt0471042,movie,Tower Heist,Tower Heist,2011,104,"[Action, Comedy, Crime]",6.2,152741,2010,...,2636,"[Universal Pictures, Image Entertainment, Rela...",150105,Le Casse de Central Park (2011),FR,"[actor, actor, actor, actor, actor, actor, act...","[Eddie Murphy, Ben Stiller, Casey Affleck, Ala...",[Brett Ratner],"(['actor', 'actor', 'actor', 'actor', 'actor',...",7.012752e-01
8394,tt0119695,movie,Money Talks,Money Talks,1997,97,"[Action, Comedy, Crime]",6.2,31730,1990,...,312,"[New Line Cinema, Juno Pix]",31418,Argent comptant (1997),FR,"[actor, actor, actress, actress, actor, actor,...","[Charlie Sheen, Chris Tucker, Heather Locklear...",[Brett Ratner],"(['actor', 'actor', 'actress', 'actress', 'act...",7.783922e-01
7504,tt0110475,movie,The Mask,The Mask,1994,101,"[Action, Comedy, Crime]",6.9,433420,1990,...,9089,"[Dark Horse Entertainment, New Line Cinema]",424331,The Mask (1994),FR,"[actor, actor, actress, actor, actor, actress,...","[Jim Carrey, Jim Carrey, Cameron Diaz, Peter R...",[Chuck Russell],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.415958e+00
6753,tt0102266,movie,The Last Boy Scout,The Last Boy Scout,1991,105,"[Action, Comedy, Crime]",7.0,114292,1990,...,1600,"[Geffen Pictures, Silver Pictures, Warner Bros...",112692,Le Dernier Samaritain (1991),FR,"[actor, actor, actress, actor, actor, actress,...","[Bruce Willis, Damon Wayans, Chelsea Field, No...",[Tony Scott],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.418586e+00
7641,tt0112442,movie,Bad Boys,Bad Boys,1995,119,"[Action, Comedy, Crime]",6.8,299326,1990,...,5592,"[Columbia Pictures, Don Simpson/Jerry Bruckhei...",293734,Bad Boys : Flics de choc (1995),FR,"[actor, actor, actress, actor, actor, actor, a...","[Will Smith, Martin Lawrence, Lisa Boyle, Mich...",[Michael Bay],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.422804e+00
4832,tt0083511,movie,48 Hrs.,48 Hrs.,1982,96,"[Action, Comedy, Crime]",6.9,87562,1980,...,1253,[Paramount],86309,48 Heures (1982),FR,"[actor, actor, actress, actor, actor, actor, a...","[Nick Nolte, Eddie Murphy, Annette O'Toole, Fr...",[Walter Hill],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.432659e+00
12882,tt0910936,movie,Pineapple Express,Pineapple Express,2008,111,"[Action, Comedy, Crime]",6.9,361599,2000,...,3348,"[Columbia Pictures, Apatow Productions, Relati...",358251,Délire Express (2008),FR,"[actor, actor, actor, actor, actor, actor, act...","[Seth Rogen, James Franco, Gary Cole, Danny Mc...",[David Gordon Green],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.436661e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Resident Evil (2002),1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.119044,0.088905,0.119261,0.896558,0.86685,0.902952

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
8638,tt0120804,movie,Resident Evil,Resident Evil,2002,100,"[Action, Horror, Sci-Fi]",6.6,294342,2000,...,5626,"[Impact Pictures, Davis Films, New Legacy Film...",288716,Resident Evil (2002),FR,"[actress, actress, actor, actor, actress, actr...","[Milla Jovovich, Michelle Rodriguez, Ryan McCl...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actor', 'act...",0.000000
18379,tt2592614,movie,Resident Evil: The Final Chapter,Resident Evil: The Final Chapter,2016,107,"[Action, Horror, Sci-Fi]",5.5,102952,2010,...,2773,"[Screen Gems, Constantin Film, Impact Pictures...",100179,Resident Evil : Chapitre final (2016),FR,"[actress, actress, actor, actress, actor, acto...","[Milla Jovovich, Milla Jovovich, Iain Glen, Al...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actress', 'a...",1.780736
14468,tt1220634,movie,Resident Evil: Afterlife,Resident Evil: Afterlife,2010,96,"[Action, Horror, Sci-Fi]",5.8,181395,2010,...,3425,"[Screen Gems, Constantin Film, Davis Films/Imp...",177970,Resident Evil: Afterlife (2010),FR,"[actress, actress, actor, actor, actor, actor,...","[Milla Jovovich, Ali Larter, Wentworth Miller,...",[Paul W.S. Anderson],"(['actress', 'actress', 'actor', 'actor', 'act...",2.003564
17018,tt1855325,movie,Resident Evil: Retribution,Resident Evil: Retribution,2012,95,"[Action, Horror, Sci-Fi]",5.3,152385,2010,...,3570,"[Davis Films/Impact Pictures, Constantin Film,...",148815,Resident Evil: Retribution (2012),FR,"[actress, actress, actress, actress, actress, ...","[Milla Jovovich, Sienna Guillory, Michelle Rod...",[Paul W.S. Anderson],"(['actress', 'actress', 'actress', 'actress', ...",2.051528
11689,tt0432021,movie,Resident Evil: Extinction,Resident Evil: Extinction,2007,94,"[Action, Horror, Sci-Fi]",6.2,208226,2000,...,3672,"[Screen Gems, Impact Pictures, Davis Films, Co...",204554,Resident Evil: Extinction (2007),FR,"[actress, actress, actor, actor, actress, acto...","[Milla Jovovich, Ali Larter, Oded Fehr, Iain G...",[Russell Mulcahy],"(['actress', 'actress', 'actor', 'actor', 'act...",2.073671
21421,tt6920084,movie,Resident Evil: Welcome to Raccoon City,Resident Evil: Welcome to Raccoon City,2021,107,"[Action, Horror, Sci-Fi]",5.2,66376,2020,...,2045,"[Constantin Film, Davis Films, Screen Gems, CA...",64331,Resident Evil : Bienvenue à Raccoon City (2021),FR,"[actress, actor, actress, actor, actor, actor,...","[Kaya Scodelario, Robbie Amell, Hannah John-Ka...",[Johannes Roberts],"(['actress', 'actor', 'actress', 'actor', 'act...",2.190993
10485,tt0318627,movie,Resident Evil: Apocalypse,Resident Evil: Apocalypse,2004,94,"[Action, Horror, Sci-Fi]",6.1,213005,2000,...,3822,"[Davis Films/Impact Pictures, Screen Gems, Con...",209183,Resident Evil: Apocalypse (2004),FR,"[actress, actress, archive_footage, actor, act...","[Milla Jovovich, Sienna Guillory, Eric Mabius,...",[Alexander Witt],"(['actress', 'actress', 'archive_footage', 'ac...",2.258720
12839,tt0892899,movie,Outpost,Outpost,2008,90,"[Action, Horror, Sci-Fi]",5.8,18058,2000,...,206,"[Black Camel Pictures, Regent Capital]",17852,Outpost (2008),FR,"[actor, actor, actor, actor, actor, actor, act...","[Ray Stevenson, Julian Wadham, Richard Brake, ...",[Steve Barker],"(['actor', 'actor', 'actor', 'actor', 'actor',...",2.371383
18439,tt2667380,movie,Kill Command,Kill Command,2016,99,"[Action, Horror, Sci-Fi]",5.7,15247,2010,...,508,"[Bandito, Vertigo Films]",14739,Identify (2016),FR,"[actor, actress, actor, actor, actor, actor, a...","[Thure Lindhardt, Vanessa Kirby, David Ajala, ...",[Steven Gomez],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.380640
14136,tt1160996,movie,The Colony,The Colony,2013,95,"[Action, Horror, Sci-Fi]",5.3,47677,2010,...,1020,"[RLJ Entertainment, Alcina Pictures, 120dB Fil...",46657,The Colony (2013),FR,"[actor, actor, actor, actress, actor, actor, a...","[Kevin Zegers, Laurence Fishburne, Bill Paxton...",[Jeff Renfroe],"(['actor', 'actor', 'actor', 'actress', 'actor...",2.440648
19879,tt4530422,movie,Overlord,Overlord,2018,110,"[Action, Horror, Sci-Fi]",6.6,109090,2010,...,2536,"[Bad Robot, Paramount]",106554,Overlord (2018),FR,"[actor, actor, actress, actor, actor, actor, a...","[Jovan Adepo, Wyatt Russell, Mathilde Ollivier...",[Julius Avery],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.453462

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Harry Potter à l'école des sorciers (2001),0.0,1.6,0.0,0.0,0.0,0.0,0.0,0.0,1.9,1.9,...,0,0,0,0,0.698989,0.088905,0.75523,0.919363,0.892352,0.969074

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
9706,tt0241527,movie,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone,2001,152,"[Adventure, Family, Fantasy]",7.6,877801,2000,...,24706,"[Warner Bros. Pictures, Heyday Films, 1492 Pic...",853095,Harry Potter à l'école des sorciers (2001),FR,"[actor, actor, actress, actor, actress, actor,...","[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",[Chris Columbus],"(['actor', 'actor', 'actress', 'actor', 'actre...",0.000000
10262,tt0295297,movie,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets,2002,161,"[Adventure, Family, Fantasy]",7.4,708845,2000,...,19836,"[Warner Bros. Pictures, Heyday Films, 1492 Pic...",689009,Harry Potter et la Chambre des secrets (2002),FR,"[actor, actor, actress, actor, actor, actress,...","[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",[Chris Columbus],"(['actor', 'actor', 'actress', 'actor', 'actor...",0.149602
10604,tt0330373,movie,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire,2005,157,"[Adventure, Family, Fantasy]",7.7,697546,2000,...,18752,"[Warner Bros. Pictures, Heyday Films, Patalex ...",678794,Harry Potter et la Coupe de feu (2005),FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[Mike Newell],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.416370
12907,tt0926084,movie,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows - Part 1,2010,146,"[Adventure, Family, Fantasy]",7.7,613777,2010,...,17312,"[Warner Bros. Pictures, Heyday Films]",596465,Harry Potter et les Reliques de la Mort : part...,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.423473
10342,tt0304141,movie,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban,2004,142,"[Adventure, Family, Fantasy]",7.9,708900,2000,...,19460,"[Warner Bros. Pictures, 1492 Pictures, Heyday ...",689440,Harry Potter et le Prisonnier d'Azkaban (2004),FR,"[actor, actress, actor, actor, actress, actres...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[Alfonso Cuarón],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.425953
14393,tt1201607,movie,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows - Part 2,2011,130,"[Adventure, Family, Fantasy]",8.1,970189,2010,...,18680,"[Warner Bros. Pictures, Heyday Films]",951509,Harry Potter et les Reliques de la Mort : part...,FR,"[actor, actress, actor, actor, actor, actor, a...","[Daniel Radcliffe, Emma Watson, Rupert Grint, ...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.452837
18868,tt3183660,movie,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,2016,132,"[Adventure, Family, Fantasy]",7.2,515915,2010,...,17592,"[Heyday Films, Warner Bros. Pictures]",498323,Les Animaux fantastiques (2016),FR,"[actor, actress, actress, actor, actor, actor,...","[Eddie Redmayne, Katherine Waterston, Alison S...",[David Yates],"(['actor', 'actress', 'actress', 'actor', 'act...",1.466432
5632,tt0091369,movie,Labyrinth,Labyrinth,1986,101,"[Adventure, Family, Fantasy]",7.3,153732,1980,...,2091,"[Henson Associates, Inc., Lucasfilm Ltd., The ...",151641,Labyrinthe (1986),FR,"[actor, actress, actor, actress, actor, actres...","[David Bowie, Jennifer Connelly, Toby Froud, S...",[Jim Henson],"(['actor', 'actress', 'actor', 'actress', 'act...",1.488504
10879,tt0363771,movie,"The Chronicles of Narnia: The Lion, the Witch ...","The Chronicles of Narnia: The Lion, the Witch ...",2005,143,"[Adventure, Family, Fantasy]",6.9,435168,2000,...,9511,"[Walt Disney Pictures, Walden Media, C.S. Lewi...",425657,"Le Monde de Narnia : Le Lion, la Sorcière blan...",FR,"[actress, actress, actor, actor, actress, acto...","[Tilda Swinton, Georgie Henley, William Mosele...",[Andrew Adamson],"(['actress', 'actress', 'actor', 'actor', 'act...",1.522115
19597,tt4123430,movie,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,2018,134,"[Adventure, Family, Fantasy]",6.5,314785,2010,...,9978,"[Warner Bros. Pictures, Heyday Films]",304807,Les Animaux fantastiques : Les Crimes de Grind...,FR,"[actor, actress, actor, actor, actor, actress,...","[Eddie Redmayne, Katherine Waterston, Dan Fogl...",[David Yates],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.636054
12609,tt0814255,movie,Percy Jackson & the Olympians: The Lightning T...,Percy Jackson & the Olympians: The Lightning T...,2010,118,"[Adventure, Family, Fantasy]",5.9,206310,2010,...,6795,"[1492 Pictures, Sunswept Entertainment, Dune E...",199515,Percy Jackson : Le Voleur de foudre (2010),FR,"[actor, actor, actor, actor, actress, actor, a...","[Logan Lerman, Kevin McKidd, Steve Coogan, Bra...",[Chris Columbus],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.638164

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Jurassic World (2015),1.6,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.293027,0.219499,0.155672,0.912033,0.890003,0.949407

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
10977,tt0369610,movie,Jurassic World,Jurassic World,2015,124,"[Action, Adventure, Sci-Fi]",6.9,690253,2010,...,19031,"[Amblin Entertainment, Universal Pictures]",671222,Jurassic World (2015),FR,"[actor, actress, actor, actress, actor, actor,...","[Chris Pratt, Bryce Dallas Howard, Ty Simpkins...",[Colin Trevorrow],"(['actor', 'actress', 'actor', 'actress', 'act...",0.000000
21960,tt8041270,movie,Jurassic World Dominion,Jurassic World Dominion,2022,147,"[Action, Adventure, Sci-Fi]",5.6,214927,2020,...,4780,"[Amblin Entertainment, Universal Pictures]",210147,Jurassic World: Le Monde d'après (2022),FR,"[actor, actress, actress, actor, actor, actres...","[Chris Pratt, Bryce Dallas Howard, Laura Dern,...",[Colin Trevorrow],"(['actor', 'actress', 'actress', 'actor', 'act...",0.771842
12943,tt0948470,movie,The Amazing Spider-Man,The Amazing Spider-Man,2012,136,"[Action, Adventure, Sci-Fi]",6.9,717415,2010,...,15947,"[Marvel Entertainment, Laura Ziskin Production...",701468,The Amazing Spider-Man (2012),FR,"[actor, actor, actress, actor, actor, actor, a...","[Andrew Garfield, Andrew Garfield, Emma Stone,...",[Marc Webb],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.414257
19365,tt3778644,movie,Solo: A Star Wars Story,Solo: A Star Wars Story,2018,135,"[Action, Adventure, Sci-Fi]",6.9,387212,2010,...,7674,"[Lucasfilm Ltd., Walt Disney Pictures, Allison...",379538,Solo: A Star Wars Story (2018),FR,"[actor, actor, actress, actor, actor, actress,...","[Alden Ehrenreich, Woody Harrelson, Emilia Cla...",[Ron Howard],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.415344
15758,tt1483013,movie,Oblivion,Oblivion,2013,124,"[Action, Adventure, Sci-Fi]",7.0,561281,2010,...,9799,"[Universal Pictures, Relativity Media, Monolit...",551482,Oblivion (2013),FR,"[actor, actor, actress, actress, actor, actres...","[Tom Cruise, Morgan Freeman, Andrea Riseboroug...",[Joseph Kosinski],"(['actor', 'actor', 'actress', 'actress', 'act...",1.416169
18436,tt2660888,movie,Star Trek Beyond,Star Trek Beyond,2016,122,"[Action, Adventure, Sci-Fi]",7.0,261794,2010,...,6065,"[Skydance Media, Paramount, Bad Robot, Perfect...",255729,Star Trek : Sans limites (2016),FR,"[actor, actor, actor, actress, actor, actor, a...","[Chris Pine, Zachary Quinto, Karl Urban, Zoe S...",[Justin Lin],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.417013
16488,tt1663662,movie,Pacific Rim,Pacific Rim,2013,131,"[Action, Adventure, Sci-Fi]",6.9,538346,2010,...,11277,"[Double Dare You Productions, Legendary Pictures]",527069,Pacific Rim (2013),FR,"[actor, actor, actress, actor, actor, actor, a...","[Idris Elba, Charlie Hunnam, Rinko Kikuchi, Ch...",[Guillermo del Toro],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.417361
19021,tt3385516,movie,X-Men: Apocalypse,X-Men: Apocalypse,2016,144,"[Action, Adventure, Sci-Fi]",6.8,471841,2010,...,11947,"[The Donners' Company, Bad Hat Harry Productio...",459894,X-Men: Apocalypse (2016),FR,"[actor, actor, actor, actress, actress, actor,...","[James McAvoy, Michael Fassbender, Michael Fas...",[Bryan Singer],"(['actor', 'actor', 'actor', 'actress', 'actre...",1.417905
20020,tt4701182,movie,Bumblebee,Bumblebee,2018,114,"[Action, Adventure, Sci-Fi]",6.7,193559,2010,...,5401,"[Paramount, Allspark Pictures, Bay Films, di B...",188158,Bumblebee (2018),FR,"[actress, actor, actor, actor, actress, actor,...","[Hailee Steinfeld, Jorge Lendeborg Jr., John C...",[Travis Knight],"(['actress', 'actor', 'actor', 'actor', 'actre...",1.419971
13775,tt1104001,movie,Tron: Legacy,Tron: Legacy,2010,125,"[Action, Adventure, Sci-Fi]",6.8,360617,2010,...,6447,"[Walt Disney Pictures, Sean Bailey Productions]",354170,Tron : L'Héritage (2010),FR,"[actor, actor, actor, actress, actor, actor, a...","[Jeff Bridges, Jeff Bridges, Garrett Hedlund, ...",[Joseph Kosinski],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.420799
11985,tt0458339,movie,Captain America: The First Avenger,Captain America: The First Avenger,2011,124,"[Action, Adventure, Sci-Fi]",6.9,913445,2010,...,19799,[Marvel Studios],893646,Captain America: First Avenger (2011),FR,"[actor, actor, actor, actor, actor, actress, a...","[Chris Evans, Chris Evans, Hugo Weaving, Hugo ...",[Joe Johnston],"(['actor', 'actor', 'actor', 'actor', 'actor',...",1.422228

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
"Le Bon, la Brute et le Truand (1966)",0.0,1.6,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,1.394923,-0.433474,1.030978,0.917463,0.889637,0.908999

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
2674,tt0060196,movie,"The Good, the Bad and the Ugly","Il buono, il brutto, il cattivo",1966,178,"[Adventure, Drama, Western]",8.8,829173,1960,...,7371,"[United Artists, PEA, Arturo González Producci...",821802,"Le Bon, la Brute et le Truand (1966)",FR,"[actor, actor, actor, actor, actor, actor, act...","[Clint Eastwood, Eli Wallach, Lee Van Cleef, L...",[Sergio Leone],"(['actor', 'actor', 'actor', 'actor', 'actor',...",8.429370e-08
2615,tt0059578,movie,For a Few Dollars More,Per qualche dollaro in più,1965,132,"[Drama, Western]",8.2,280984,1960,...,3412,"[PEA, Constantin Film, Arturo González Producc...",277572,...et pour quelques dollars de plus (1965),FR,"[actor, actor, actor, actress, actor, actor, a...","[Clint Eastwood, Lee Van Cleef, Gian Maria Vol...",[Sergio Leone],"(['actor', 'actor', 'actor', 'actress', 'actor...",1.932394e+00
3036,tt0064116,movie,Once Upon a Time in the West,C'era una volta il West,1968,166,"[Drama, Western]",8.5,355643,1960,...,3755,"[Paramount, Rafran Cinematografica, San Marco]",351888,Il était une fois dans l'Ouest (1968),FR,"[actor, actor, actress, actor, actor, actor, a...","[Henry Fonda, Charles Bronson, Claudia Cardina...",[Sergio Leone],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.144551e+00
1068,tt0040897,movie,The Treasure of the Sierra Madre,The Treasure of the Sierra Madre,1948,126,"[Adventure, Drama, Western]",8.2,134451,1940,...,1007,[Warner Bros. Pictures],133444,Le Trésor de la Sierra Madre (1948),FR,"[actor, actor, actor, actor, actor, actor, act...","[Humphrey Bogart, Walter Huston, Tim Holt, Bru...",[John Huston],"(['actor', 'actor', 'actor', 'actor', 'actor',...",2.294527e+00
1698,tt0049730,movie,The Searchers,The Searchers,1956,119,"[Adventure, Drama, Western]",7.8,98175,1950,...,1173,"[C.V. Whitney Pictures, Warner Bros. Pictures]",97002,La prisonnière du désert (1956),FR,"[actor, actor, actress, actor, actress, actor,...","[John Wayne, Jeffrey Hunter, Vera Miles, Ward ...",[John Ford],"(['actor', 'actor', 'actress', 'actor', 'actre...",2.342151e+00
516,tt0031971,movie,Stagecoach,Stagecoach,1939,96,"[Adventure, Drama, Western]",7.8,55130,1930,...,940,"[Walter Wanger Productions, United Artists]",54190,La Chevauchée fantastique (1939),FR,"[actor, actress, actor, actor, actor, actress,...","[John Wayne, Claire Trevor, Andy Devine, John ...",[John Ford],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.381763e+00
3509,tt0068762,movie,Jeremiah Johnson,Jeremiah Johnson,1972,108,"[Adventure, Drama, Western]",7.6,35861,1970,...,504,"[Sanford Productions (III), Warner Bros. Pictu...",35357,Jeremiah Johnson (1972),FR,"[actor, actor, actress, actor, actor, actress,...","[Robert Redford, Will Geer, Delle Bolton, Josh...",[Sydney Pollack],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.422290e+00
3134,tt0065126,movie,True Grit,True Grit,1969,128,"[Adventure, Drama, Western]",7.4,52351,1960,...,655,[Wallis-Hazen Inc.],51696,100 Dollars pour un shérif (1969),FR,"[actor, actress, actor, actor, actor, actor, a...","[John Wayne, Kim Darby, Glen Campbell, Jeremy ...",[Henry Hathaway],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.440119e+00
3474,tt0068421,movie,The Cowboys,The Cowboys,1972,134,"[Adventure, Drama, Western]",7.4,16293,1970,...,196,"[Sanford Productions (III), Warner Bros. Pictu...",16097,John Wayne et les cow-boys (1972),FR,"[actor, actor, actor, actor, actress, actor, a...","[John Wayne, Roscoe Lee Browne, Bruce Dern, Br...",[Mark Rydell],"(['actor', 'actor', 'actor', 'actor', 'actress...",2.499989e+00
6457,tt0099348,movie,Dances with Wolves,Dances with Wolves,1990,181,"[Adventure, Drama, Western]",8.0,296378,1990,...,3692,"[Tig Productions, Majestic Films International...",292686,Danse avec les loups (1990),FR,"[actor, actress, actor, actor, actor, actress,...","[Kevin Costner, Mary McDonnell, Graham Greene,...",[Kevin Costner],"(['actor', 'actress', 'actor', 'actor', 'actor...",2.542163e+00
2502,tt0058461,movie,A Fistful of Dollars,Per un pugno di dollari,1964,99,"[Action, Drama, Western]",7.9,238366,1960,...,3638,"[Jolly Film, Ocean Films, United Artists, Cons...",234728,Pour une poignée de dollars (1964),FR,"[actor, actor, actress, actor, actor, actor, a...","[Clint Eastwood, Gian Maria Volontè, Marianne ...",[Sergio Leone],"(['actor', 'actor', 'actress', 'actor', 'actor...",2.547003e+00

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Özcan Alper,Özer Feyzioglu,Özer Kiziltan,Özgür Yildirim,averageRating,bucket 10,vote_average,numVotes,popularity,vote_count
title_y,,,,,,,,,,,,,,,,,,,,,
Pearl Harbor (2001),1.6,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0,0,0,0,-0.112934,0.088905,0.281894,0.898993,0.889432,0.903378

/tmp/ipykernel_16031/736276305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco['distance'] = d

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres_x,averageRating,numVotes,bucket 10,...,vote_count,production_companies_name,ecart vote,title_y,region,category,primaryName,directors,job_name,distance
9523,tt0213149,movie,Pearl Harbor,Pearl Harbor,2001,183,"[Action, Drama, Romance]",6.2,356649,2000,...,5749,"[Jerry Bruckheimer Films, Touchstone Pictures]",350900,Pearl Harbor (2001),FR,"[actor, actress, actor, actor, actor, actor, a...","[Ben Affleck, Kate Beckinsale, Josh Hartnett, ...",[Michael Bay],"(['actor', 'actress', 'actor', 'actor', 'actor...",0.000000
7257,tt0107711,movie,Nowhere to Run,Nowhere to Run,1993,94,"[Action, Drama, Romance]",5.7,26646,1990,...,582,"[Columbia Pictures, Adelson-Baumgarten Product...",26064,Cavale sans issue (1993),FR,"[actor, actress, actor, actor, actress, actor,...","[Jean-Claude Van Damme, Rosanna Arquette, Kier...",[Robert Harmon],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.502932
6323,tt0097889,movie,Miracle Mile,Miracle Mile,1988,87,"[Action, Drama, Romance]",7.0,12790,1980,...,196,"[Miracle Mile Productions Inc., Hemdale Film]",12594,Appel d'urgence (1988),FR,"[actor, actress, actor, actress, actor, actres...","[Anthony Edwards, Mare Winningham, John Agar, ...",[Steve De Jarnatt],"(['actor', 'actress', 'actor', 'actress', 'act...",1.598255
5004,tt0085276,movie,Breathless,Breathless,1983,100,"[Action, Drama, Romance]",6.0,10962,1980,...,207,"[Orion Pictures, Breathless Associates, Miko P...",10755,"À bout de souffle, Made in USA (1983)",FR,"[actor, actress, actor, actor, actor, actor, a...","[Richard Gere, Valérie Kaprisky, Art Metrano, ...",[Jim McBride],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.637472
7272,tt0107889,movie,The Program,The Program,1993,112,"[Action, Drama, Romance]",6.5,11793,1990,...,76,[Touchstone Pictures],11717,Le program (1993),FR,"[actor, actress, actor, actor, actress, actor,...","[James Caan, Halle Berry, Omar Epps, Craig She...",[David S. Ward],"(['actor', 'actress', 'actor', 'actor', 'actre...",1.668568
14605,tt1242599,movie,Bellflower,Bellflower,2011,106,"[Action, Drama, Romance]",6.3,8138,2010,...,124,[Coatwolf Productions],8014,Bellflower (2011),FR,"[actor, actor, actress, actress, actor, actor,...","[Evan Glodell, Tyler Dawson, Jessie Wiseman, R...",[Evan Glodell],"(['actor', 'actor', 'actress', 'actress', 'act...",1.730275
7820,tt0114214,movie,The Quick and the Dead,The Quick and the Dead,1995,108,"[Action, Drama, Romance]",6.5,105442,1990,...,1482,"[TriStar Pictures, IndieProd Company Productions]",103960,Mort ou vif (1995),FR,"[actress, actor, actor, actor, actor, actor, a...","[Sharon Stone, Gene Hackman, Russell Crowe, Le...",[Sam Raimi],"(['actress', 'actor', 'actor', 'actor', 'actor...",1.759983
5714,tt0092085,movie,Thrashin',Thrashin',1986,93,"[Action, Drama, Romance]",6.5,5190,1980,...,47,[Winters Hollywood Entertainment Holdings Corp...,5143,Skate Gang (1986),FR,"[actor, actor, actress, actor, actor, actor, a...","[Josh Brolin, Robert Rusler, Pamela Gidley, Br...",[David Winters],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.766852
19229,tt3640424,movie,Allied,Allied,2016,124,"[Action, Drama, Romance]",7.1,172949,2010,...,4164,"[Paramount, GK Films, ImageMovers, Huahua Media]",168785,Alliés (2016),FR,"[actor, actress, actor, actor, actor, actress,...","[Brad Pitt, Marion Cotillard, Jared Harris, Vi...",[Robert Zemeckis],"(['actor', 'actress', 'actor', 'actor', 'actor...",1.815810
1128,tt0041841,movie,Sands of Iwo Jima,Sands of Iwo Jima,1949,100,"[Action, Drama, Romance]",7.0,11637,1940,...,110,[Republic Pictures],11527,Iwo Jima (1949),FR,"[actor, actor, actress, actor, actor, actor, a...","[John Wayne, John Agar, Adele Mara, Forrest Tu...",[Allan Dwan],"(['actor', 'actor', 'actress', 'actor', 'actor...",1.875392
10452,tt0316356,movie,Open Range,Open Range,2003,139,"[Action, Drama, Romance]",7.4,80097,2000,...,904,"[Tig Productions, Touchstone Pictures, Cobalt ...",79193,Open Range (2003),FR,"[actor, actor, actor, actor, actress, actor, a...","[Kevin Costner, Robert Duvall, Diego Luna, Abr...",[Kevin Costner],"(['actor', 'actor', 'actor', 'actor', 'actress...",1.877018

In [39]:
# Trouver les 10 plus proches voisins pour chaque point de df_finish_him_concat 

distances, indices = neigh.kneighbors(df_finish_him_concat) 


# Exclure le premier résultat (le film d'origine) et garder les 10 suivants 

distances = distances[:, 1:] 
indices = indices[:, 1:]

# Créer une liste des titres des films correspondants aux indices des voisins

reco = [] 

for idx in indices: 
    reco.append(df_finish_him['title_y'].iloc[idx].tolist())

# Créer un DataFrame pour afficher les résultats 

recommendations = pd.DataFrame({ 'tconst': df_finish_him['tconst'],'Distances': list(distances), 'Titres_voisins': reco })

In [40]:
df_final_reco = df_finish_him.merge(recommendations, how='inner', left_on='tconst', right_on='tconst')

In [41]:
"https://image.tmdb.org/t/p/w200/14q24aBfJPrjumuWjKKA6Bwml2A.jpg"

df_final_reco['url_poster_path'] = df_final_reco['poster_path'].apply(lambda row: f"https://image.tmdb.org/t/p/w200{row}")

In [42]:
df_final = df_final_reco.to_csv("df_final.csv")

In [49]:

df_final_test_2 = pd.read_csv('df_final.csv')

df_final_test_2 = df_final_test_2.drop(columns='Unnamed: 0')

df_tmdb = pd.read_csv('tmdb_full.csv')

df_tmdb.info()

df_final_test_2 = df_final_test_2.merge(df_tmdb[['imdb_id','id']], left_on='tconst', right_on='imdb_id', how='inner')

/tmp/ipykernel_16031/1791726344.py:5: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb = pd.read_csv('tmdb_full.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309572 entries, 0 to 309571
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   adult                         309572 non-null  bool
 1   backdrop_path                 151760 non-null  object
 2   budget                        309572 non-null  int64
 3   genres                        309572 non-null  object
 4   homepage                      44262 non-null   object
 5   id                            309572 non-null  int64
 6   imdb_id                       309572 non-null  object
 7   original_language             309572 non-null  object
 8   original_title                309572 non-null  object
 9   overview                      282512 non-null  object
 10  popularity                    309572 non-null  float64
 11  poster_path                   264159 non-null  object
 12  production_countries          309572 non-null  object
 13  release_date                  301339 non-null  object
 14  revenue                       309572 non-null  int64
 15  runtime                       309572 non-null  int64
 16  spoken_languages              309572 non-null  object
 17  status                        309572 non-null  object
 18  tagline                       74573 non-null   object
 19  title                         309572 non-null  object
 20  video                         309572 non-null  bool
 21  vote_average                  309572 non-null  float64
 22  vote_count                    309572 non-null  int64
 23  production_companies_name     309572 non-null  object
 24  production_companies_country  164438 non-null  object
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 54.9+ MB

In [50]:
df_final_test_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22764 entries, 0 to 22763
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22764 non-null  object
 1   titleType                  22764 non-null  object
 2   primaryTitle               22764 non-null  object
 3   originalTitle              22764 non-null  object
 4   startYear                  22764 non-null  int64
 5   runtimeMinutes             22764 non-null  int64
 6   genres_x                   22764 non-null  object
 7   averageRating              22764 non-null  float64
 8   numVotes                   22764 non-null  int64
 9   bucket 10                  22764 non-null  int64
 10  backdrop_path              22764 non-null  object
 11  original_language          22764 non-null  object
 12  overview                   22764 non-null  object
 13  popularity                 22764 non-null  float64
 14  poster_path                22764 non-null  object
 15  production_countries       22764 non-null  object
 16  spoken_languages           22764 non-null  object
 17  vote_average               22764 non-null  float64
 18  vote_count                 22764 non-null  int64
 19  production_companies_name  22764 non-null  object
 20  ecart vote                 22764 non-null  int64
 21  title_y                    22764 non-null  object
 22  region                     22764 non-null  object
 23  category                   22764 non-null  object
 24  primaryName                22764 non-null  object
 25  directors                  22764 non-null  object
 26  job_name                   22764 non-null  object
 27  Distances                  22764 non-null  object
 28  Titres_voisins             22764 non-null  object
 29  url_poster_path            22764 non-null  object
 30  imdb_id                    22764 non-null  object
 31  id                         22764 non-null  int64
dtypes: float64(3), int64(7), object(22)
memory usage: 5.6+ MB

In [51]:
import requests

url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ODg1Yjc5MDcwOTZmMzVhYzdjMjNmNDAwYWIyOTU0NSIsIm5iZiI6MTczMjI2MzgwMi4yMDgsInN1YiI6IjY3NDAzZjdhOGI0ZTRjMmVmNmY3ODFhNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.5USrXDhX_RiCT2pzeSES95HgeNjnohXsIDbIyz8Qf3I"
}

response = requests.get(url, headers=headers)

print(response)

df_final_test_2[['Titres_voisins']]

<Response [200]>

                                          Titres_voisins
0      ['Monsieur Joe (1949)', 'Horizons perdus (1937...
1      ['Les Trois Lumières (1921)', 'Nous sommes la ...
2      ['Le comte de Monte-Cristo (1975)', 'Pour qui ...
3      ["Panique à l'hôtel (1938)", 'Illusions perdue...
4      ['Retour aux Philippines (1945)', 'Le Long Voy...
...                                                  ...
22759  ['Vikram (2022)', 'Master (2021)', 'Ratsasan (...
22760  ['Les gens de Dublin (1987)', 'The Magdalene S...
22761  ['Freddy sort de la nuit (1994)', '1408: Teatt...
22762  ['Simon (2004)', 'Les habitants (1992)', 'Ober...
22763  ['Las 13 rosas (2007)', 'Des hommes et des die...

[22764 rows x 1 columns]

In [8]:
import requests

# URL de base pour les requêtes à TMDb
base_url = 'https://api.themoviedb.org/3'

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ODg1Yjc5MDcwOTZmMzVhYzdjMjNmNDAwYWIyOTU0NSIsIm5iZiI6MTczMjI2MzgwMi4yMDgsInN1YiI6IjY3NDAzZjdhOGI0ZTRjMmVmNmY3ODFhNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.5USrXDhX_RiCT2pzeSES95HgeNjnohXsIDbIyz8Qf3I"
}


# Fonction pour récupérer le résumé d'un film en français
def get_movie_overview(movie_id, language='fr'):
    url = f"{base_url}/movie/{movie_id}"
    params = {
        'language': language
    }
    response = requests.get(url, headers=headers, params=params)
    if response.status_code == 200:
        data = response.json()
        return data['overview']
    else:
        return None

# Liste des IDs de films à rechercher
movie_ids = df_final_test_2['id']  # Exemple d'IDs de films

# Liste pour stocker les résultats
results = []

# Récupérer et afficher les résumés des films
for movie_id in movie_ids:
    overview = get_movie_overview(movie_id)
    if overview:
        results.append({'id': movie_id, 'overview': overview})
    else:
        results.append({'id': movie_id, 'overview': 'Erreur lors de la récupération'})

# Créer un DataFrame à partir des résultats
df_movies = pd.DataFrame(results)

# Afficher le DataFrame
print(df_movies)

           id                                           overview
0       70512  Dans une scénographie inspirée des illustratio...
1       28627  Prague, Bohème, 1820. Balduin, un étudiant san...
2        5153  Pendant la Deuxième guerre punique, un espion ...
3       22943  Chaplin, mauvais garçon de la ville, est venu ...
4         618  Pendant la guerre de Sécession aux États-Unis,...
...       ...                                                ...
22769  587030  Un ex-détenu en liberté conditionnelle est obl...
22770  653708  Luttant pour offrir à ses filles une maison sû...
22771  630392  XIXe siècle, dans la campagne française, un vi...
22772  591915                     Erreur lors de la récupération
22773  655187  Pays basque, 1609. Ana, Katalin et leurs amies...

[22774 rows x 2 columns]

In [52]:
df_movies = pd.read_csv('df_résumé.csv')

# # Afficher les résultats 


df_final_test_2=df_final_test_2.merge(df_movies, how='inner', left_on='id', right_on='id')


#df_errors = df_final_test_2[df_final_test_2['résumé'].str.contains('Erreur lors de la récupération')]



#df_final_test_2 = df_final_test_2.drop(columns=['résumé'])

# df_errors = df_final[df_final['résumé'].str.contains('Erreur lors de la récupération')]

# df_errors


df_final_test_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22764 entries, 0 to 22763
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     22764 non-null  object
 1   titleType                  22764 non-null  object
 2   primaryTitle               22764 non-null  object
 3   originalTitle              22764 non-null  object
 4   startYear                  22764 non-null  int64
 5   runtimeMinutes             22764 non-null  int64
 6   genres_x                   22764 non-null  object
 7   averageRating              22764 non-null  float64
 8   numVotes                   22764 non-null  int64
 9   bucket 10                  22764 non-null  int64
 10  backdrop_path              22764 non-null  object
 11  original_language          22764 non-null  object
 12  overview                   22764 non-null  object
 13  popularity                 22764 non-null  float64
 14  poster_path                22764 non-null  object
 15  production_countries       22764 non-null  object
 16  spoken_languages           22764 non-null  object
 17  vote_average               22764 non-null  float64
 18  vote_count                 22764 non-null  int64
 19  production_companies_name  22764 non-null  object
 20  ecart vote                 22764 non-null  int64
 21  title_y                    22764 non-null  object
 22  region                     22764 non-null  object
 23  category                   22764 non-null  object
 24  primaryName                22764 non-null  object
 25  directors                  22764 non-null  object
 26  job_name                   22764 non-null  object
 27  Distances                  22764 non-null  object
 28  Titres_voisins             22764 non-null  object
 29  url_poster_path            22764 non-null  object
 30  imdb_id                    22764 non-null  object
 31  id                         22764 non-null  int64
 32  Unnamed: 0                 22764 non-null  int64
 33  résumé                     22764 non-null  object
dtypes: float64(3), int64(8), object(23)
memory usage: 5.9+ MB

In [53]:
def flag_res(text): 
    if text == 'Erreur lors de la récupération': 
        return 1
    else: 
        return 0


df_final_test_2['flag_resum'] = df_final_test_2['résumé'].apply(flag_res)

In [54]:
def overview_eng(text): 
    if text == 'Erreur lors de la récupération': 
        return df_final_test_2['overview'] 
    else: 
        return text

df_final_test_2['résumé'] = df_final_test_2['résumé'].apply(overview_eng)

In [55]:
df_final_test_2['flag_resum'].value_counts()

flag_resum
0    21790
1      974
Name: count, dtype: int64

In [57]:
df_final_test_2[['title_y','Titres_voisins']].to_csv('reco.csv')

In [ ]:
!pip install 'transformers[torch]'
# from transformers import AutoTokenizer, AutoModel
# import torch
# import numpy as np

# tokenizer = AutoTokenizer.from_pretrained("sentence-transformers/LaBSE")
# model = AutoModel.from_pretrained("sentence-transformers/LaBSE")

# def get_features_text_nn(text:str):
#     input = tokenizer(text, return_tensors="pt", padding=True, truncation=True, max_length=512)
#     with torch.no_grad():
#         outputs1 = model(**input)
#     return np.array(outputs1.pooler_output)

# print(get_features_text_nn("salut les potes").shape)

Collecting transformers[torch]
  Downloading transformers-4.47.1-py3-none-any.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.1/44.1 kB 3.2 MB/s eta 0:00:00
Collecting filelock (from transformers[torch])
  Downloading filelock-3.16.1-py3-none-any.whl.metadata (2.9 kB)
Collecting huggingface-hub<1.0,>=0.24.0 (from transformers[torch])
  Downloading huggingface_hub-0.27.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.12/dist-packages (from transformers[torch]) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from transformers[torch]) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/lib/python3/dist-packages (from transformers[torch]) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.12/dist-packages (from transformers[torch]) (2024.11.6)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from transformers[torch]) (2.31.0)
Collecting tokenizers<0.22,>=0.21 (from transformers[torch])
  Downloading tokenizers-0.21.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Collecting safetensors>=0.4.1 (from transformers[torch])
  Downloading safetensors-0.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.12/dist-packages (from transformers[torch]) (4.67.1)
Collecting torch (from transformers[torch])
  Downloading torch-2.5.1-cp312-cp312-manylinux1_x86_64.whl.metadata (28 kB)
Collecting accelerate>=0.26.0 (from transformers[torch])
  Downloading accelerate-1.2.1-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: psutil in /root/.local/lib/python3.12/site-packages (from accelerate>=0.26.0->transformers[torch]) (6.1.0)
Collecting fsspec>=2023.5.0 (from huggingface-hub<1.0,>=0.24.0->transformers[torch])
  Downloading fsspec-2024.10.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub<1.0,>=0.24.0->transformers[torch]) (4.12.2)
Collecting networkx (from torch->transformers[torch])
  Downloading networkx-3.4.2-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: jinja2 in /usr/lib/python3/dist-packages (from torch->transformers[torch]) (3.1.2)
Collecting nvidia-cuda-nvrtc-cu12==12.4.127 (from torch->transformers[torch])
  Downloading nvidia_cuda_nvrtc_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.4.127 (from torch->transformers[torch])
  Downloading nvidia_cuda_runtime_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.4.127 (from torch->transformers[torch])
  Downloading nvidia_cuda_cupti_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==9.1.0.70 (from torch->transformers[torch])
  Downloading nvidia_cudnn_cu12-9.1.0.70-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.4.5.8 (from torch->transformers[torch])
  Downloading nvidia_cublas_cu12-12.4.5.8-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.2.1.3 (from torch->transformers[torch])
  Downloading nvidia_cufft_cu12-11.2.1.3-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.5.147 (from torch->transformers[torch])
  Downloading nvidia_curand_cu12-10.3.5.147-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.6.1.9 (from torch->transformers[torch])
  Downloading nvidia_cusolver_cu12-11.6.1.9-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.3.1.170 (from torch->transformers[torch])
  Downloading nvidia_cusparse_cu12-12.3.1.170-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-nccl-cu12==2.21.5 (from torch->transformers[torch])
  Downloading nvidia_nccl_cu12-2.21.5-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Collecting nvidia-nvtx-cu12==12.4.127 (from torch->transformers[torch])
  Downloading nvidia_nvtx_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.7 kB)
Collecting nvidia-nvjitlink-cu12==12.4.127 (from torch->transformers[torch])
  Downloading nvidia_nvjitlink_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting triton==3.1.0 (from torch->transformers[torch])
  Downloading triton-3.1.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.3 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from torch->transformers[torch]) (75.6.0)
Collecting sympy==1.13.1 (from torch->transformers[torch])
  Downloading sympy-1.13.1-py3-none-any.whl.metadata (12 kB)
Collecting mpmath<1.4,>=1.1.0 (from sympy==1.13.1->torch->transformers[torch])
  Downloading mpmath-1.3.0-py3-none-any.whl.metadata (8.6 kB)
Downloading accelerate-1.2.1-py3-none-any.whl (336 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.4/336.4 kB 9.1 MB/s eta 0:00:00ta 0:00:01
Downloading huggingface_hub-0.27.0-py3-none-any.whl (450 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 450.5/450.5 kB 11.1 MB/s eta 0:00:00a 0:00:01
Downloading safetensors-0.4.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (434 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 434.8/434.8 kB 10.9 MB/s eta 0:00:00a 0:00:01
Downloading tokenizers-0.21.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 10.9 MB/s eta 0:00:0000:0100:01
Downloading torch-2.5.1-cp312-cp312-manylinux1_x86_64.whl (906.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 906.4/906.4 MB 4.6 MB/s eta 0:00:00:00:010:03m
Downloading nvidia_cublas_cu12-12.4.5.8-py3-none-manylinux2014_x86_64.whl (363.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.4/363.4 MB 2.5 MB/s eta 0:00:0000:0100:02m
Downloading nvidia_cuda_cupti_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl (13.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.8/13.8 MB 1.1 MB/s eta 0:00:0000:0100:010m
Downloading nvidia_cuda_nvrtc_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl (24.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.6/24.6 MB 10.3 MB/s eta 0:00:0000:0100:01
Downloading nvidia_cuda_runtime_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl (883 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 883.7/883.7 kB 9.8 MB/s eta 0:00:00ta 0:00:01
Downloading nvidia_cudnn_cu12-9.1.0.70-py3-none-manylinux2014_x86_64.whl (664.8 MB)
   ━━━━━━━━━━━━╸━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.8/664.8 MB 11.4 MB/s eta 0:00:40

In [ ]:
# import pandas as pd
# from translate import Translator

# # Lire le fichier CSV
# df_final = pd.read_csv('df_final.csv')

# # Initialiser le traducteur
# translator = Translator(to_lang="fr")

# # Appliquer la traduction à chaque texte dans la colonne 'overview'
# df_final['résumé'] = df_final['overview'].head(10000).apply(lambda x: translator.translate(x) if pd.notnull(x) else x)

# # Afficher les 5 premières lignes pour vérifier