In [2]:
import pandas as pd

In [53]:
df_final = pd.read_csv('df_final.csv')

In [56]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22774 entries, 0 to 22773
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 22774 non-null  int64
 1   titleType                  22774 non-null  object
 2   startYear                  22774 non-null  int64
 3   runtimeMinutes             22774 non-null  int64
 4   genres_x                   22774 non-null  object
 5   averageRating              22774 non-null  float64
 6   numVotes                   22774 non-null  int64
 7   backdrop_path              22774 non-null  object
 8   original_language          22774 non-null  object
 9   popularity                 22774 non-null  float64
 10  poster_path                22774 non-null  object
 11  spoken_languages           22774 non-null  object
 12  vote_average               22774 non-null  float64
 13  vote_count                 22774 non-null  int64
 14  production_companies_name  22774 non-null  object
 15  title_y                    22774 non-null  object
 16  category                   22774 non-null  object
 17  primaryName                22774 non-null  object
 18  directors                  22774 non-null  object
 19  Distances                  22774 non-null  object
 20  Titres_voisins             22774 non-null  object
 21  url_poster_path            22774 non-null  object
 22  résumé                     22774 non-null  object
 23  flag_resum                 22774 non-null  int64
dtypes: float64(3), int64(6), object(15)
memory usage: 4.2+ MB

In [1]:
test_items = [
    dict(
        title="Slide 1",
        text="A tree in the savannah",
        img="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=1380&t=st=1688825493~exp=1688826093~hmac=cb486d2646b48acbd5a49a32b02bda8330ad7f8a0d53880ce2da471a45ad08a4",    
        link="https://discuss.streamlit.io/t/new-component-react-bootstrap-carousel/46819",
    ),
    dict(
        title="Slide 2",
        text="A wooden bridge in a forest in Autumn",
        img="https://img.freepik.com/free-photo/beautiful-wooden-pathway-going-breathtaking-colorful-trees-forest_181624-5840.jpg?w=1380&t=st=1688825780~exp=1688826380~hmac=dbaa75d8743e501f20f0e820fa77f9e377ec5d558d06635bd3f1f08443bdb2c1",
        link="https://github.com/thomasbs17/streamlit-contributions/tree/master/bootstrap_carousel",
    ),
    dict(
        title="Slide 3",
        text="A distant mountain chain preceded by a sea",
        img="https://img.freepik.com/free-photo/aerial-beautiful-shot-seashore-with-hills-background-sunset_181624-24143.jpg?w=1380&t=st=1688825798~exp=1688826398~hmac=f623f88d5ece83600dac7e6af29a0230d06619f7305745db387481a4bb5874a0",
        link="https://github.com/thomasbs17/streamlit-contributions/tree/master",
    ),
    dict(
        title="Slide 4",
        text="PANDAS",
        img="pandas.webp",
    ),
    dict(
        title="Slide 4",
        text="CAT",
        img="cat.jpg",
    ),
]

test_items

[{'title': 'Slide 1',
  'text': 'A tree in the savannah',
  'img': 'https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=1380&t=st=1688825493~exp=1688826093~hmac=cb486d2646b48acbd5a49a32b02bda8330ad7f8a0d53880ce2da471a45ad08a4',
  'link': 'https://discuss.streamlit.io/t/new-component-react-bootstrap-carousel/46819'},
 {'title': 'Slide 2',
  'text': 'A wooden bridge in a forest in Autumn',
  'img': 'https://img.freepik.com/free-photo/beautiful-wooden-pathway-going-breathtaking-colorful-trees-forest_181624-5840.jpg?w=1380&t=st=1688825780~exp=1688826380~hmac=dbaa75d8743e501f20f0e820fa77f9e377ec5d558d06635bd3f1f08443bdb2c1',
  'link': 'https://github.com/thomasbs17/streamlit-contributions/tree/master/bootstrap_carousel'},
 {'title': 'Slide 3',
  'text': 'A distant mountain chain preceded by a sea',
  'img': 'https://img.freepik.com/free-photo/aerial-beautiful-shot-seashore-with-hills-background-sunset_181624-24143.jpg?w=1380&t=st=1688825798~exp=1688826398~hmac=f623f88d5ece83600dac7e6af29a0230d06619f7305745db387481a4bb5874a0',
  'link': 'https://github.com/thomasbs17/streamlit-contributions/tree/master'},
 {'title': 'Slide 4', 'text': 'PANDAS', 'img': 'pandas.webp'},
 {'title': 'Slide 4', 'text': 'CAT', 'img': 'cat.jpg'}]

In [57]:
df_final['occurrences'] = df_final['title_y'].map(df_final['title_y'].value_counts())

In [22]:
df_final = df_final.sort_values(by='title_y', ascending=True)

In [72]:
df_final[['titleType','title_y']].head(50)

   titleType                                     title_y
0      movie                                     L'Enfer
1      movie                        L'étudiant de Prague
2      movie                                     Cabiria
3      movie  La Folle Aventure de Charlot et de Lolotte
4      movie                      Naissance d'une nation
5      movie                                  Forfaiture
6      movie                                Les vampires
7      movie                 20 000 lieues sous les mers
8      movie                                 Intolérance
9      movie                                 Terje Vigen
10     movie                               Les Proscrits
11     movie                    La princesse aux huîtres
12     movie                                Le lys brisé
13     movie                                    J'accuse
14     movie              Le Cabinet du docteur Caligari
15     movie                                   La poupée
16     movie                             Le pauvre amour
17     movie                Le Docteur Jekyll et M. Hyde
18     movie                                    Le Golem
19     movie                           Le signe de Zorro
20     movie                                       Satan
21     movie                           À travers l'orage
22     movie                            Within Our Gates
23     movie        Les Quatre Cavaliers de l'Apocalypse
24     movie                                      Le Kid
25     movie                        La charrette fantôme
26     movie                          Les Trois Lumières
27     movie                         Les Deux Orphelines
28     movie                   La découverte d'un secret
29     movie                                    Le Cheik
30     movie                            Le droit d'aimer
31     movie                   Docteur Mabuse, le joueur
32     movie                            Folies de femmes
33     movie                   Le talisman de Grand-mère
34     movie           La Sorcellerie à travers les âges
35     movie                           Nanouk l'Esquimau
36     movie                        Nosferatu le vampire
37     movie                              Robin des Bois
38     movie                      Le Bossu de Notre-Dame
39     movie                   Les lois de l'hospitalité
40     movie                                  Le pélerin
41     movie                             La rose du rail
42     movie                            Monte là-dessus!
43     movie                       Les dix commandements
44     movie                              Les trois âges
45     movie              Le cabinet des figures de cire
46     movie                         Faut pas s'en faire
47     movie                          L'opinion publique
48     movie                                      Aelita
49     movie                              Ça t'la coupe!

In [74]:
def new_title(occurrence, df_final):
    if occurrence != 1:
        df_final['new_title'] = df_final['title_y'] + ' ' + '('+df_final['startYear'].astype(str)+')'
    return df_final

In [60]:
df_final['occurrences'].value_counts()

occurrences
1    21286
2     1188
3      228
4       52
5       20
Name: count, dtype: int64

In [78]:
df_final = new_title(5, df_final)

In [79]:
df_final['occurrences_2'] = df_final['new_title'].map(df_final['new_title'].value_counts())

In [83]:
df_final_doublons = df_final[df_final['occurrences_2'] == 2]

In [84]:
df_final_doublons[['titleType','new_title','occurrences_2','vote_average','title_y']]

,titleType,new_title,occurrences_2,vote_average,title_y
13447,movie,The Call (2020),2,7.558,The Call (2020)
13938,movie,Beast (2022),2,5.789,Beast (2022)
14452,movie,Rebelle (2012),2,7.008,Rebelle (2012)
14860,movie,The Call (2020),2,5.643,The Call (2020)
15002,movie,Beast (2022),2,6.806,Beast (2022)
15279,movie,The Power (2021),2,6.700,The Power (2021)
15801,movie,Crush (2022),2,5.761,Crush (2022)
15857,movie,Crush (2022),2,7.611,Crush (2022)
16909,movie,Rebelle (2012),2,6.572,Rebelle (2012)
17358,movie,Arnaque à la carte (2013),2,5.840,Arnaque à la carte (2013)
18326,tvMovie,Arnaque à la carte (2013),2,6.985,Arnaque à la carte (2013)
20426,movie,Dreamland (2019),2,6.051,Dreamland (2019)
21723,movie,Beats (2019),2,6.730,Beats (2019)
22023,movie,Dreamland (2019),2,7.400,Dreamland (2019)
22067,movie,Furie (2019),2,5.800,Furie (2019)
22116,movie,Mosul (2019),2,7.100,Mosul (2019)
22208,movie,Beats (2019),2,6.776,Beats (2019)
22523,movie,Mosul (2019),2,6.695,Mosul (2019)
22548,movie,The Power (2021),2,6.141,The Power (2021)
22587,movie,Furie (2019),2,6.500,Furie (2019)

In [96]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22774 entries, 0 to 22773
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   titleType                  22774 non-null  object
 1   startYear                  22774 non-null  int64
 2   runtimeMinutes             22774 non-null  int64
 3   genres_x                   22774 non-null  object
 4   averageRating              22774 non-null  float64
 5   numVotes                   22774 non-null  int64
 6   backdrop_path              22774 non-null  object
 7   original_language          22774 non-null  object
 8   popularity                 22774 non-null  float64
 9   poster_path                22774 non-null  object
 10  spoken_languages           22774 non-null  object
 11  vote_average               22774 non-null  float64
 12  vote_count                 22774 non-null  int64
 13  production_companies_name  22774 non-null  object
 14  title_y                    22774 non-null  object
 15  category                   22774 non-null  object
 16  primaryName                22774 non-null  object
 17  directors                  22774 non-null  object
 18  Distances                  22774 non-null  object
 19  Titres_voisins             22774 non-null  object
 20  url_poster_path            22774 non-null  object
 21  résumé                     22774 non-null  object
 22  flag_resum                 22774 non-null  int64
 23  occurrences_2              22774 non-null  int64
dtypes: float64(3), int64(6), object(15)
memory usage: 4.2+ MB

In [91]:
df_final.to_csv('df_final.csv')

In [93]:
df_reco = df_final[['title_y', 'Titres_voisins']]

In [95]:
df_reco.to_csv('reco.csv')

In [97]:
df_final['title_y']

0                                           L'Enfer (1911)
1                              L'étudiant de Prague (1913)
2                                           Cabiria (1914)
3        La Folle Aventure de Charlot et de Lolotte (1914)
4                            Naissance d'une nation (1915)
                               ...
22769                                        Kaithi (2019)
22770                                       Herself (2020)
22771                              Eight for Silver (2021)
22772                De Beentjes van Sint-Hildegard (2020)
22773                      Les sorcières d'Akelarre (2020)
Name: title_y, Length: 22774, dtype: object